# CityBikes

Send a request to CityBikes for the city of your choice.

In [52]:
import pandas as pd
import requests
import pprint

pp = pprint.PrettyPrinter(indent=4)

# I chose the toronto bikeshare app for this project since I personally use it and have a membership.
request_url = f'http://api.citybik.es/v2/networks/bixi-toronto'
response = requests.get(request_url, headers={'network': 'location/JSON'}).json()

#print(response)

# I imported pprint to make the output look better
#pp.pprint(response)

Parse through the response to get the details you want for the bike stations in that city (latitude, longitude, number of bikes).

Put your parsed results into a DataFrame.

In [58]:
# Extract the 'stations' data from the response
stations_data = response['network']['stations']

#Keeping the three columns Latitude, Longitude and number of bikes
columns_to_keep = ['free_bikes', 'latitude', 'longitude']

# Create a DataFrame from the 'stations' data
df1 = pd.DataFrame(stations_data, columns=columns_to_keep)

# This prints all the bike stations in toronto and shows the number of bikes, latitude and longitude.
#I used df.head() to show the data in a tabular format.

#print(df)
df1.head(670)

     free_bikes   latitude  longitude
0            15  43.665269 -79.319796
1             0  43.671420 -79.445947
2            11  43.666224 -79.317693
3             0  43.653236 -79.376716
4             5  43.663722 -79.380288
..          ...        ...        ...
664           5  43.637894 -79.454823
665           9  43.652508 -79.465423
666           5  43.653527 -79.465057
667           7  43.652686 -79.358395
668           6  43.666851 -79.381146

[669 rows x 3 columns]