# CityBikes

Send a request to CityBikes for the city of your choice.

Parse through the response to get the details you want for the bike stations in that city (latitude, longitude, number of bikes).

Put your parsed results into a DataFrame.

In [1]:
#Citybike API notebok

import pandas as pd
import requests
import pprint


# I chose the toronto bikeshare app for this project since I personally use it and have a membership.
request_url = f'http://api.citybik.es/v2/networks/bixi-toronto'
response = requests.get(request_url, headers={'network': 'location/JSON'}).json()



# Extract the 'stations' data from the response
stations_data = response['network']['stations']

#Keeping the three columns Latitude, Longitude and number of bikes
columns_to_keep = ['name','free_bikes', 'latitude', 'longitude']

# Create a DataFrame from the 'stations' data
df1 = pd.DataFrame(stations_data, columns=columns_to_keep)

# This prints all the bike stations in toronto and shows the number of bikes, latitude and longitude.
#I used df.head() to show the data in a tabular format.

df1.head(670)

df2= df1.head()
#extracting each bikes longitude and latitude
lat = df2['latitude'].tolist()
long = df2['longitude'].tolist()

In [2]:
#Citybikes info results, showing the name of the bike station, number of free bikes(not static), latitude and longitude
df2.head()

                          name  free_bikes   latitude  longitude
0    Queen St E / Woodward Ave           6  43.665269 -79.319796
1  Primrose Ave / Davenport Rd           3  43.671420 -79.445947
2    Queen St. E / Rhodes Ave.          13  43.666224 -79.317693
3         Bond St / Queen St E           0  43.653236 -79.376716
4     Church St / Alexander St           9  43.663722 -79.380288