# Foursquare

Send a request to Foursquare with a small radius (1000m) for all the bike stations in your city of choice.

In [5]:
# imports
import pandas as pd
import requests
import pprint
import os

Parse through the response to get the POI (such as restaurants, bars, etc) details you want (ratings, name, location, etc)

Put your parsed results into a DataFrame

In [6]:
#Citybike API notebok

import pandas as pd
import requests
import pprint


# I chose the toronto bikeshare app for this project since I personally use it and have a membership.
request_url = f'http://api.citybik.es/v2/networks/bixi-toronto'
response = requests.get(request_url, headers={'network': 'location/JSON'}).json()


# Extract the 'stations' data from the response
stations_data = response['network']['stations']

#Keeping the three columns Latitude, Longitude and number of bikes
columns_to_keep = ['name','free_bikes', 'latitude', 'longitude']

# Create a DataFrame from the 'stations' data
df1 = pd.DataFrame(stations_data, columns=columns_to_keep)

# This prints all the bike stations in toronto and shows the number of bikes, latitude and longitude.
#I used df.head() to show the data in a tabular format.

df1.head(670)


#extracting each bikes longitude and latitude
lat = df1['latitude'].tolist()
long = df1['longitude'].tolist()

In [24]:
# Define the file path for the CSV file
csv_file_city = "city_data.csv"

# Save the DataFrame to a CSV file
df1.to_csv(csv_file_city, index=False)

In [7]:
# Retreiving API key from environment variable
key = os.environ.get('foursqaure_api')

In [22]:
import json
import pandas as pd

#these are the columns we want to present in our Dataframe
desired_columns = ['name', 'location', 'distance', 'categories']
Foursquare_df = pd.DataFrame()

for n in range(len(df1)):
    name = df1.at[n, 'name']
    lat = df1.at[n, 'latitude']
    long = df1.at[n, 'longitude']
    free_bikes = df1.at[n, 'free_bikes']
    print("Station Name:", name, "lat:", lat, "long:", long, "Number of free bikes are:", free_bikes)
    
    url = f"https://api.foursquare.com/v3/places/search?ll={lat}%2C{long}&radius=1000&categories=13064%2C%2013003%2C%2013035%2C%2017114"
    headers = {
        "accept": "application/json",
        "Authorization": key  
    }

    response = requests.get(url, headers=headers)
    data = response.json()

    # Save the Foursquare JSON data to a single file
    with open('foursquare.json', 'w') as json_file:
        json.dump(data, json_file, indent=2)

    # Define the file path for the raw json file
    json_foursquare = 'foursquare.json'  # Update the file path accordingly

    # Reading the JSON data from the file
    with open(json_foursquare, 'r') as json_file:
        data = json.load(json_file)

    POI_data = data['results']
    df3 = pd.DataFrame(POI_data)
    
    # Check if 'location' key exists in the DataFrame and apply lambda function conditionally
    df3['location'] = df3['location'].apply(lambda loc: loc['address'] if 'address' in loc else None)
    df3['categories'] = df3['categories'].apply(lambda x: x[0]['name'] if x else '')
    df3['bike_station_name'] = name
    df3['Latitude'] = lat
    df3['Longitude'] = long
    df3['bike_station_coordinates'] = df3['Latitude'].astype(str) + ', ' + df3['Longitude'].astype(str)

    selected_columns = df3[desired_columns]
    display(selected_columns.head())
    Foursquare_df = pd.concat([Foursquare_df, df3])

Station Name: Queen St E / Woodward Ave lat: 43.665269 long: -79.319796 Number of free bikes are: 18

                name           location  distance   categories
0       The Sidekick    1374 Queen St E       440  Coffee Shop
1  Hasting Snack Bar     5 Hastings Ave       759       Lounge
2          Lake Inez  1471 Gerrard St E       809          Bar
3   Godspeed Brewery    242 Coxwell Ave       804          Bar
4            O Sushi      6 Coxwell Ave       300     Pizzeria

Station Name: Primrose Ave / Davenport Rd lat: 43.67142 long: -79.445947 Number of free bikes are: 0

                       name                location  distance   categories
0  Balzac's Coffee Roasters        31 Powerhouse St       284  Coffee Shop
1      The Greater Good Bar           229 Geary Ave       581          Bar
2               Hale Coffee         300 Campbell St       729  Coffee Shop
3       Marcello's Pizzeria  1163 Saint Clair Ave W       777     Pizzeria
4             Pizza e Pazzi  1182 Saint Clair Ave W       733     Pizzeria

Station Name: Queen St. E / Rhodes Ave. lat: 43.666224 long: -79.317693 Number of free bikes are: 22

                name           location  distance   categories
0       The Sidekick    1374 Queen St E       630  Coffee Shop
1          Lake Inez  1471 Gerrard St E       740          Bar
2            O Sushi      6 Coxwell Ave       100     Pizzeria
3  Hasting Snack Bar     5 Hastings Ave       950       Lounge
4   Godspeed Brewery    242 Coxwell Ave       709          Bar

Station Name: Bond St / Queen St E lat: 43.653236 long: -79.376716 Number of free bikes are: 20

                      name           location  distance     categories
0        Fahrenheit Coffee     120 Lombard St       335           Café
1                  Terroni  57A Adelaide St E       271       Pizzeria
2         Dineen Coffee Co       140 Yonge St       346           Café
3  CF Toronto Eaton Centre       220 Yonge St       310  Shopping Mall
4             Triple a Bar  138 Adelaide St E       365            Bar

Station Name: Church St / Alexander St lat: 43.663722 long: -79.380288 Number of free bikes are: 4

                   name       location  distance categories
0           Black Eagle  457 Church St        43    Gay Bar
1       Hair of the Dog  425 Church St       111    Gay Bar
2  Churchmouse & Firkin  475 Church St       101        Pub
3               Woody's  467 Church St        74    Gay Bar
4      Storm Crow Manor  580 Church St       362        Bar

Station Name: University Ave / Gerrard St W (East Side) lat: 43.657763 long: -79.389165 Number of free bikes are: 2

                                name         location  distance   categories
0                     Jimmy's Coffee  84 Gerrard St W       294         Café
1       The Library Specialty Coffee  281 Dundas St W       397         Café
2                      Hailed Coffee  44 Gerrard St W       456  Coffee Shop
3  The Queen and Beaver Public House        35 Elm St       454          Bar
4                     Neo Coffee Bar       770 Bay St       375  Coffee Shop

Station Name: Edward St / Yonge St lat: 43.656729 long: -79.382736 Number of free bikes are: 4

                                name         location  distance     categories
0                      Hailed Coffee  44 Gerrard St W       245    Coffee Shop
1  The Queen and Beaver Public House        35 Elm St       104            Bar
2                        Blaze Pizza   10 Dundas St E       220       Pizzeria
3                     Jimmy's Coffee  84 Gerrard St W       298           Café
4            CF Toronto Eaton Centre     220 Yonge St       346  Shopping Mall

Station Name: Euclid Ave / Bloor St W lat: 43.664467 long: -79.414783 Number of free bikes are: 6

,name,location,distance,categories
0,Snakes & Lattes,600 Bloor St W,136,Café
1,The Good Neighbour,678 Bloor St W,158,Coffee Shop
2,Insomnia Restaurant and Lounge,563 Bloor St W,316,Dining and Drinking
3,Sam James Coffee Bar,297 Harbord St,456,Café
4,Paradise Grapevine,841 Bloor St W,730,Wine Bar

Station Name: Yonge St / Aylmer Ave lat: 43.675492 long: -79.388858 Number of free bikes are: 5

              name          location  distance              categories
0      Black Camel     4 Crescent Rd       174               BBQ Joint
1  The Rebel House     1068 Yonge St       256                     Bar
2    Boxcar Social     1208 Yonge St       725                Wine Bar
3             Dbar  60 Yorkville Ave       453  Arts and Entertainment
4        Starbucks     1088 Yonge St       302             Coffee Shop

Station Name: Davenport Rd / Avenue Rd lat: 43.674991 long: -79.396273 Number of free bikes are: 7

                     name           location  distance categories
0             Black Camel      4 Crescent Rd       598  BBQ Joint
1               The Oxley  121 Yorkville Ave       561        Bar
2           Boxcar Social      1208 Yonge St       845   Wine Bar
3  Nespresso Boutique Bar  159 Cumberland St       614       Café
4            Ezra's Pound      238 Dupont St       770       Café

Station Name: Yonge St / Yorkville Ave lat: 43.671944 long: -79.387778 Number of free bikes are: 3

               name           location  distance              categories
0   Balzac's Coffee       789 Yonge St        70                    Café
1              Dbar   60 Yorkville Ave       180  Arts and Entertainment
2       Black Camel      4 Crescent Rd       577               BBQ Joint
3         The Oxley  121 Yorkville Ave       446                     Bar
4  Storm Crow Manor      580 Church St       754                     Bar

Station Name: Dundas St E / Broadview Ave lat: 43.662365 long: -79.351104 Number of free bikes are: 18

                        name          location  distance   categories
0  Merchants of Green Coffee      2 Matilda St       356  Coffee Shop
1                The Comrade    758 Queen St E       421       Lounge
2              Boxcar Social     4 Boulton Ave       449         Café
3    Dark Horse Espresso Bar    630 Queen St E       441         Café
4                    Farside  600 Gerrard St E       372          Bar

Station Name: Front St W / Yonge St (Hockey Hall of Fame) lat: 43.646144 long: -79.377962 Number of free bikes are: 17

                       name       location  distance   categories
0       Wvrst Union Station  65 Front St W       304     Beer Bar
1     Pilot Coffee Roasters  65 Front St W       233  Coffee Shop
2  Ki Modern Japanese + Bar     181 Bay St       165          Bar
3    Walrus Pub & Beer Hall     187 Bay St       185          Pub
4     Pilot Coffee Roasters  100 King St W       382         Café

Station Name: Gerrard St E / River St lat: 43.663993 long: -79.358534 Number of free bikes are: 4

                        name            location  distance   categories
0  Merchants of Green Coffee        2 Matilda St       583  Coffee Shop
1            Sumach Espresso       118 Sumach St       655  Coffee Shop
2        House on Parliament   454 Parliament St       750          Bar
3       Rooster Coffee House  479 Broad View Ave       721         Café
4                    Farside    600 Gerrard St E       577          Bar

Station Name: Jarvis St / Dundas St E lat: 43.657266 long: -79.374756 Number of free bikes are: 1

                      name           location  distance     categories
0              Blaze Pizza     10 Dundas St E       430       Pizzeria
1        Fahrenheit Coffee     120 Lombard St       566           Café
2            Hailed Coffee    44 Gerrard St W       738    Coffee Shop
3                 Fusaro's  294 Richmond St E       605       Pizzeria
4  CF Toronto Eaton Centre       220 Yonge St       571  Shopping Mall

Station Name: Logan Av / Gerrard St E lat: 43.6672144 long: -79.3452697 Number of free bikes are: 12

                    name            location  distance    categories
0      Maple Leaf Tavern    955 Gerrard St E       432  Cocktail Bar
1  Pinkerton's Snack Bar   1026 Gerrard St E       666  Cocktail Bar
2   Rooster Coffee House  479 Broad View Ave       668          Café
3                Farside    600 Gerrard St E       547           Bar
4                 Te Aro      983 Queen St E       843   Coffee Shop

Station Name: Regal Rd / Dufferin St lat: 43.673939 long: -79.441159 Number of free bikes are: 7

                       name                location  distance   categories
0      The Greater Good Bar           229 Geary Ave       525          Bar
1       Marcello's Pizzeria  1163 Saint Clair Ave W       470     Pizzeria
2             The Sovereign       1359 Davenport Rd       116         Café
3             Pizza e Pazzi  1182 Saint Clair Ave W       478     Pizzeria
4  Balzac's Coffee Roasters        31 Powerhouse St       759  Coffee Shop

Station Name: Morse St / Eastern Ave lat: 43.657991 long: -79.340075 Number of free bikes are: 6

                     name        location  distance   categories
0                  Te Aro  983 Queen St E       394  Coffee Shop
1           Boxcar Social   4 Boulton Ave       579         Café
2     Purple Penguin Cafe  889 Queen St E       324         Café
3  District 28 Bar Bistro    28 Logan Ave       315          Bar
4             The Comrade  758 Queen St E       649       Lounge

Station Name: Alton Ave / Dundas St E (Greenwood Park) lat: 43.66745 long: -79.329408 Number of free bikes are: 16

                             name           location  distance    categories
0               Hasting Snack Bar     5 Hastings Ave       418        Lounge
1                  Blondies Pizza   1555 Dundas St E       100      Pizzeria
2                    The Sidekick    1374 Queen St E       474   Coffee Shop
3  Descendant Detroit Style Pizza    1168 Queen St E       569      Pizzeria
4           Pinkerton's Snack Bar  1026 Gerrard St E       655  Cocktail Bar

Station Name: Blake St / Boultbee Ave lat: 43.672453 long: -79.338259 Number of free bikes are: 5

                    name           location  distance    categories
0  Pinkerton's Snack Bar  1026 Gerrard St E       402  Cocktail Bar
1      Maple Leaf Tavern   955 Gerrard St E       487  Cocktail Bar
2                Mr Pide   800 Danforth Ave       840      Pizzeria
3             The Shmooz       590 Pape Ave       511          Café
4          The Only Cafe   972 Danforth Ave       884      Beer Bar

Station Name: Eastern Ave / Winnifred Ave lat: 43.6592088 long: -79.3348396 Number of free bikes are: 11

                             name         location  distance   categories
0  Descendant Detroit Style Pizza  1168 Queen St E       445     Pizzeria
1                          Te Aro   983 Queen St E       384  Coffee Shop
2               Hasting Snack Bar   5 Hastings Ave       685       Lounge
3          Tango Palace Coffee Co  1156 Queen St E       380         Café
4                    The Sidekick  1374 Queen St E       974  Coffee Shop

Station Name: Gamble Ave / Broadview Ave lat: 43.689211 long: -79.35438 Number of free bikes are: 3

                 name            location  distance   categories
0        Golden Pizza  1201 Broadview Ave        49     Pizzeria
1      Goat Coffee Co        893 Pape Ave       802         Café
2         Cafe Serano       1055 Pape Ave       451         Café
3  La Grotta Pizzeria        951 Pape Ave       596     Pizzeria
4    Supernova Coffee   897 Broadview Ave       962  Coffee Shop

Station Name: 111 Bond St (North of Dundas St E)  - SMART lat: 43.656927 long: -79.378497 Number of free bikes are: 11

                                name         location  distance     categories
0                        Blaze Pizza   10 Dundas St E       130       Pizzeria
1                      Hailed Coffee  44 Gerrard St W       467    Coffee Shop
2            CF Toronto Eaton Centre     220 Yonge St       346  Shopping Mall
3  The Queen and Beaver Public House        35 Elm St       408            Bar
4                     Jimmy's Coffee  84 Gerrard St W       595           Café

Station Name: Dundas St E / Pembroke St - SMART lat: 43.658295 long: -79.372346 Number of free bikes are: 1

                  name           location  distance   categories
0    Fahrenheit Coffee     120 Lombard St       657         Café
1             Fusaro's  294 Richmond St E       595     Pizzeria
2  House on Parliament  454 Parliament St       695          Bar
3          Blaze Pizza     10 Dundas St E       647     Pizzeria
4        Hailed Coffee    44 Gerrard St W       913  Coffee Shop

Station Name: Victoria Park Subway Station - SMART lat: 43.6940155 long: -79.2889842 Number of free bikes are: 9

                      name           location  distance     categories
0                Starbucks     50 Musgrave St       615    Coffee Shop
1              Pizza Pizza  2795 Danforth Ave       733       Pizzeria
2           The Daily Perk  Victoria Park Ave       447    Coffee Shop
3       Subhan Halal Pizza  2970 Danforth Ave       457       Pizzeria
4  Shoppers World Danforth  3003 Danforth Ave       475  Shopping Mall

Station Name: Wychwood Ave / Benson Ave - SMART lat: 43.6809164 long: -79.4229684 Number of free bikes are: 0

                    name               location  distance           categories
0        Baker and Scone  693 Saint Clair Ave W       261               Bakery
1       Ferro Bar & Cafe  769 Saint Clair Ave W       450             Pizzeria
2  Churrasco of St Clair  679 Saint Clair Ave W       216            BBQ Joint
3           Krave Coffee     781 St Clair Ave W       518                 Café
4                   Aviv     779 St Clair Ave W       498  Fish and Chips Shop

Station Name: Lawton Blvd / Yonge St lat: 43.6910667 long: -79.39535 Number of free bikes are: 0

              name          location  distance   categories
0  Capocaccia Cafe     1366 Yonge St       595       Bistro
1        Starbucks  2 St Clair Ave E       314  Coffee Shop
2    Bull & Firkin     1835 Yonge St       616          Pub
3      Pizza Pizza     1900 Yonge St       884     Pizzeria
4   Nove Trattoria     1406 Yonge St       494     Pizzeria

Station Name: Yonge St / Davisville Ave lat: 43.6975969 long: -79.39654 Number of free bikes are: 0

                      name               location  distance categories
0                Balsamico          2029 Yonge St       437   Pizzeria
1            Little Sister          2031 Yonge St       442     Lounge
2    Jules Cafe Patisserie  617 Mount Pleasant Rd       977     Bakery
3            Bull & Firkin          1835 Yonge St       115        Pub
4  St. Louis Bar and Grill          2050 Yonge St       447        Bar

Station Name: Fort York  Blvd / Capreol Ct lat: 43.639832 long: -79.395954 Number of free bikes are: 3

               name              location  distance   categories
0  Le Select Bistro   432 Wellington St W       433     Wine Bar
1   Mira Restaurant  420A Wellington St W       499          Bar
2         Starbucks  10 Lower Spadina Ave       381  Coffee Shop
3    Jimmy's Coffee       107 Portland St       697  Coffee Shop
4           Bar Hop         391 King St W       669     Beer Bar

Station Name: St. George St / Bloor St W lat: 43.667333 long: -79.399429 Number of free bikes are: 0

                               name           location  distance   categories
0                         Starbucks       1 Beford Ave       217  Coffee Shop
1  Her Father's Cider Bar + Kitchen     119 Harbord St       688     Beer Bar
2            Nespresso Boutique Bar  159 Cumberland St       564         Café
3                     Harbord House     150 Harbord St       723          Bar
4                         The Oxley  121 Yorkville Ave       629          Bar

Station Name: King St W / York St lat: 43.6480008 long: -79.383177 Number of free bikes are: 5

                    name            location  distance categories
0   Sam James Coffee Bar       150 King St W        93       Café
1  Pilot Coffee Roasters       100 King St W       202       Café
2      Pizzeria Libretto  155 University Ave       159   Pizzeria
3             Soho House   192 Adelaide St W       282  Speakeasy
4    Wvrst Union Station       65 Front St W       366   Beer Bar

Station Name: University Ave / Elm St lat: 43.656518 long: -79.389099 Number of free bikes are: 1

                                name         location  distance   categories
0       The Library Specialty Coffee  281 Dundas St W       275         Café
1                     Jimmy's Coffee  84 Gerrard St W       351         Café
2                      Hailed Coffee  44 Gerrard St W       505  Coffee Shop
3  The Queen and Beaver Public House        35 Elm St       460          Bar
4                    HotBlack Coffee   245 Queen St W       684         Café

Station Name: Rosehill Ave / Avoca Ave - SMART lat: 43.687999 long: -79.38906 Number of free bikes are: 3

                 name          location  distance   categories
0       Boxcar Social     1208 Yonge St       720     Wine Bar
1     Capocaccia Cafe     1366 Yonge St       412       Bistro
2  The Rosedale Diner     1164 Yonge St       850     Wine Bar
3           Starbucks  2 St Clair Ave E       384  Coffee Shop
4      Nove Trattoria     1406 Yonge St       389     Pizzeria

Station Name: Bloor St W / Dundas St W lat: 43.6563889 long: -79.45166666666667 Number of free bikes are: 2

                      name          location  distance              categories
0             The Gaslight   1426 Bloor St W       307  Arts and Entertainment
1   Cabin Fever Collective   1669 Bloor St W       413                     Bar
2  Outpost Coffee Roasters   1578 Bloor St W       199             Coffee Shop
3           Bandit Brewery  2125 Dundas St W       450                     Bar
4  Whelan's Gate Irish Pub   1663 Bloor St W       408                     Bar

Station Name: Bathurst St / Fort York Blvd lat: 43.639179 long: -79.399595 Number of free bikes are: 6

               name              location  distance   categories
0    Roses New York    135 Fort York Blvd        58          Bar
1  Le Select Bistro   432 Wellington St W       554     Wine Bar
2   Mira Restaurant  420A Wellington St W       627          Bar
3    Jimmy's Coffee       107 Portland St       677  Coffee Shop
4             WVRST         609 King St W       567     Beer Bar

Station Name: Spadina Ave / Willcocks St lat: 43.6616667 long: -79.40138888888889 Number of free bikes are: 0

                               name        location  distance categories
0  Her Father's Cider Bar + Kitchen  119 Harbord St       280   Beer Bar
1                     Harbord House  150 Harbord St       335        Bar
2                      Voodoo Child  388 College St       617        Bar
3                      Manic Coffee  426 College St       715       Café
4                      Pizza Fresca  302 College St       445   Pizzeria

Station Name: Cariboo Ave / Railpath Trail lat: 43.66666667 long: -79.45833333333334 Number of free bikes are: 1

                       name           location  distance   categories
0            Indie Alehouse   2876 Dundas St W       574          Bar
1      The Hole in the Wall  2867A Dundas St W       566          Bar
2               Hale Coffee    300 Campbell St       685  Coffee Shop
3            Cafe Con Leche     1571 Dupont St       428         Café
4  Balzac's Coffee Roasters   31 Powerhouse St       855  Coffee Shop

Station Name: Dundas St W / Edna Ave lat: 43.657192 long: -79.452559 Number of free bikes are: 8

                      name          location  distance              categories
0   Cabin Fever Collective   1669 Bloor St W       381                     Bar
1  Outpost Coffee Roasters   1578 Bloor St W       176             Coffee Shop
2             The Gaslight   1426 Bloor St W       362  Arts and Entertainment
3  Whelan's Gate Irish Pub   1663 Bloor St W       379                     Bar
4           Bandit Brewery  2125 Dundas St W       561                     Bar

Station Name: College St / Major St lat: 43.6576 long: -79.4032 Number of free bikes are: 0

             name        location  distance   categories
0    Voodoo Child  388 College St       195          Bar
1    Pizza Fresca  302 College St       103     Pizzeria
2    Manic Coffee  426 College St       324         Café
3  Jimmy's Coffee  191 Baldwin St       377         Café
4    Found Coffee  324 College St        54  Coffee Shop

Station Name: McGill St / Church St lat: 43.660694 long: -79.379052 Number of free bikes are: 1

                   name         location  distance   categories
0       Hair of the Dog    425 Church St       242      Gay Bar
1         Hailed Coffee  44 Gerrard St W       425  Coffee Shop
2           Black Eagle    457 Church St       386      Gay Bar
3           Blaze Pizza   10 Dundas St E       470     Pizzeria
4  Churchmouse & Firkin    475 Church St       450          Pub

Station Name: Queens Quay W / Dan Leckie Way lat: 43.636533 long: -79.395854 Number of free bikes are: 25

                name              location  distance   categories
0          Starbucks  10 Lower Spadina Ave       322  Coffee Shop
1  Music Garden Cafe     466 Queens Quay W       234         Café
2   Le Select Bistro   432 Wellington St W       798     Wine Bar
3    Mira Restaurant  420A Wellington St W       866          Bar
4     Roses New York    135 Fort York Blvd       365          Bar

Station Name: College Park South lat: 43.659777 long: -79.382767 Number of free bikes are: 4

                                name         location  distance   categories
0                      Hailed Coffee  44 Gerrard St W       128  Coffee Shop
1                     Jimmy's Coffee  84 Gerrard St W       273         Café
2  The Queen and Beaver Public House        35 Elm St       263          Bar
3                        Blaze Pizza   10 Dundas St E       424     Pizzeria
4                    Hair of the Dog    425 Church St       420      Gay Bar

Station Name: 25 York St – Union Station South lat: 43.643667 long: -79.380414 Number of free bikes are: 10

                    name        location  distance   categories
0    Wvrst Union Station   65 Front St W       163     Beer Bar
1  Pilot Coffee Roasters   65 Front St W       150  Coffee Shop
2                Mos Mos       20 Bay St       322  Coffee Shop
3       RS - Real Sports      15 York St       128   Sports Bar
4            Library Bar  100 Front St W       224    Hotel Bar

Station Name: 161 Bleecker St (South of Wellesley) lat: 43.666233 long: -79.373327 Number of free bikes are: 0

                   name            location  distance categories
0     Red Rocket Coffee  154 Wellesley St E       218     Bakery
1   House on Parliament   454 Parliament St       525        Bar
2      Storm Crow Manor       580 Church St       667        Bar
3       The Blake House       449 Jarvis St       386        Bar
4  Churchmouse & Firkin       475 Church St       596        Pub

Station Name: Spadina Ave / Fort York Blvd lat: 43.640114 long: -79.393249 Number of free bikes are: 13

                name              location  distance   categories
0          Starbucks  10 Lower Spadina Ave       277  Coffee Shop
1   Le Select Bistro   432 Wellington St W       483     Wine Bar
2            Bar Hop         391 King St W       610     Beer Bar
3  Music Garden Cafe     466 Queens Quay W       300         Café
4     Jimmy's Coffee       107 Portland St       805  Coffee Shop

Station Name: Augusta Ave / Denison Sq lat: 43.653766 long: -79.4016759 Number of free bikes are: 9

                 name            location  distance    categories
0        Grey Gardens     199 Augusta Ave        37      Wine Bar
1      Jimmy's Coffee      191 Baldwin St        85          Café
2           FIKA Cafe   28 Kensington Ave       104          Café
3  Moonbean Coffee Co  30 Saint Andrew St       127          Café
4   El Rey Mezcal Bar   2A Kensington Ave       171  Cocktail Bar

Station Name: Lansdowne Subway Station lat: 43.6587734 long: -79.443054 Number of free bikes are: 10

               name         location  distance              categories
0       The 3 Speed  1163 Bloor St W       407                     Bar
1           Burdock  1184 Bloor St W       432             Music Venue
2      The Gaslight  1426 Bloor St W       433  Arts and Entertainment
3  Wallace Espresso  188 Wallace Ave       410                    Café
4       Hale Coffee  300 Campbell St       933             Coffee Shop

Station Name: Lansdowne Ave / Whytock Ave lat: 43.6538888888889 long: -79.4413888888889 Number of free bikes are: 0

              name              location  distance              categories
0      The 3 Speed       1163 Bloor St W       651                     Bar
1          Burdock       1184 Bloor St W       685             Music Venue
2     The Gaslight       1426 Bloor St W       655  Arts and Entertainment
3  Pizzeria Defina  321 Roncesvalles Ave       890                Pizzeria
4   Bandit Brewery      2125 Dundas St W       662                     Bar

Station Name: Sterling Rd / Dundas St W lat: 43.6508333333333 long: -79.4430555555556 Number of free bikes are: 5

              name              location  distance   categories
0  Pizzeria Defina  321 Roncesvalles Ave       594     Pizzeria
1       Sunny Joes      250 Sorauren Ave       402  Coffee Shop
2   Bandit Brewery      2125 Dundas St W       553          Bar
3       Wallflower      1665 Dundas St W       485          Bar
4    I Deal Coffee      221 Sorauren Ave       500         Café

Station Name: St Clarens Ave / College St lat: 43.651238 long: -79.43868 Number of free bikes are: 4

               name          location  distance categories
0        Wallflower  1665 Dundas St W       194        Bar
1   Black Dice Cafe  1574 Dundas St W       375        Bar
2  Safehouse Coffee  1615 Dundas St W       307       Café
3       The 3 Speed   1163 Bloor St W       888        Bar
4         Swan Dive  1631 Dundas St W       256        Bar

Station Name: Ossington Ave / College St lat: 43.6544915 long: -79.422634 Number of free bikes are: 9

                   name           location  distance    categories
0            Bar Isabel     797 College St       157  Cocktail Bar
1     Pizzeria Libretto  221 Ossington Ave       633      Pizzeria
2  Communist's Daughter   1149 Dundas St W       585  Cocktail Bar
3              Get Well   1181 Dundas St W       577           Bar
4     Bellwoods Brewery  124 Ossington Ave       849           Bar

Station Name: High Park Subway Station lat: 43.6543604 long: -79.4655296 Number of free bikes are: 1

                      name         location  distance   categories
0       The Mugshot Tavern  1729 Bloor St W       469          Bar
1   Cabin Fever Collective  1669 Bloor St W       724          Bar
2  Whelan's Gate Irish Pub  1663 Bloor St W       730          Bar
3  Outpost Coffee Roasters  1578 Bloor St W       937  Coffee Shop
4                Starbucks  2210 Bloor St W       903  Coffee Shop

Station Name: Lake Shore Blvd W / Ellis Ave lat: 43.635932 long: -79.465083 Number of free bikes are: 17

                       name               location  distance    categories
0              Casa Mendoza  2161 Lakeshore Blvd W       838           Bar
1  Palace Pier Rooftop Club  2045 Lakeshore Blvd W       901  Cocktail Bar

Station Name: Parkside Dr / Bloor St W - SMART lat: 43.654501 long: -79.460053 Number of free bikes are: 12

                      name          location  distance   categories
0       The Mugshot Tavern   1729 Bloor St W        38          Bar
1   Cabin Fever Collective   1669 Bloor St W       293          Bar
2  Whelan's Gate Irish Pub   1663 Bloor St W       297          Bar
3  Outpost Coffee Roasters   1578 Bloor St W       508  Coffee Shop
4           Bandit Brewery  2125 Dundas St W       876          Bar

Station Name: Lake Shore Blvd W / Windermere Ave lat: 43.634896 long: -79.467763 Number of free bikes are: 18

                       name                location  distance    categories
0       Rustic Social House  2083 Lake Shore Blvd W       885           Bar
1  Palace Pier Rooftop Club   2045 Lakeshore Blvd W       658  Cocktail Bar
2              Casa Mendoza   2161 Lakeshore Blvd W       967           Bar

Station Name: Martin Goodman Trail (Marilyn Bell Park) lat: 43.6314 long: -79.4304 Number of free bikes are: 29

,name,location,distance,categories
0,Louie - Craft Coffee,1187 King St W,956,Café
1,The Abbott,99 Spencer Ave,733,Café
2,Royal Canadian Legion Branch 344,1395 Lake Shore Blvd W,781,Bar
3,Maritz Holiday Party - Winter Wonderland: a Fr...,25 British Columbia Rd,132,Lounge
4,Grand Bizarre,15 Saskatchewan Rd,551,Bar

Station Name: Lake Shore Blvd W / The Boulevard Club lat: 43.636731 long: -79.444966 Number of free bikes are: 18

,name,location,distance,categories
0,Amico's Pizza,1648 Queen St W,331,Pizzeria
1,Cherry Bomb Coffee,79 Roncesvalles Ave,555,Bakery
2,Capital Espresso,1349 Queen St W,959,Café
3,Royal Canadian Legion Branch 344,1395 Lake Shore Blvd W,532,Bar
4,Hot Oven Bakery,177 Roncesvalles Ave,911,Bakery

Station Name: Dundas St W / Roncesvalles Ave Green P -SMART lat: 43.6534268 long: -79.4512787 Number of free bikes are: 12

,name,location,distance,categories
0,Bandit Brewery,2125 Dundas St W,169,Bar
1,Pizzeria Defina,321 Roncesvalles Ave,535,Pizzeria
2,Cabin Fever Collective,1669 Bloor St W,485,Bar
3,The Gaslight,1426 Bloor St W,502,Arts and Entertainment
4,Outpost Coffee Roasters,1578 Bloor St W,370,Coffee Shop

Station Name: Erskine Ave / Yonge St SMART lat: 43.7112153 long: -79.39894 Number of free bikes are: 1

                               name        location  distance   categories
0                         Starbucks   2451 Yonge St        19  Coffee Shop
1  De Mello Palheta Coffee Roasters   2489 Yonge St        74         Café
2                    Himalayan Java   2552 Yonge St       261         Café
3                      Sip Wine Bar  2 Broadway Ave       170     Wine Bar
4         La Bohème Café Patisserie   2481 Yonge St        60       Bakery

Station Name: D'Arcy St / McCaul St - SMART lat: 43.655227 long: -79.39201 Number of free bikes are: 9

                           name         location  distance   categories
0  The Library Specialty Coffee  281 Dundas St W       126         Café
1            Sin and Redemption    136 McCaul St        66          Bar
2               HotBlack Coffee   245 Queen St W       603         Café
3                Jimmy's Coffee  84 Gerrard St W       624         Café
4                 Hailed Coffee  44 Gerrard St W       780  Coffee Shop

Station Name: Mortimer Ave / Carlaw Ave SMART lat: 43.685167 long: -79.34962 Number of free bikes are: 0

                     name          location  distance categories
0       Pizzeria Libretto  550 Danforth Ave       760   Pizzeria
1                 Mr Pide  800 Danforth Ave       894   Pizzeria
2  Louis Cifer Brew Works  417 Danforth Ave       844        Bar
3           Auld Spot Pub  347 Danforth Ave       914        Pub
4        Marvel Coffee Co    792 Carlaw Ave       746       Café

Station Name: Cumberland Ave / Bay St SMART lat: 43.6704537 long: -79.39014 Number of free bikes are: 1

                     name           location  distance              categories
0                    Dbar   60 Yorkville Ave       115  Arts and Entertainment
1               The Oxley  121 Yorkville Ave       228                     Bar
2  Nespresso Boutique Bar  159 Cumberland St       266                    Café
3             Black Camel      4 Crescent Rd       731               BBQ Joint
4         Balzac's Coffee       789 Yonge St       292                    Café

Station Name: 20 Charles St E lat: 43.6691099 long: -79.38551 Number of free bikes are: 0

                     name        location  distance           categories
0        Storm Crow Manor   580 Church St       403                  Bar
1                    Wish  3 Charles St E        41  Dining and Drinking
2  Church Street Espresso   585 Church St       305                 Café
3     Piedmont Coffee Bar  66 Isabella St       257                 Café
4    Rooster Coffee House   568 Jarvis St       457                 Café

Station Name: Niagara St / Tecumseth St lat: 43.641389 long: -79.404444 Number of free bikes are: 12

                 name             location  distance   categories
0               WVRST        609 King St W       432     Beer Bar
1      Jimmy's Coffee      107 Portland St       543  Coffee Shop
2             Terroni       720 Queen St W       652     Pizzeria
3    Le Select Bistro  432 Wellington St W       676     Wine Bar
4  Forget Me Not Cafe    506 Adelaide St W       568  Coffee Shop

Station Name: 424 Wellington St W lat: 43.643834 long: -79.396649 Number of free bikes are: 6

               name             location  distance   categories
0  Le Select Bistro  432 Wellington St W        15     Wine Bar
1    Jimmy's Coffee      107 Portland St       334  Coffee Shop
2           Bar Hop        391 King St W       315     Beer Bar
3             WVRST        609 King St W       333     Beer Bar
4      Drom Taberna       458 Queen St W       536          Bar

Station Name: Dundas St W / St. Patrick St lat: 43.6545174 long: -79.3895315 Number of free bikes are: 1

                           name         location  distance   categories
0  The Library Specialty Coffee  281 Dundas St W       110         Café
1               HotBlack Coffee   245 Queen St W       466         Café
2                Jimmy's Coffee  84 Gerrard St W       536         Café
3                 Hailed Coffee  44 Gerrard St W       671  Coffee Shop
4            Sin and Redemption    136 McCaul St       178          Bar

Station Name: Robert St / Bloor St W - SMART lat: 43.665846 long: -79.404998 Number of free bikes are: 0

,name,location,distance,categories
0,Her Father's Cider Bar + Kitchen,119 Harbord St,378,Beer Bar
1,Harbord House,150 Harbord St,377,Bar
2,Insomnia Restaurant and Lounge,563 Bloor St W,485,Dining and Drinking
3,Crafty Coyote,511 Bloor St W,292,Beer Bar
4,Snakes & Lattes,600 Bloor St W,665,Café

Station Name: John St  / Mercer St - SMART lat: 43.6461 long: -79.3895 Number of free bikes are: 7

              name           location  distance categories
0       Soho House  192 Adelaide St W       377  Speakeasy
1          Bar Hop      391 King St W       332   Beer Bar
2  HotBlack Coffee     245 Queen St W       478       Café
3   Bar Hop Brewco       137 Peter St       458   Beer Bar
4   Town Crier Pub        115 John St       230        Pub

Station Name: Queen St E / Hammersmith Ave lat: 43.671349 long: -79.29451 Number of free bikes are: 11

                          name             location  distance    categories
0             Bud's Coffee Bar  1966 1/2 Queen St E       733          Café
1              Castro's Lounge    2116 E Queen St E        55  Cocktail Bar
2  The Fill Station Sports Bar      2282 Queen St E       797           Pub
3               The Stone Lion      1958 Queen St E       670           Pub
4    Juice & Java Catering Inc      2102 Queen St E       105          Café

Station Name: Queen St. E / Eastern Ave lat: 43.667208 long: -79.312315 Number of free bikes are: 14

               name             location  distance   categories
0         Starbucks      1842 Queen St E       390  Coffee Shop
1  Bud's Coffee Bar  1966 1/2 Queen St E       769         Café
2         Lake Inez    1471 Gerrard St E       896          Bar
3  Godspeed Brewery      242 Coxwell Ave       814          Bar
4  Casa Di Giorgios      1646 Queen St E       240     Pizzeria

Station Name: Hubbard Blvd / Balsam Av lat: 43.669328 long: -79.288949 Number of free bikes are: 15

                          name           location  distance    categories
0  The Fill Station Sports Bar    2282 Queen St E       542           Pub
1              Castro's Lounge  2116 E Queen St E       532  Cocktail Bar
2        Outrigger Tap & Table    2232 Queen St E       393           Pub
3    Juice & Java Catering Inc    2102 Queen St E       579          Café
4                    Pizza Hut    2070 Queen St E       674      Pizzeria

Station Name: Queen St. E / Spruce Hill Rd. lat: 43.672571 long: -79.289 Number of free bikes are: 9

                          name           location  distance    categories
0             The Feathers Pub    962 Kingston Rd       889        Lounge
1  The Fill Station Sports Bar    2282 Queen St E       334           Pub
2              Castro's Lounge  2116 E Queen St E       517  Cocktail Bar
3         The Green Dragon Pub   1032 Kingston Rd       980           Pub
4        Outrigger Tap & Table    2232 Queen St E       101           Pub

Station Name: Lower Spadina Ave / Lake Shore Blvd W lat: 43.638497 long: -79.39192 Number of free bikes are: 18

,name,location,distance,categories
0,Starbucks,10 Lower Spadina Ave,87,Coffee Shop
1,Music Garden Cafe,466 Queens Quay W,158,Café
2,Le Select Bistro,432 Wellington St W,692,Wine Bar
3,Mira Restaurant,420A Wellington St W,739,Bar
4,Steam Whistle Biergarten,255 Bremner Blvd,543,Dining and Drinking

Station Name: Lower Coxwell Ave /  Lake Shore Blvd E lat: 43.662771 long: -79.315223 Number of free bikes are: 14

                     name         location  distance   categories
0            The Sidekick  1374 Queen St E       821  Coffee Shop
1               Starbucks  1842 Queen St E       874  Coffee Shop
2                 O Sushi    6 Coxwell Ave       448     Pizzeria
3        Casa Di Giorgios  1646 Queen St E       430     Pizzeria
4  Queen Margherita Pizza  1402 Queen St E       749     Pizzeria

Station Name: Amelia St. / Sumach St. lat: 43.66852 long: -79.363525 Number of free bikes are: 1

                       name            location  distance categories
0       House on Parliament   454 Parliament St       643        Bar
1      Rooster Coffee House  479 Broad View Ave       838       Café
2           Stout Irish Pub     221E Carlton St       678        Pub
3                   Farside    600 Gerrard St E       998        Bar
4  Jet Fuel Coffee Shop Inc   519 Parliament St       527       Café

Station Name: Augusta Ave / Dundas St W lat: 43.652473 long: -79.401456 Number of free bikes are: 13

                    name           location  distance    categories
0      El Rey Mezcal Bar  2A Kensington Ave       117  Cocktail Bar
1              FIKA Cafe  28 Kensington Ave       147          Café
2         Jimmy's Coffee     191 Baldwin St       224          Café
3           Drom Taberna     458 Queen St W       502           Bar
4  Pizzeria Via Mercanti    188 Augusta Ave       181      Pizzeria

Station Name: Queen St W / Ossington Ave lat: 43.643975 long: -79.419576 Number of free bikes are: 21

                name           location  distance    categories
0     Jimmy's Coffee   15 Ossington Ave        81           Bar
1           Bar Poet    1090 Queen St W       220           Bar
2          Gift Shop  89B Ossington Ave       241  Cocktail Bar
3  Bellwoods Brewery  124 Ossington Ave       348           Bar
4          Bar Fancy    1070 Queen St E       143           Bar

Station Name: Trinity St /Front St E lat: 43.651318 long: -79.36023 Number of free bikes are: 16

                       name            location  distance   categories
0               Arvo Coffee   17 Gristmill Lane       179         Café
1  Balzac's Coffee Roastery          55 Mill St       190         Café
2             Tandem Coffee       368 King St E       279         Café
3      Rooster Coffee House       343 King St E       437  Coffee Shop
4      Mill Street Brew Pub  21 Tank House Lane       176          Pub

Station Name: Dundas St W / Yonge St lat: 43.656094 long: -79.381484 Number of free bikes are: 28

                                name         location  distance     categories
0                        Blaze Pizza   10 Dundas St E       127       Pizzeria
1                      Hailed Coffee  44 Gerrard St W       352    Coffee Shop
2  The Queen and Beaver Public House        35 Elm St       224            Bar
3            CF Toronto Eaton Centre     220 Yonge St       236  Shopping Mall
4                     Jimmy's Coffee  84 Gerrard St W       420           Café

Station Name: Kendal Ave / Spadina Rd lat: 43.670318 long: -79.405181 Number of free bikes are: 2

,name,location,distance,categories
0,Ezra's Pound,238 Dupont St,540,Café
1,Insomnia Restaurant and Lounge,563 Bloor St W,736,Dining and Drinking
2,Madison Avenue Pub,14 Madison Ave,296,Pub
3,Her Father's Cider Bar + Kitchen,119 Harbord St,875,Beer Bar
4,Crafty Coyote,511 Bloor St W,593,Beer Bar

Station Name: Davenport Rd / Bathurst St lat: 43.676667 long: -79.416111 Number of free bikes are: 6

                     name               location  distance categories
0       Creeds Coffee Bar          390 Dupont St       510       Café
1            Ezra's Pound          238 Dupont St       841       Café
2         Baker and Scone  693 Saint Clair Ave W       971     Bakery
3         Napoli Centrale        964 Bathurst St       845   Pizzeria
4  El Pocho Antojitos Bar           2 Follis Ave       815        Bar

Station Name: Queen St W / Close Ave lat: 43.640634 long: -79.435841 Number of free bikes are: 13

                     name          location  distance    categories
0            Miss Thing's   1279 Queen St W       328  Cocktail Bar
1  The Shameful Tiki Room   1378 Queen St W       225     Beach Bar
2      Fix Coffee + Bikes  80 Gladstone Ave       775          Café
3           Amico's Pizza   1648 Queen St W       599      Pizzeria
4    Louie - Craft Coffee    1187 King St W       835          Café

Station Name: King St W / Joe Shuster Way lat: 43.639444 long: -79.423611 Number of free bikes are: 9

                    name          location  distance               categories
0   Louie - Craft Coffee    1187 King St W       162                     Café
1               Bar Poet   1090 Queen St W       475                      Bar
2     Fix Coffee + Bikes  80 Gladstone Ave       717                     Café
3  Local Liberty Village  171 E Liberty St       374  New American Restaurant
4              Bar Fancy   1070 Queen St E       510                      Bar

Station Name: Yarmouth Rd / Christie St lat: 43.67 long: -79.42083333333333 Number of free bikes are: 0

                 name        location  distance    categories
0     Snakes & Lattes  600 Bloor St W       846          Café
1  Paradise Grapevine  841 Bloor St W       872      Wine Bar
2           Northwood  815 Bloor St W       816  Cocktail Bar
3     Civil Liberties  878 Bloor St W       945  Cocktail Bar
4  The Good Neighbour  678 Bloor St W       748   Coffee Shop

Station Name: Palmerston Ave / Vermont Ave lat: 43.671389 long: -79.416389 Number of free bikes are: 6

,name,location,distance,categories
0,Napoli Centrale,964 Bathurst St,349,Pizzeria
1,El Pocho Antojitos Bar,2 Follis Ave,311,Bar
2,Snakes & Lattes,600 Bloor St W,778,Café
3,Insomnia Restaurant and Lounge,563 Bloor St W,816,Dining and Drinking
4,Creeds Coffee Bar,390 Dupont St,538,Café

Station Name: Christie St / Benson Ave (Wychwood Barns) lat: 43.68 long: -79.42500000000001 Number of free bikes are: 0

                    name               location  distance categories
0        Baker and Scone  693 Saint Clair Ave W       199     Bakery
1       Ferro Bar & Cafe  769 Saint Clair Ave W       310   Pizzeria
2  Churrasco of St Clair  679 Saint Clair Ave W       190  BBQ Joint
3           Krave Coffee     781 St Clair Ave W       364       Café
4        Gem Bar & Grill      1159 Davenport Rd       820        Bar

Station Name: King St W / Fraser Ave lat: 43.6394444 long: -79.42527777777778 Number of free bikes are: 11

                   name          location  distance    categories
0  Louie - Craft Coffee    1187 King St W        32          Café
1              Bar Poet   1090 Queen St W       522           Bar
2    Fix Coffee + Bikes  80 Gladstone Ave       657          Café
3             Bar Fancy   1070 Queen St E       572           Bar
4          Miss Thing's   1279 Queen St W       586  Cocktail Bar

Station Name: Macpherson Ave / Spadina Rd lat: 43.675791 long: -79.40698 Number of free bikes are: 1

                     name         location  distance categories
0            Ezra's Pound    238 Dupont St       114       Café
1       Creeds Coffee Bar    390 Dupont St       362       Café
2         Napoli Centrale  964 Bathurst St       861   Pizzeria
3    Pour House Irish Pub    182 Dupont St       254        Pub
4  El Pocho Antojitos Bar     2 Follis Ave       862        Bar

Station Name: Bridgman Ave / Kendal Ave lat: 43.675556 long: -79.410278 Number of free bikes are: 8

                     name         location  distance categories
0       Creeds Coffee Bar    390 Dupont St       167       Café
1            Ezra's Pound    238 Dupont St       358       Café
2         Napoli Centrale  964 Bathurst St       719   Pizzeria
3  El Pocho Antojitos Bar     2 Follis Ave       709        Bar
4    Pour House Irish Pub    182 Dupont St       519        Pub

Station Name: Bridgman Ave / Bathurst St lat: 43.674444 long: -79.414722 Number of free bikes are: 11

                     name         location  distance categories
0       Creeds Coffee Bar    390 Dupont St       314       Café
1            Ezra's Pound    238 Dupont St       716       Café
2         Napoli Centrale  964 Bathurst St       577   Pizzeria
3  El Pocho Antojitos Bar     2 Follis Ave       549        Bar
4    Pour House Irish Pub    182 Dupont St       886        Pub

Station Name: Kendal Ave / Bernard Ave lat: 43.671513 long: -79.408317 Number of free bikes are: 1

,name,location,distance,categories
0,Ezra's Pound,238 Dupont St,450,Café
1,Creeds Coffee Bar,390 Dupont St,351,Café
2,Insomnia Restaurant and Lounge,563 Bloor St W,735,Dining and Drinking
3,Snakes & Lattes,600 Bloor St W,842,Café
4,Crafty Coyote,511 Bloor St W,658,Beer Bar

Station Name: Pretoria Ave / Broadview Ave lat: 43.6783213 long: -79.35822 Number of free bikes are: 0

                     name          location  distance    categories
0                 Sidebar  161 Danforth Ave       240  Cocktail Bar
1          Dough Bakeshop  173 Danforth Ave       216        Bakery
2           Auld Spot Pub  347 Danforth Ave       423           Pub
3       Pizzeria Libretto  550 Danforth Ave       855      Pizzeria
4  Louis Cifer Brew Works  417 Danforth Ave       559           Bar

Station Name: Broadview Ave / Westwood Ave lat: 43.6848652 long: -79.356602 Number of free bikes are: 9

                     name            location  distance    categories
0           Auld Spot Pub    347 Danforth Ave       882           Pub
1  Louis Cifer Brew Works    417 Danforth Ave       906           Bar
2                 Sidebar    161 Danforth Ave       936  Cocktail Bar
3            Golden Pizza  1201 Broadview Ave       538      Pizzeria
4          Dough Bakeshop    173 Danforth Ave       913        Bakery

Station Name: Fulton Ave / Pape Ave lat: 43.68395 long: -79.347046 Number of free bikes are: 4

                     name          location  distance categories
0       Pizzeria Libretto  550 Danforth Ave       608   Pizzeria
1                 Mr Pide  800 Danforth Ave       652   Pizzeria
2           The Only Cafe  972 Danforth Ave       833   Beer Bar
3  Louis Cifer Brew Works  417 Danforth Ave       778        Bar
4           Auld Spot Pub  347 Danforth Ave       882        Pub

Station Name: Cosburn Ave / Donlands Ave lat: 43.690537 long: -79.341307 Number of free bikes are: 3

                      name          location  distance  categories
0           Goat Coffee Co      893 Pape Ave       806        Café
1       Radio Station Cafe  381 Donlands Ave       333        Café
2  Sophie's Sports Bar Ltd   466 Cosburn Ave       604  Sports Bar
3              Cafe Serano     1055 Pape Ave       615        Café
4       La Grotta Pizzeria      951 Pape Ave       652    Pizzeria

Station Name: Beltline Trail / Chaplin Cres. lat: 43.704461 long: -79.423122 Number of free bikes are: 1

                    name             location  distance   categories
0  The Abbot on Eglinton   508 Eglinton Ave W       778          Bar
1     Ferraro Restaurant   502 Eglinton Ave W       804     Pizzeria
2              Starbucks   900 Eglinton Ave W       551  Coffee Shop
3              Starbucks   444 Eglinton Ave W       903  Coffee Shop
4        Thirsty Fox Pub  1028 Eglinton Ave W       741   Sports Bar

Station Name: Lake Shore Blvd E / Leslie St lat: 43.659195 long: -79.329196 Number of free bikes are: 14

                             name         location  distance   categories
0  Descendant Detroit Style Pizza  1168 Queen St E       475     Pizzeria
1               Hasting Snack Bar   5 Hastings Ave       500       Lounge
2                    The Sidekick  1374 Queen St E       671  Coffee Shop
3          Tango Palace Coffee Co  1156 Queen St E       518         Café
4                          Te Aro   983 Queen St E       792  Coffee Shop

Station Name: King St E / Berkeley St lat: 43.651885 long: -79.3649 Number of free bikes are: 13

                   name           location  distance   categories
0  Rooster Coffee House      343 King St E        57  Coffee Shop
1         Mangia & Bevi      260 King St E       123     Pizzeria
2         Tandem Coffee      368 King St E       310         Café
3           Arvo Coffee  17 Gristmill Lane       350         Café
4        Neo Coffee Bar   161 Frederick St       374         Café

Station Name: Rosedale Park (20 Scholfield Ave) lat: 43.682645 long: -79.377557 Number of free bikes are: 6

                    name    location  distance categories
0  Pizzeria Via Mercanti  87 Elm Ave       741   Pizzeria

Station Name: Mary McCormick Rec Centre (Sheridan Ave) lat: 43.6475 long: -79.43305555555555 Number of free bikes are: 9

                 name          location  distance   categories
0  Fix Coffee + Bikes  80 Gladstone Ave       477         Café
1       Tucana Coffee  1413 Dundas St W       388  Coffee Shop
2     Black Dice Cafe  1574 Dundas St W       285          Bar
3  Run and Gun Coffee  1541 Dundas St W       242  Coffee Shop
4       Loveless Cafe  1430 Dundas St W       354          Bar

Station Name: Soho St / Queen St W lat: 43.6494896 long: -79.393535 Number of free bikes are: 3

               name           location  distance categories
0    Bar Hop Brewco       137 Peter St        47   Beer Bar
1  General Assembly  331 Adelaide St W       243   Pizzeria
2   HotBlack Coffee     245 Queen St W       403       Café
3      Drom Taberna     458 Queen St W       516        Bar
4           Bar Hop      391 King St W       431   Beer Bar

Station Name: Davenport Rd / Lansdowne Ave lat: 43.671526 long: -79.44874 Number of free bikes are: 1

                       name                location  distance   categories
0  Balzac's Coffee Roasters        31 Powerhouse St       206  Coffee Shop
1               Hale Coffee         300 Campbell St       673  Coffee Shop
2      The Greater Good Bar           229 Geary Ave       796          Bar
3       Marcello's Pizzeria  1163 Saint Clair Ave W       868     Pizzeria
4             Pizza e Pazzi  1182 Saint Clair Ave W       807     Pizzeria

Station Name: Front St W / University Ave (2) lat: 43.6452972 long: -79.3827914 Number of free bikes are: 14

                    name        location  distance   categories
0    Wvrst Union Station   65 Front St W       119     Beer Bar
1  Pilot Coffee Roasters   65 Front St W       193  Coffee Shop
2            Library Bar  100 Front St W        98    Hotel Bar
3  Pilot Coffee Roasters   100 King St W       420         Café
4   Sam James Coffee Bar   150 King St W       312         Café

Station Name: 457 King St W lat: 43.6452091 long: -79.3960744 Number of free bikes are: 17

               name             location  distance   categories
0  Le Select Bistro  432 Wellington St W       174     Wine Bar
1           Bar Hop        391 King St W       205     Beer Bar
2    Jimmy's Coffee      107 Portland St       340  Coffee Shop
3      Drom Taberna       458 Queen St W       435          Bar
4  General Assembly    331 Adelaide St W       338     Pizzeria

Station Name: Dufferin St / Sylvan Av (Dufferin Grove Park) lat: 43.6555556 long: -79.43361111111112 Number of free bikes are: 17

                     name          location  distance   categories
0             The 3 Speed   1163 Bloor St W       540          Bar
1                 Burdock   1184 Bloor St W       548  Music Venue
2  Black Cat Espresso Bar   1104 College St       335         Café
3           Tucana Coffee  1413 Dundas St W       757  Coffee Shop
4          The Caledonian    856 College St       825   Whisky Bar

Station Name: Roxborough St W / Yonge St lat: 43.678077 long: -79.390328 Number of free bikes are: 8

                 name       location  distance   categories
0         Black Camel  4 Crescent Rd       140    BBQ Joint
1     The Rebel House  1068 Yonge St        56          Bar
2       Boxcar Social  1208 Yonge St       417     Wine Bar
3           Starbucks  1088 Yonge St         9  Coffee Shop
4  The Rosedale Diner  1164 Yonge St       266     Wine Bar

Station Name: Crawford St / Queen St W lat: 43.645665 long: -79.415345 Number of free bikes are: 17

                         name           location  distance    categories
0           Bellwoods Brewery  124 Ossington Ave       403           Bar
1                   Gift Shop  89B Ossington Ave       336  Cocktail Bar
2  White Squirrel Coffee Shop     907 Queen St W       241          Café
3              Jimmy's Coffee   15 Ossington Ave       313           Bar
4       Reposado Bar & Lounge  136 Ossington Ave       419    Night Club

Station Name: Lisgar St / Dundas St W - SMART lat: 43.6493472 long: -79.42668 Number of free bikes are: 6

                  name           location  distance    categories
0    Pizzeria Libretto  221 Ossington Ave       490      Pizzeria
1   Fix Coffee + Bikes   80 Gladstone Ave       504          Café
2    Bellwoods Brewery  124 Ossington Ave       595           Bar
3  Project Gigglewater   1369 Dundas St W        84  Cocktail Bar
4             Get Well   1181 Dundas St W       381           Bar

Station Name: Dundas St E / Regent Park Blvd lat: 43.660207 long: -79.361275 Number of free bikes are: 11

                        name           location  distance   categories
0            Sumach Espresso      118 Sumach St       270  Coffee Shop
1  Merchants of Green Coffee       2 Matilda St       588  Coffee Shop
2        House on Parliament  454 Parliament St       652          Bar
3              Tandem Coffee      368 King St E       740         Café
4    Dark Horse Espresso Bar     630 Queen St E       741         Café

Station Name: Lower Sherbourne St / The Esplanade lat: 43.648655 long: -79.367061 Number of free bikes are: 24

                            name           location  distance   categories
0                 Neo Coffee Bar   161 Frederick St       288         Café
1           Rooster Coffee House      343 King St E       378  Coffee Shop
2                    Arvo Coffee  17 Gristmill Lane       474         Café
3  The Black Canary Espresso Bar   61 Sherbourne St       375         Café
4              Fahrenheit Coffee     120 Lombard St       615         Café

Station Name: Nelson St / Duncan St lat: 43.648711 long: -79.389728 Number of free bikes are: 23

,name,location,distance,categories
0,HotBlack Coffee,245 Queen St W,202,Café
1,Soho House,192 Adelaide St W,256,Speakeasy
2,Town Crier Pub,115 John St,76,Pub
3,Bar Hop Brewco,137 Peter St,302,Beer Bar
4,Lobby Lounge at the Shangri-La Toronto,188 University Ave,260,Lounge

Station Name: Jimmie Simpson Park (Queen St E) lat: 43.6605603 long: -79.3437663 Number of free bikes are: 7

                        name        location  distance   categories
0              Boxcar Social   4 Boulton Ave       266         Café
1                The Comrade  758 Queen St E       361       Lounge
2        Purple Penguin Cafe  889 Queen St E       119         Café
3                     Te Aro  983 Queen St E       426  Coffee Shop
4  Merchants of Green Coffee    2 Matilda St       822  Coffee Shop

Station Name: Queen St E / Sackville St lat: 43.6561111 long: -79.36138888888888 Number of free bikes are: 9

                       name           location  distance   categories
0             Tandem Coffee      368 King St E       285         Café
1           Sumach Espresso      118 Sumach St       270  Coffee Shop
2      Rooster Coffee House      343 King St E       578  Coffee Shop
3               Arvo Coffee  17 Gristmill Lane       683         Café
4  Dominion Pub and Kitchen     500 Queen St E       214          Pub

Station Name: Mill St / Tannery Rd lat: 43.652219 long: -79.354455 Number of free bikes are: 13

                        name            location  distance   categories
0   Balzac's Coffee Roastery          55 Mill St       463         Café
1                Arvo Coffee   17 Gristmill Lane       615         Café
2              Tandem Coffee       368 King St E       609         Café
3  Merchants of Green Coffee        2 Matilda St       856  Coffee Shop
4       Mill Street Brew Pub  21 Tank House Lane       384          Pub

Station Name: Cherry St / Distillery Ln lat: 43.650279 long: -79.356832 Number of free bikes are: 1

                       name            location  distance   categories
0  Balzac's Coffee Roastery          55 Mill St       193         Café
1               Arvo Coffee   17 Gristmill Lane       372         Café
2      Mill Street Brew Pub  21 Tank House Lane       133          Pub
3             Tandem Coffee       368 King St E       541         Café
4      Rooster Coffee House       343 King St E       728  Coffee Shop

Station Name: Queen St W / Spadina Ave lat: 43.649147 long: -79.395504 Number of free bikes are: 9

                      name           location  distance categories
0           Bar Hop Brewco       137 Peter St       164   Beer Bar
1             Drom Taberna     458 Queen St W       353        Bar
2         General Assembly  331 Adelaide St W       283   Pizzeria
3              Le Gourmand    152 Spadina Ave       128       Café
4  Dark Horse Espresso Bar    215 Spadina Ave       199       Café

Station Name: Yonge St / Harbour St lat: 43.643795 long: -79.375413 Number of free bikes are: 34

                        name       location  distance   categories
0                    Mos Mos      20 Bay St       294  Coffee Shop
1  Air Canada Signature Club           None       307       Lounge
2        Wvrst Union Station  65 Front St W       496     Beer Bar
3      Pilot Coffee Roasters  65 Front St W       424  Coffee Shop
4   Ki Modern Japanese + Bar     181 Bay St       496          Bar

Station Name: Willcocks St / St. George St lat: 43.662085 long: -79.397735 Number of free bikes are: 4

                               name        location  distance categories
0  Her Father's Cider Bar + Kitchen  119 Harbord St       561   Beer Bar
1                     Harbord House  150 Harbord St       618        Bar
2                      Voodoo Child  388 College St       842        Bar
3                        Prenup Pub  191 College St       425        Bar
4                    Jimmy's Coffee  191 Baldwin St       891       Café

Station Name: Dundas St E / Parliament St lat: 43.659575 long: -79.365769 Number of free bikes are: 3

                   name           location  distance   categories
0   House on Parliament  454 Parliament St       482          Bar
1       Sumach Espresso      118 Sumach St       527  Coffee Shop
2         Tandem Coffee      368 King St E       740         Café
3  Rooster Coffee House      343 King St E       853  Coffee Shop
4              Fusaro's  294 Richmond St E       754     Pizzeria

Station Name: 51 Parliament St lat: 43.65205 long: -79.362198 Number of free bikes are: 10

                       name           location  distance   categories
0             Tandem Coffee      368 King St E       170         Café
1               Arvo Coffee  17 Gristmill Lane       239         Café
2      Rooster Coffee House      343 King St E       274  Coffee Shop
3  Balzac's Coffee Roastery         55 Mill St       350         Café
4             Mangia & Bevi      260 King St E       334     Pizzeria

Station Name: Queen's Park / Bloor St W lat: 43.668456 long: -79.393899 Number of free bikes are: 6

                     name           location  distance           categories
0  Nespresso Boutique Bar  159 Cumberland St       164                 Café
1               The Oxley  121 Yorkville Ave       242                  Bar
2  Hemingway's Restaurant  142 Cumberland St       203  Dining and Drinking
3               Starbucks       1 Beford Ave       280          Coffee Shop
4          B Expresso Bar   273 Bloor W Grnd       179          Coffee Shop

Station Name: Fort York Blvd / Bathurst St - SMART lat: 43.639052 long: -79.399792 Number of free bikes are: 11

               name              location  distance   categories
0    Roses New York    135 Fort York Blvd        69          Bar
1  Le Select Bistro   432 Wellington St W       574     Wine Bar
2   Mira Restaurant  420A Wellington St W       647          Bar
3    Jimmy's Coffee       107 Portland St       690  Coffee Shop
4             WVRST         609 King St W       579     Beer Bar

Station Name: Alma Ave / Gladstone Ave SMART lat: 43.6448617 long: -79.42822 Number of free bikes are: 11

                 name           location  distance   categories
0  Fix Coffee + Bikes   80 Gladstone Ave        10         Café
1            Bar Poet    1090 Queen St W       498          Bar
2       Tucana Coffee   1413 Dundas St W       526  Coffee Shop
3    Pizzeria Badiali  181 Dovercourt Rd       402     Pizzeria
4   Bellwoods Brewery  124 Ossington Ave       709          Bar

Station Name: Queen St W / Cowan Ave lat: 43.6409 long: -79.432837 Number of free bikes are: 13

                     name          location  distance    categories
0            Miss Thing's   1279 Queen St W       101  Cocktail Bar
1  The Shameful Tiki Room   1378 Queen St W        56     Beach Bar
2      Fix Coffee + Bikes  80 Gladstone Ave       581          Café
3       Rustic Cosmo Cafe   1278 Queen St W       263   Coffee Shop
4    Louie - Craft Coffee    1187 King St W       607          Café

Station Name: Queen St W / Gladstone Ave lat: 43.6430555555556 long: -79.4275 Number of free bikes are: 10

                   name           location  distance    categories
0    Fix Coffee + Bikes   80 Gladstone Ave       219          Café
1              Bar Poet    1090 Queen St W       425           Bar
2  Louie - Craft Coffee     1187 King St W       445          Café
3          Miss Thing's    1279 Queen St W       395  Cocktail Bar
4     Bellwoods Brewery  124 Ossington Ave       754           Bar

Station Name: Harbord St / Clinton St lat: 43.660414 long: -79.415646 Number of free bikes are: 9

,name,location,distance,categories
0,Sam James Coffee Bar,297 Harbord St,14,Café
1,Snakes & Lattes,600 Bloor St W,525,Café
2,The Good Neighbour,678 Bloor St W,404,Coffee Shop
3,Bar Raval,505 College St,669,Lounge
4,Insomnia Restaurant and Lounge,563 Bloor St W,649,Dining and Drinking

Station Name: Central Tech  (Harbord St) lat: 43.661975 long: -79.407896 Number of free bikes are: 3

,name,location,distance,categories
0,Her Father's Cider Bar + Kitchen,119 Harbord St,261,Beer Bar
1,Harbord House,150 Harbord St,207,Bar
2,Insomnia Restaurant and Lounge,563 Bloor St W,433,Dining and Drinking
3,Pizza Gigi,189 Harbord St,34,Pizzeria
4,Snakes & Lattes,600 Bloor St W,525,Café

Station Name: Roxton Rd / Harbord St lat: 43.65905 long: -79.422988 Number of free bikes are: 1

                        name        location  distance    categories
0            Civil Liberties  878 Bloor St W       381  Cocktail Bar
1         Paradise Grapevine  841 Bloor St W       370      Wine Bar
2                 Bar Isabel  797 College St       508  Cocktail Bar
3  Tallboys Craft Beer House  838 Bloor St W       382           Pub
4             The Caledonian  856 College St       532    Whisky Bar

Station Name: Ulster St / Bathurst St lat: 43.66 long: -79.4088888888889 Number of free bikes are: 1

                               name        location  distance categories
0  Her Father's Cider Bar + Kitchen  119 Harbord St       432   Beer Bar
1                         Bar Raval  505 College St       465     Lounge
2                     Harbord House  150 Harbord St       391        Bar
3                      Voodoo Child  388 College St       436        Bar
4                      Manic Coffee  426 College St       397       Café

Station Name: Mortimer Ave / Coxwell Ave lat: 43.690564 long: -79.326319 Number of free bikes are: 10

               name           location  distance   categories
0          The Wren  1382 Danforth Ave       910          Bar
1        Local 1794  1794 Danforth Ave       904          Bar
2  Sauce Danthforth  1376 Danforth Ave       914       Lounge
3         Starbucks    978 Coxwell Ave       650  Coffee Shop
4         Pizza Hut    985 Coxwell Ave       677     Pizzeria

Station Name: Danforth Ave / Barrington Ave lat: 43.688325 long: -79.300463 Number of free bikes are: 5

                       name           location  distance   categories
0  PRESS books.coffee.vinyl  2442 Danforth Ave       329  Coffee Shop
1            Grinder Coffee        126 Main St       585  Coffee Shop
2             Diamond Pizza        510 Main St       791     Pizzeria
3                 Starbucks     50 Musgrave St       982  Coffee Shop
4               Cam's Perch  2575 Danforth Ave        12  Coffee Shop

Station Name: Pacific Ave / Glenlake Ave lat: 43.65716 long: -79.46478 Number of free bikes are: 8

                     name          location  distance categories
0      The Mugshot Tavern   1729 Bloor St W       487        Bar
1  Cabin Fever Collective   1669 Bloor St W       681        Bar
2      The Good Neighbour    238 Annette St       781       Café
3     Annette Food Market    240 Annette St       771   Pizzeria
4          Indie Alehouse  2876 Dundas St W       924        Bar

Station Name: Broadview Subway Station lat: 43.6772 long: -79.35858 Number of free bikes are: 0

                     name          location  distance    categories
0                 Sidebar  161 Danforth Ave       169  Cocktail Bar
1          Dough Bakeshop  173 Danforth Ave       152        Bakery
2           Auld Spot Pub  347 Danforth Ave       438           Pub
3       Pizzeria Libretto  550 Danforth Ave       895      Pizzeria
4  Louis Cifer Brew Works  417 Danforth Ave       586           Bar

Station Name: Church St  / Wood St lat: 43.662712 long: -79.379903 Number of free bikes are: 1

                   name       location  distance categories
0       Hair of the Dog  425 Church St        22    Gay Bar
1           Black Eagle  457 Church St       153    Gay Bar
2  Churchmouse & Firkin  475 Church St       217        Pub
3               Woody's  467 Church St       190    Gay Bar
4      Storm Crow Manor  580 Church St       478        Bar

Station Name: College Park - Gerrard Entrance lat: 43.658938 long: -79.383518 Number of free bikes are: 4

                                name         location  distance   categories
0                      Hailed Coffee  44 Gerrard St W        17  Coffee Shop
1                     Jimmy's Coffee  84 Gerrard St W       177         Café
2  The Queen and Beaver Public House        35 Elm St       162          Bar
3                        Blaze Pizza   10 Dundas St E       389     Pizzeria
4                     Neo Coffee Bar       770 Bay St       228  Coffee Shop

Station Name: Danforth Ave / Coxwell Ave lat: 43.683378 long: -79.322961 Number of free bikes are: 5

                        name           location  distance   categories
0                   The Wren  1382 Danforth Ave       423          Bar
1                 Local 1794  1794 Danforth Ave       355          Bar
2           Sauce Danthforth  1376 Danforth Ave       431       Lounge
3              The Dylan Bar  1276 Danforth Ave       619     Beer Bar
4  Zav Coffee Shop & Gallery  2048 Danforth Ave       768  Coffee Shop

Station Name: 12 Harbour St lat: 43.6425636 long: -79.3762 Number of free bikes are: 15

                        name       location  distance   categories
0                    Mos Mos      20 Bay St       149  Coffee Shop
1  Air Canada Signature Club           None       249       Lounge
2        Wvrst Union Station  65 Front St W       494     Beer Bar
3      Pilot Coffee Roasters  65 Front St W       435  Coffee Shop
4           RS - Real Sports     15 York St       302   Sports Bar

Station Name: Howard Park Ave / Dundas St W - SMART lat: 43.6521 long: -79.4486 Number of free bikes are: 5

,name,location,distance,categories
0,Bandit Brewery,2125 Dundas St W,92,Bar
1,Pizzeria Defina,321 Roncesvalles Ave,388,Pizzeria
2,The Gaslight,1426 Bloor St W,579,Arts and Entertainment
3,Reunion Island Coffee Bar,385 Roncesvalles Ave,243,Café
4,Cabin Fever Collective,1669 Bloor St W,745,Bar

Station Name: Yonge St / Bloor St lat: 43.669969 long: -79.386532 Number of free bikes are: 1

                     name          location  distance              categories
0        Storm Crow Manor     580 Church St       527                     Bar
1         Balzac's Coffee      789 Yonge St       198                    Café
2                    Wish    3 Charles St E       150     Dining and Drinking
3                    Dbar  60 Yorkville Ave       321  Arts and Entertainment
4  Church Street Espresso     585 Church St       417                    Café

Station Name: Dufferin Gate - SMART lat: 43.633473 long: -79.425679 Number of free bikes are: 8

,name,location,distance,categories
0,Louie - Craft Coffee,1187 King St W,645,Café
1,Local Liberty Village,171 E Liberty St,763,New American Restaurant
2,American Express Lounge,909 Lake Shore Blvd W,937,Lounge
3,Liberty Commons at Big Rock Brewery,42 Liberty St,663,Pub
4,The Abbott,99 Spencer Ave,645,Café

Station Name: Lake Shore Blvd W / Ontario Dr lat: 43.630254 long: -79.420317 Number of free bikes are: 20

,name,location,distance,categories
0,American Express Lounge,909 Lake Shore Blvd W,406,Lounge
1,Local Liberty Village,171 E Liberty St,917,New American Restaurant
2,Balzac's Coffee,43 Hanna Ave,931,Coffee Shop
3,Liberty Commons at Big Rock Brewery,42 Liberty St,896,Pub
4,Aroma Espresso Bar,120 Lynn Williams St,994,Coffee Shop

Station Name: Bloor St W / Shaw Ave - SMART lat: 43.662403 long: -79.423098 Number of free bikes are: 1

                        name         location  distance    categories
0         Paradise Grapevine   841 Bloor St W        23      Wine Bar
1  Tallboys Craft Beer House   838 Bloor St W        49           Pub
2            Civil Liberties   878 Bloor St W       171  Cocktail Bar
3                 Comedy Bar  945B Bloor St W       394   Comedy Club
4       Sam James Coffee Bar   297 Harbord St       652          Café

Station Name: Concord Ave / Dewson St lat: 43.656945 long: -79.424911 Number of free bikes are: 3

                        name           location  distance    categories
0                 Bar Isabel     797 College St       414  Cocktail Bar
1            Civil Liberties     878 Bloor St W       572  Cocktail Bar
2         Paradise Grapevine     841 Bloor St W       614      Wine Bar
3  Tallboys Craft Beer House     838 Bloor St W       620           Pub
4          Pizzeria Libretto  221 Ossington Ave       950      Pizzeria

Station Name: Hocken Ave / Vaughan Rd lat: 43.6817346 long: -79.4184725 Number of free bikes are: 1

                    name               location  distance categories
0        Baker and Scone  693 Saint Clair Ave W       611     Bakery
1       Ferro Bar & Cafe  769 Saint Clair Ave W       814   Pizzeria
2     Aroma Expresso Bar        383B Spadina Rd       856       Café
3  Churrasco of St Clair  679 Saint Clair Ave W       561  BBQ Joint
4           Krave Coffee     781 St Clair Ave W       886       Café

Station Name: St Clair Ave W / Bathurst St. lat: 43.683296 long: -79.418734 Number of free bikes are: 1

                    name               location  distance categories
0        Baker and Scone  693 Saint Clair Ave W       618     Bakery
1     Aroma Expresso Bar        383B Spadina Rd       732       Café
2       Ferro Bar & Cafe  769 Saint Clair Ave W       827   Pizzeria
3  Churrasco of St Clair  679 Saint Clair Ave W       569  BBQ Joint
4           Krave Coffee     781 St Clair Ave W       904       Café

Station Name: Queen St E / Nursewood Rd lat: 43.673831 long: -79.281455 Number of free bikes are: 18

                          name          location  distance categories
0             The Feathers Pub   962 Kingston Rd       887     Lounge
1  The Fill Station Sports Bar   2282 Queen St E       287        Pub
2         The Green Dragon Pub  1032 Kingston Rd       821        Pub
3        Outrigger Tap & Table   2232 Queen St E       520        Pub
4                 Fitzgerald's   2298 Queen St E       210        Pub

Station Name: Kewbeach Ave / Kenilworth Ave lat: 43.666325 long: -79.3014 Number of free bikes are: 21

               name             location  distance    categories
0  Bud's Coffee Bar  1966 1/2 Queen St E       369          Café
1         Starbucks      1842 Queen St E       571   Coffee Shop
2    The Stone Lion      1958 Queen St E       371           Pub
3   Castro's Lounge    2116 E Queen St E       733  Cocktail Bar
4   Gull and Firkin      1943 Queen St E       358           Pub

Station Name: Dovercourt Rd / Harrison St (Green P) - SMART lat: 43.651145 long: -79.423742 Number of free bikes are: 12

                   name           location  distance    categories
0     Pizzeria Libretto  221 Ossington Ave       348      Pizzeria
1              Get Well   1181 Dundas St W       249           Bar
2            Bar Isabel     797 College St       471  Cocktail Bar
3  Communist's Daughter   1149 Dundas St W       298  Cocktail Bar
4     Bellwoods Brewery  124 Ossington Ave       543           Bar

Station Name: Baldwin St / Spadina Ave - SMART lat: 43.654905 long: -79.398448 Number of free bikes are: 8

                 name            location  distance    categories
0  Moonbean Coffee Co  30 Saint Andrew St       162          Café
1           FIKA Cafe   28 Kensington Ave       216          Café
2      Jimmy's Coffee      191 Baldwin St       234          Café
3      Little Pebbles      160 Baldwin St       146        Bakery
4   El Rey Mezcal Bar   2A Kensington Ave       270  Cocktail Bar

Station Name: Frederick St / King St E lat: 43.651118 long: -79.369411 Number of free bikes are: 3

                            name           location  distance   categories
0                 Neo Coffee Bar   161 Frederick St        47         Café
1  The Black Canary Espresso Bar   61 Sherbourne St       110         Café
2              Fahrenheit Coffee     120 Lombard St       300         Café
3           Rooster Coffee House      343 King St E       317  Coffee Shop
4                       Fusaro's  294 Richmond St E       247     Pizzeria

Station Name: College St / Borden St lat: 43.6571 long: -79.4056 Number of free bikes are: 1

               name        location  distance categories
0      Voodoo Child  388 College St        19        Bar
1      Manic Coffee  426 College St       124       Café
2      Sneaky Dee's  431 College St       166     Lounge
3  The Little Jerry  418 College St       118   Wine Bar
4         Bar Raval  505 College St       387     Lounge

Station Name: Beverley  St / Dundas St W lat: 43.652823 long: -79.393388 Number of free bikes are: 24

                           name           location  distance    categories
0  The Library Specialty Coffee    281 Dundas St W       266          Café
1                Bar Hop Brewco       137 Peter St       417      Beer Bar
2               HotBlack Coffee     245 Queen St W       467          Café
3             El Rey Mezcal Bar  2A Kensington Ave       535  Cocktail Bar
4       Dark Horse Espresso Bar    215 Spadina Ave       384          Café

Station Name: Bay St / St. Joseph St lat: 43.665527 long: -79.387499 Number of free bikes are: 0

                   name         location  distance   categories
0      Storm Crow Manor    580 Church St       496          Bar
1         Coffee Island       925 Bay St       145         Café
2         Hailed Coffee  44 Gerrard St W       804  Coffee Shop
3  Churchmouse & Firkin    475 Church St       578          Pub
4           Black Eagle    457 Church St       616      Gay Bar

Station Name: Gould St / Mutual St lat: 43.6582 long: -79.3768 Number of free bikes are: 18

                                name         location  distance   categories
0                        Blaze Pizza   10 Dundas St E       318     Pizzeria
1                      Hailed Coffee  44 Gerrard St W       557  Coffee Shop
2  The Queen and Beaver Public House        35 Elm St       546          Bar
3                    Hair of the Dog    425 Church St       563      Gay Bar
4                  Fahrenheit Coffee   120 Lombard St       724         Café

Station Name: Riverdale Park North (Broadview Ave) lat: 43.671172 long: -79.354704 Number of free bikes are: 9

                     name            location  distance    categories
0    Rooster Coffee House  479 Broad View Ave       255          Café
1                 Farside    600 Gerrard St E       655           Bar
2                 Sidebar    161 Danforth Ave       608  Cocktail Bar
3           Auld Spot Pub    347 Danforth Ave       696           Pub
4  Louis Cifer Brew Works    417 Danforth Ave       771           Bar

Station Name: Danforth Ave / Ellerbeck St lat: 43.677076 long: -79.35667 Number of free bikes are: 3

                     name          location  distance    categories
0                 Sidebar  161 Danforth Ave        70  Cocktail Bar
1          Dough Bakeshop  173 Danforth Ave        50        Bakery
2           Auld Spot Pub  347 Danforth Ave       285           Pub
3       Pizzeria Libretto  550 Danforth Ave       747      Pizzeria
4  Louis Cifer Brew Works  417 Danforth Ave       435           Bar

Station Name: Pape Subway Station (Green P) lat: 43.680223 long: -79.344062 Number of free bikes are: 11

                  name          location  distance categories
0              Mr Pide  800 Danforth Ave       213   Pizzeria
1        The Only Cafe  972 Danforth Ave       495   Beer Bar
2  The Olde Eton House  710 Danforth Ave       117        Pub
3           The Shmooz      590 Pape Ave       563       Café
4     Marvel Coffee Co    792 Carlaw Ave       325       Café

Station Name: Danforth Ave / Gough Ave lat: 43.678401 long: -79.346289 Number of free bikes are: 0

                     name          location  distance categories
0                 Mr Pide  800 Danforth Ave       406   Pizzeria
1        Marvel Coffee Co    792 Carlaw Ave        97       Café
2  Louis Cifer Brew Works  417 Danforth Ave       411        Bar
3           The Only Cafe  972 Danforth Ave       710   Beer Bar
4              The Shmooz      590 Pape Ave       427       Café

Station Name: Danforth Ave / Lamb Ave lat: 43.681991 long: -79.329455 Number of free bikes are: 8

               name           location  distance   categories
0          The Wren  1382 Danforth Ave       122          Bar
1         Starbucks  1417 Danforth Ave       182  Coffee Shop
2     The Only Cafe   972 Danforth Ave       700     Beer Bar
3  Sauce Danthforth  1376 Danforth Ave       114       Lounge
4        Local 1794  1794 Danforth Ave       899          Bar

Station Name: King St W / Stafford St lat: 43.6422222 long: -79.41111111111111 Number of free bikes are: 12

                         name            location  distance categories
0                     Pennies    127 Strachan Ave       146        Bar
1                     Terroni      720 Queen St W       466   Pizzeria
2  White Squirrel Coffee Shop      907 Queen St W       375       Café
3  North of Brooklyn Pizzeria  650 1/2 Queen St W       639   Pizzeria
4           Bellwoods Brewery   124 Ossington Ave       894        Bar

Station Name: Bathurst St / Lennox St lat: 43.663808 long: -79.410491 Number of free bikes are: 4

,name,location,distance,categories
0,Insomnia Restaurant and Lounge,563 Bloor St W,157,Dining and Drinking
1,Snakes & Lattes,600 Bloor St W,239,Café
2,Crafty Coyote,511 Bloor St W,248,Beer Bar
3,Her Father's Cider Bar + Kitchen,119 Harbord St,489,Beer Bar
4,Harbord House,150 Harbord St,434,Bar

Station Name: Bathurst Subway Station lat: 43.6666667 long: -79.41166666666668 Number of free bikes are: 2

,name,location,distance,categories
0,Insomnia Restaurant and Lounge,563 Bloor St W,174,Dining and Drinking
1,Snakes & Lattes,600 Bloor St W,240,Café
2,Crafty Coyote,511 Bloor St W,272,Beer Bar
3,Napoli Centrale,964 Bathurst St,321,Pizzeria
4,The Good Neighbour,678 Bloor St W,498,Coffee Shop

Station Name: Bloor St W / Christie St lat: 43.6638889 long: -79.41888888888889 Number of free bikes are: 0

                        name        location  distance   categories
0         The Good Neighbour  678 Bloor St W       181  Coffee Shop
1         Paradise Grapevine  841 Bloor St W       399     Wine Bar
2            Snakes & Lattes  600 Bloor St W       472         Café
3  Tallboys Craft Beer House  838 Bloor St W       418          Pub
4       Sam James Coffee Bar  297 Harbord St       476         Café

Station Name: Ossington Ave / Bloor St W lat: 43.661705 long: -79.425734 Number of free bikes are: 1

                        name         location  distance    categories
0            Civil Liberties   878 Bloor St W        62  Cocktail Bar
1         Paradise Grapevine   841 Bloor St W       202      Wine Bar
2  Tallboys Craft Beer House   838 Bloor St W       182           Pub
3                 Comedy Bar  945B Bloor St W       171   Comedy Club
4                 Bar Isabel   797 College St       868  Cocktail Bar

Station Name: Essex St / Christie St - SMART lat: 43.6686111 long: -79.42027777777778 Number of free bikes are: 1

                 name        location  distance    categories
0     Snakes & Lattes  600 Bloor St W       713          Café
1  Paradise Grapevine  841 Bloor St W       737      Wine Bar
2           Northwood  815 Bloor St W       672  Cocktail Bar
3  The Good Neighbour  678 Bloor St W       591   Coffee Shop
4     Civil Liberties  878 Bloor St W       824  Cocktail Bar

Station Name: Westmoreland Ave / Fernbank Ave lat: 43.665327 long: -79.43235 Number of free bikes are: 0

                   name         location  distance    categories
0  The Greater Good Bar    229 Geary Ave       717           Bar
1       Civil Liberties   878 Bloor St W       678  Cocktail Bar
2               Burdock  1184 Bloor St W       782   Music Venue
3           The 3 Speed  1163 Bloor St W       817           Bar
4    Paradise Grapevine   841 Bloor St W       791      Wine Bar

Station Name: Havelock St / Dufferin Park lat: 43.657343 long: -79.43112 Number of free bikes are: 0

              name         location  distance    categories
0          Burdock  1184 Bloor St W       584   Music Venue
1      The 3 Speed  1163 Bloor St W       593           Bar
2  Civil Liberties   878 Bloor St W       711  Cocktail Bar
3   The Caledonian   856 College St       701    Whisky Bar
4       Bar Isabel   797 College St       883  Cocktail Bar

Station Name: Bathurst St / Adelaide St W lat: 43.645324 long: -79.40345 Number of free bikes are: 12

                 name           location  distance   categories
0      Jimmy's Coffee    107 Portland St       252  Coffee Shop
1               WVRST      609 King St W       248     Beer Bar
2  Forget Me Not Cafe  506 Adelaide St W       224  Coffee Shop
3        Drom Taberna     458 Queen St W       435          Bar
4       416 Snack Bar    181 Bathurst St       247    Speakeasy

Station Name: Mill St / Parliament St lat: 43.650256 long: -79.36163 Number of free bikes are: 8

                       name           location  distance   categories
0               Arvo Coffee  17 Gristmill Lane        35         Café
1  Balzac's Coffee Roastery         55 Mill St       206         Café
2      Rooster Coffee House      343 King St E       368  Coffee Shop
3             Tandem Coffee      368 King St E       367         Café
4             Mangia & Bevi      260 King St E       439     Pizzeria

Station Name: Ossington Ave / Harrison St lat: 43.651111111111106 long: -79.4213888888889 Number of free bikes are: 18

                   name           location  distance    categories
0     Pizzeria Libretto  221 Ossington Ave       245      Pizzeria
1  Communist's Daughter   1149 Dundas St W       197  Cocktail Bar
2              Get Well   1181 Dundas St W       203           Bar
3            Bar Isabel     797 College St       411  Cocktail Bar
4     Bellwoods Brewery  124 Ossington Ave       460           Bar

Station Name: 80 Clinton St lat: 43.656296 long: -79.414663 Number of free bikes are: 5

                             name        location  distance    categories
0                   Birreria Volo  612 College St       120      Beer Bar
1                       Bar Raval  505 College St       367        Lounge
2  The Dog and Tiger Public House  537 College St       268           Pub
3                      Bar Isabel  797 College St       514  Cocktail Bar
4            Sam James Coffee Bar  297 Harbord St       459          Café

Station Name: Claremont St / Dundas St W lat: 43.651281 long: -79.411717 Number of free bikes are: 9

             name         location  distance    categories
0  Northern Belle  913 Dundas St W        90  Cocktail Bar
1    Cocktail Bar  923 Dundas St W       133  Cocktail Bar
2       Bar Raval   505 College St       529        Lounge
3        La Palma  849 Dundas St W       118           Bar
4         Terroni   720 Queen St W       603      Pizzeria

Station Name: Rusholme Park Cres / College St lat: 43.65277778 long: -79.42972222 Number of free bikes are: 8

                     name           location  distance    categories
0           Tucana Coffee   1413 Dundas St W       361   Coffee Shop
1  Black Cat Espresso Bar    1104 College St       208          Café
2              Bar Isabel     797 College St       757  Cocktail Bar
3       Pizzeria Libretto  221 Ossington Ave       846      Pizzeria
4      Fix Coffee + Bikes   80 Gladstone Ave       877          Café

Station Name: College St / Crawford St lat: 43.655 long: -79.418889 Number of free bikes are: 1

                name           location  distance    categories
0         Bar Isabel     797 College St       148  Cocktail Bar
1      Birreria Volo     612 College St       339      Beer Bar
2     Northern Belle    913 Dundas St W       681  Cocktail Bar
3   El Convento Rico   750 College St W        51    Night Club
4  Pizzeria Libretto  221 Ossington Ave       683      Pizzeria

Station Name: Gerrard Square Mall (1010 Gerrard St E) lat: 43.668553 long: -79.338673 Number of free bikes are: 6

                             name           location  distance    categories
0           Pinkerton's Snack Bar  1026 Gerrard St E       116  Cocktail Bar
1               Maple Leaf Tavern   955 Gerrard St E       118  Cocktail Bar
2                      Pizza Pide   949 Gerrard St E       147      Pizzeria
3  Descendant Detroit Style Pizza    1168 Queen St E       815      Pizzeria
4                  Dineen Outpost  1042 Gerrard St E       172          Café

Station Name: Queen St E / Alton Av lat: 43.663912 long: -79.327987 Number of free bikes are: 19

                             name          location  distance   categories
0               Hasting Snack Bar    5 Hastings Ave        84       Lounge
1                    The Sidekick   1374 Queen St E       235  Coffee Shop
2  Descendant Detroit Style Pizza   1168 Queen St E       374     Pizzeria
3          Tango Palace Coffee Co   1156 Queen St E       483         Café
4                  Blondies Pizza  1555 Dundas St E       392     Pizzeria

Station Name: Simcoe St / Wellington St W North lat: 43.6462176 long: -79.3855048 Number of free bikes are: 9

                               name            location  distance categories
0                        Soho House   192 Adelaide St W       291  Speakeasy
1                 Pizzeria Libretto  155 University Ave       237   Pizzeria
2               Wvrst Union Station       65 Front St W       359   Beer Bar
3              Sam James Coffee Bar       150 King St W       207       Café
4  Scaddabush Italian Kitchen & Bar      200 Front St W       164   Wine Bar

Station Name: Coxwell Ave / Plains Rd lat: 43.69595 long: -79.328535 Number of free bikes are: 11

                      name          location  distance   categories
0                Starbucks   978 Coxwell Ave        42  Coffee Shop
1                Pizza Hut   985 Coxwell Ave        54     Pizzeria
2        Eden Chinese Food  1025 Coxwell Ave       133     Pizzeria
3       Free Topping Pizza  1015 Coxwell Ave       133     Pizzeria
4  Sophie's Sports Bar Ltd   466 Cosburn Ave       592   Sports Bar

Station Name: Carlaw Ave / Strathcona Ave lat: 43.6753188 long: -79.3462789 Number of free bikes are: 9

                     name            location  distance    categories
0              The Shmooz        590 Pape Ave       232          Café
1                 Mr Pide    800 Danforth Ave       612      Pizzeria
2    Rooster Coffee House  479 Broad View Ave       877          Café
3  Louis Cifer Brew Works    417 Danforth Ave       481           Bar
4       Maple Leaf Tavern    955 Gerrard St E       927  Cocktail Bar

Station Name: Logan Ave / Bain Ave lat: 43.6720273 long: -79.3470557 Number of free bikes are: 9

                    name            location  distance    categories
0   Rooster Coffee House  479 Broad View Ave       582          Café
1      Maple Leaf Tavern    955 Gerrard St E       698  Cocktail Bar
2  Pinkerton's Snack Bar   1026 Gerrard St E       857  Cocktail Bar
3             The Shmooz        590 Pape Ave       456          Café
4                Mr Pide    800 Danforth Ave       954      Pizzeria

Station Name: Liberty St / Fraser Ave Green P lat: 43.637981 long: -79.424146 Number of free bikes are: 12

                    name          location  distance               categories
0   Louie - Craft Coffee    1187 King St W       187                     Café
1               Bar Poet   1090 Queen St W       643                      Bar
2  Local Liberty Village  171 E Liberty St       404  New American Restaurant
3     Fix Coffee + Bikes  80 Gladstone Ave       842                     Café
4              Bar Fancy   1070 Queen St E       678                      Bar

Station Name: King St W / Douro St lat: 43.640885 long: -79.416379 Number of free bikes are: 10

                name           location  distance    categories
0           Bar Poet    1090 Queen St W       562           Bar
1     Jimmy's Coffee   15 Ossington Ave       452           Bar
2          Gift Shop  89B Ossington Ave       635  Cocktail Bar
3            Pennies   127 Strachan Ave       424           Bar
4  Bellwoods Brewery  124 Ossington Ave       747           Bar

Station Name: Queen St E / Berkeley St lat: 43.6552778 long: -79.36583333333333 Number of free bikes are: 0

                            name           location  distance   categories
0           Rooster Coffee House      343 King St E       375  Coffee Shop
1                  Tandem Coffee      368 King St E       375         Café
2                       Fusaro's  294 Richmond St E       365     Pizzeria
3                 Neo Coffee Bar   161 Frederick St       578         Café
4  The Black Canary Espresso Bar   61 Sherbourne St       435         Café

Station Name: Howard St / Sherbourne St lat: 43.6712581 long: -79.376367 Number of free bikes are: 0

                     name            location  distance categories
0    Rooster Coffee House       568 Jarvis St       333       Café
1        Storm Crow Manor       580 Church St       646        Bar
2  Church Street Espresso       585 Church St       552       Café
3       Red Rocket Coffee  154 Wellesley St E       526     Bakery
4    Churchmouse & Firkin       475 Church St       804        Pub

Station Name: Carlton St / Parliament St lat: 43.664524 long: -79.36793 Number of free bikes are: 23

                  name            location  distance   categories
0  House on Parliament   454 Parliament St        97          Bar
1      Stout Irish Pub     221E Carlton St       113          Pub
2      Sumach Espresso       118 Sumach St       980  Coffee Shop
3    Red Rocket Coffee  154 Wellesley St E       687       Bakery
4      Hair of the Dog       425 Church St       962      Gay Bar

Station Name: Sumach St / Carlton St (Riverdale Farm) lat: 43.665867 long: -79.362506 Number of free bikes are: 9

                        name            location  distance   categories
0        House on Parliament   454 Parliament St       495          Bar
1                   F'Amelia        12 Amelia St       524     Pizzeria
2       Rooster Coffee House  479 Broad View Ave       838         Café
3  Merchants of Green Coffee        2 Matilda St       953  Coffee Shop
4            Sumach Espresso       118 Sumach St       892  Coffee Shop

Station Name: King St W / Bay St (East Side) lat: 43.648575 long: -79.380042 Number of free bikes are: 8

                       name       location  distance categories
0     Pilot Coffee Roasters  100 King St W        77       Café
1          Dineen Coffee Co   140 Yonge St       236       Café
2    Walrus Pub & Beer Hall     187 Bay St       139        Pub
3  Ki Modern Japanese + Bar     181 Bay St       159        Bar
4       Wvrst Union Station  65 Front St W       414   Beer Bar

Station Name: Front St W / Blue Jays Way lat: 43.643473 long: -79.390477 Number of free bikes are: 5

               name             location  distance categories
0           Bar Hop        391 King St W       344   Beer Bar
1  Le Select Bistro  432 Wellington St W       498   Wine Bar
2  General Assembly    331 Adelaide St W       475   Pizzeria
3    360 Restaurant       301 Front St W       295   Wine Bar
4        Soho House    192 Adelaide St W       664  Speakeasy

Station Name: Metro Hall Plaza lat: 43.645859 long: -79.38783 Number of free bikes are: 16

                   name            location  distance categories
0            Soho House   192 Adelaide St W       335  Speakeasy
1     Pizzeria Libretto  155 University Ave       351   Pizzeria
2   Wvrst Union Station       65 Front St W       528   Beer Bar
3  Sam James Coffee Bar       150 King St W       360       Café
4       HotBlack Coffee      245 Queen St W       505       Café

Station Name: Parliament St / Gerrard St E lat: 43.662132 long: -79.3656796 Number of free bikes are: 13

                        name           location  distance   categories
0        House on Parliament  454 Parliament St       242          Bar
1            Stout Irish Pub    221E Carlton St       332          Pub
2            Sumach Espresso      118 Sumach St       665  Coffee Shop
3  Merchants of Green Coffee       2 Matilda St       973  Coffee Shop
4              Tandem Coffee      368 King St E      1002         Café

Station Name: Navy Wharf Crt / Bremner Blvd lat: 43.640722 long: -79.391051 Number of free bikes are: 2

,name,location,distance,categories
0,Starbucks,10 Lower Spadina Ave,344,Coffee Shop
1,Le Select Bistro,432 Wellington St W,559,Wine Bar
2,The Rec Room,255 Bremner Blvd,347,Arcade
3,Bar Hop,391 King St W,579,Beer Bar
4,Steam Whistle Biergarten,255 Bremner Blvd,417,Dining and Drinking

Station Name: Jarvis St / Carlton St lat: 43.66207 long: -79.37617 Number of free bikes are: 0

                   name         location  distance   categories
0       Hair of the Dog    425 Church St       293      Gay Bar
1           Black Eagle    457 Church St       387      Gay Bar
2  Churchmouse & Firkin    475 Church St       443          Pub
3       The Blake House    449 Jarvis St       286          Bar
4         Hailed Coffee  44 Gerrard St W       703  Coffee Shop

Station Name: Lake Shore Blvd E / Knox Ave lat: 43.660206 long: -79.3244 Number of free bikes are: 9

                             name          location  distance   categories
0                    The Sidekick   1374 Queen St E       479  Coffee Shop
1               Hasting Snack Bar    5 Hastings Ave       535       Lounge
2  Descendant Detroit Style Pizza   1168 Queen St E       703     Pizzeria
3          Tango Palace Coffee Co   1156 Queen St E       790         Café
4                  Blondies Pizza  1555 Dundas St E       894     Pizzeria

Station Name: Hubbard Blvd. / Glen Manor Dr. lat: 43.668633 long: -79.291162 Number of free bikes are: 15

                          name             location  distance    categories
0             Bud's Coffee Bar  1966 1/2 Queen St E       972          Café
1              Castro's Lounge    2116 E Queen St E       419  Cocktail Bar
2  The Fill Station Sports Bar      2282 Queen St E       716           Pub
3               The Stone Lion      1958 Queen St E       915           Pub
4    Juice & Java Catering Inc      2102 Queen St E       457          Café

Station Name: Yonge St / Dundonald St - SMART lat: 43.665801 long: -79.384796 Number of free bikes are: 3

                     name       location  distance categories
0        Storm Crow Manor  580 Church St       282        Bar
1    Churchmouse & Firkin  475 Church St       376        Pub
2             Black Eagle  457 Church St       423    Gay Bar
3  Church Street Espresso  585 Church St       362       Café
4                 Woody's  467 Church St       389    Gay Bar

Station Name: Bay St / Charles St W - SMART lat: 43.668153 long: -79.38891 Number of free bikes are: 0

                     name           location  distance              categories
0        Storm Crow Manor      580 Church St       606                     Bar
1  Nespresso Boutique Bar  159 Cumberland St       405                    Café
2               The Oxley  121 Yorkville Ave       420                     Bar
3                    Dbar   60 Yorkville Ave       379  Arts and Entertainment
4               Starbucks    47 Charles St W        44             Coffee Shop

Station Name: Church St / Dundas St E - SMART lat: 43.657024 long: -79.377257 Number of free bikes are: 9

                                name         location  distance     categories
0                        Blaze Pizza   10 Dundas St E       228       Pizzeria
1                      Hailed Coffee  44 Gerrard St W       554    Coffee Shop
2            CF Toronto Eaton Centre     220 Yonge St       409  Shopping Mall
3                  Fahrenheit Coffee   120 Lombard St       631           Café
4  The Queen and Beaver Public House        35 Elm St       506            Bar

Station Name: Yonge St / Alexander St - SMART lat: 43.662862 long: -79.383572 Number of free bikes are: 0

                   name         location  distance   categories
0         Hailed Coffee  44 Gerrard St W       447  Coffee Shop
1       Hair of the Dog    425 Church St       313      Gay Bar
2      Storm Crow Manor    580 Church St       469          Bar
3  Churchmouse & Firkin    475 Church St       321          Pub
4           Black Eagle    457 Church St       310      Gay Bar

Station Name: Eglinton Ave W / Henning Ave SMART lat: 43.7063473 long: -79.40161 Number of free bikes are: 0

                               name        location  distance   categories
0                         Starbucks   2451 Yonge St       564  Coffee Shop
1  De Mello Palheta Coffee Roasters   2489 Yonge St       630         Café
2                      Sip Wine Bar  2 Broadway Ave       446     Wine Bar
3                         Balsamico   2029 Yonge St       645     Pizzeria
4                    Himalayan Java   2552 Yonge St       806         Café

Station Name: Balliol St / Yonge St  SMART lat: 43.6978701 long: -79.39419 Number of free bikes are: 0

                      name               location  distance categories
0                Balsamico          2029 Yonge St       469   Pizzeria
1    Jules Cafe Patisserie  617 Mount Pleasant Rd       837     Bakery
2            Little Sister          2031 Yonge St       473     Lounge
3  St. Louis Bar and Grill          2050 Yonge St       491        Bar
4            Bull & Firkin          1835 Yonge St       217        Pub

Station Name: Frobisher Ave / Lascelles Blvd lat: 43.696708 long: -79.40045 Number of free bikes are: 8

                      name       location  distance categories
0                Balsamico  2029 Yonge St       594   Pizzeria
1            Little Sister  2031 Yonge St       599     Lounge
2  St. Louis Bar and Grill  2050 Yonge St       587        Bar
3            Bull & Firkin  1835 Yonge St       339        Pub
4    Rachel's Coffee House  2011 Yonge St       552       Café

Station Name: Front St E / Scott St lat: 43.6476616 long: -79.37549 Number of free bikes are: 5

                       name           location  distance categories
0                   Terroni  57A Adelaide St E       362   Pizzeria
1          Dineen Coffee Co       140 Yonge St       410       Café
2     Pilot Coffee Roasters      100 King St W       456       Café
3                C'est What      67 Front St E       185   Beer Bar
4  Ki Modern Japanese + Bar         181 Bay St       316        Bar

Station Name: Frederick St / The Esplanade lat: 43.6487245 long: -79.36839 Number of free bikes are: 19

                            name           location  distance   categories
0                 Neo Coffee Bar   161 Frederick St       230         Café
1           Rooster Coffee House      343 King St E       417  Coffee Shop
2  The Black Canary Espresso Bar   61 Sherbourne St       349         Café
3              Fahrenheit Coffee     120 Lombard St       535         Café
4                    Arvo Coffee  17 Gristmill Lane       575         Café

Station Name: King St W / Bay St (West Side) lat: 43.64852 long: -79.380576 Number of free bikes are: 15

                       name       location  distance categories
0     Pilot Coffee Roasters  100 King St W        45       Café
1          Dineen Coffee Co   140 Yonge St       263       Café
2    Walrus Pub & Beer Hall     187 Bay St       153        Pub
3  Ki Modern Japanese + Bar     181 Bay St       173        Bar
4       Wvrst Union Station  65 Front St W       399   Beer Bar

Station Name: Elizabeth St / Edward St (Bus Terminal) lat: 43.656026 long: -79.385327 Number of free bikes are: 10

                                name         location  distance   categories
0                      Hailed Coffee  44 Gerrard St W       338  Coffee Shop
1                     Jimmy's Coffee  84 Gerrard St W       267         Café
2  The Queen and Beaver Public House        35 Elm St       216          Bar
3       The Library Specialty Coffee  281 Dundas St W       482         Café
4                        Blaze Pizza   10 Dundas St E       430     Pizzeria

Station Name: King St W / Spadina Ave lat: 43.645323 long: -79.395003 Number of free bikes are: 14

               name             location  distance categories
0           Bar Hop        391 King St W       118   Beer Bar
1  Le Select Bistro  432 Wellington St W       224   Wine Bar
2  General Assembly    331 Adelaide St W       272   Pizzeria
3      Bang Sue Bar      11 Charlotte St       141   Beer Bar
4      Drom Taberna       458 Queen St W       488        Bar

Station Name: Glen Edyth Dr / Davenport Rd lat: 43.677778 long: -79.405556 Number of free bikes are: 4

                   name          location  distance   categories
0          Ezra's Pound     238 Dupont St       292         Café
1     Creeds Coffee Bar     390 Dupont St       589         Café
2  Pour House Irish Pub     182 Dupont St       275          Pub
3     Martino Pizza Inc     178 Dupont St       294     Pizzeria
4          Avenue Diner  222 Davenport Rd       771  Coffee Shop

Station Name: Queens Quay / Yonge St lat: 43.641646 long: -79.375308 Number of free bikes are: 29

                        name       location  distance   categories
0                    Mos Mos      20 Bay St       180  Coffee Shop
1  Air Canada Signature Club           None       355       Lounge
2        Wvrst Union Station  65 Front St W       611     Beer Bar
3      Pilot Coffee Roasters  65 Front St W       555  Coffee Shop
4           RS - Real Sports     15 York St       387   Sports Bar

Station Name: Front St W / Bay St (North Side) lat: 43.646162 long: -79.378912 Number of free bikes are: 9

                       name       location  distance   categories
0       Wvrst Union Station  65 Front St W       238     Beer Bar
1     Pilot Coffee Roasters  65 Front St W       175  Coffee Shop
2  Ki Modern Japanese + Bar     181 Bay St       123          Bar
3    Walrus Pub & Beer Hall     187 Bay St       143          Pub
4     Pilot Coffee Roasters  100 King St W       338         Café

Station Name: Danforth Ave / Westlake Ave lat: 43.687323 long: -79.304848 Number of free bikes are: 8

                        name           location  distance   categories
0   PRESS books.coffee.vinyl  2442 Danforth Ave        49  Coffee Shop
1  Morning Parade Coffee Bar  1952 Gerrard St E       826  Coffee Shop
2             Grinder Coffee        126 Main St       618  Coffee Shop
3              Diamond Pizza        510 Main St       818     Pizzeria
4  Zav Coffee Shop & Gallery  2048 Danforth Ave       752  Coffee Shop

Station Name: Jarvis St / Isabella St lat: 43.668991 long: -79.379385 Number of free bikes are: 1

                     name        location  distance categories
0    Rooster Coffee House   568 Jarvis St        83       Café
1        Storm Crow Manor   580 Church St       297        Bar
2  Church Street Espresso   585 Church St       214       Café
3     Piedmont Coffee Bar  66 Isabella St       263       Café
4    Churchmouse & Firkin   475 Church St       491        Pub

Station Name: Yonge St / Wood St lat: 43.6622222 long: -79.3825 Number of free bikes are: 0

                   name         location  distance   categories
0         Hailed Coffee  44 Gerrard St W       388  Coffee Shop
1       Hair of the Dog    425 Church St       237      Gay Bar
2           Black Eagle    457 Church St       283      Gay Bar
3  Churchmouse & Firkin    475 Church St       316          Pub
4      Storm Crow Manor    580 Church St       518          Bar

Station Name: King St W / Tecumseth St lat: 43.64333333333333 long: -79.40555555555557 Number of free bikes are: 7

                         name            location  distance   categories
0                     Terroni      720 Queen St W       428     Pizzeria
1              Jimmy's Coffee     107 Portland St       473  Coffee Shop
2  North of Brooklyn Pizzeria  650 1/2 Queen St W       409     Pizzeria
3                       WVRST       609 King St W       398     Beer Bar
4                Drom Taberna      458 Queen St W       712          Bar

Station Name: Beverley St / College St lat: 43.6575 long: -79.39527777777778 Number of free bikes are: 5

                           name            location  distance categories
0  The Library Specialty Coffee     281 Dundas St W       491       Café
1                    Prenup Pub      191 College St       157        Bar
2            Moonbean Coffee Co  30 Saint Andrew St       542       Café
3                Jimmy's Coffee      191 Baldwin St       589       Café
4                     FIKA Cafe   28 Kensington Ave       601       Café

Station Name: Gould St / Yonge St (TMU) lat: 43.657424 long: -79.381019 Number of free bikes are: 20

                                name         location  distance     categories
0                      Hailed Coffee  44 Gerrard St W       265    Coffee Shop
1                        Blaze Pizza   10 Dundas St E       129       Pizzeria
2  The Queen and Beaver Public House        35 Elm St       201            Bar
3                     Jimmy's Coffee  84 Gerrard St W       385           Café
4            CF Toronto Eaton Centre     220 Yonge St       370  Shopping Mall

Station Name: Front St W / Bay St (South Side) lat: 43.64595 long: -79.378761 Number of free bikes are: 17

                       name       location  distance   categories
0       Wvrst Union Station  65 Front St W       236     Beer Bar
1     Pilot Coffee Roasters  65 Front St W       168  Coffee Shop
2  Ki Modern Japanese + Bar     181 Bay St       149          Bar
3    Walrus Pub & Beer Hall     187 Bay St       169          Pub
4     Pilot Coffee Roasters  100 King St W       365         Café

Station Name: Charles St W / Balmuto St - SMART lat: 43.668427 long: -79.38725 Number of free bikes are: 1

                     name           location  distance              categories
0        Storm Crow Manor      580 Church St       487                     Bar
1                    Wish     3 Charles St E       130     Dining and Drinking
2  Church Street Espresso      585 Church St       432                    Café
3  Nespresso Boutique Bar  159 Cumberland St       516                    Café
4                    Dbar   60 Yorkville Ave       402  Arts and Entertainment

Station Name: Charles St E / Jarvis St - SMART lat: 43.669604 long: -79.381171 Number of free bikes are: 1

                     name        location  distance categories
0        Storm Crow Manor   580 Church St       309        Bar
1    Rooster Coffee House   568 Jarvis St       104       Café
2  Church Street Espresso   585 Church St       156       Café
3     Piedmont Coffee Bar  66 Isabella St       182       Café
4    Churchmouse & Firkin   475 Church St       555        Pub

Station Name: Queen St E / Pape Ave - SMART lat: 43.661673 long: -79.337789 Number of free bikes are: 10

                             name         location  distance   categories
0                          Te Aro   983 Queen St E        71  Coffee Shop
1  Descendant Detroit Style Pizza  1168 Queen St E       452     Pizzeria
2          Tango Palace Coffee Co  1156 Queen St E       342         Café
3               Hasting Snack Bar   5 Hastings Ave       741       Lounge
4                          Avling  1042 Queen St E        31          Bar

Station Name: Gerrard St E / Broadview - SMART lat: 43.665656 long: -79.352055 Number of free bikes are: 13

                        name            location  distance   categories
0                    Farside    600 Gerrard St E        25          Bar
1       Rooster Coffee House  479 Broad View Ave       400         Café
2  Merchants of Green Coffee        2 Matilda St       656  Coffee Shop
3              Boxcar Social       4 Boulton Ave       780         Café
4                The Comrade      758 Queen St E       775       Lounge

Station Name: Humber Bay Shores Park East lat: 43.6308933 long: -79.4722622 Number of free bikes are: 21

                       name                location  distance    categories
0             Lola's Gelato       14B Brookers Lane       644   Coffee Shop
1         Firkin on the Bay     68 Marine Parade Dr       609           Bar
2       Rustic Social House  2083 Lake Shore Blvd W       353           Bar
3  Palace Pier Rooftop Club   2045 Lakeshore Blvd W       185  Cocktail Bar
4         Boulangerie Cocoa     58 Marine Parade Dr       548          Café

Station Name: Humber Bay Shores Park West lat: 43.6224434 long: -79.480284 Number of free bikes are: 28

                  name                location  distance   categories
0        Lola's Gelato       14B Brookers Lane       543  Coffee Shop
1            Starbucks          150 Pk Lawn Rd       946  Coffee Shop
2    Firkin on the Bay     68 Marine Parade Dr       532          Bar
3            Starbucks  2208 Lake Shore Blvd W       205  Coffee Shop
4  Rustic Social House  2083 Lake Shore Blvd W       897          Bar

Station Name: Taddle Creek Park lat: 43.66986 long: -79.398443 Number of free bikes are: 5

                               name           location  distance   categories
0                         Starbucks       1 Beford Ave       162  Coffee Shop
1            Nespresso Boutique Bar  159 Cumberland St       408         Café
2                         The Oxley  121 Yorkville Ave       445          Bar
3                    B Expresso Bar   273 Bloor W Grnd       268  Coffee Shop
4  Her Father's Cider Bar + Kitchen     119 Harbord St       965     Beer Bar

Station Name: Thompson St / Broadview Ave - SMART lat: 43.659471 long: -79.350325 Number of free bikes are: 7

                         name           location  distance   categories
0   Merchants of Green Coffee       2 Matilda St       296  Coffee Shop
1                 The Comrade     758 Queen St E       192       Lounge
2     Dark Horse Espresso Bar     630 Queen St E       195         Café
3  Rooftop at Broadview Hotel  106 Broadview Ave        44    Hotel Bar
4               Boxcar Social      4 Boulton Ave       279         Café

Station Name: Roncesvalles Ave / Marmaduke St lat: 43.650492 long: -79.450842 Number of free bikes are: 9

                        name              location  distance categories
0            Pizzeria Defina  321 Roncesvalles Ave       212   Pizzeria
1  Reunion Island Coffee Bar  385 Roncesvalles Ave        18       Café
2             Bandit Brewery      2125 Dundas St W       265        Bar
3         Barque Butcher Bar  287 Roncesvalles Ave       335        Bar
4     Cabin Fever Collective       1669 Bloor St W       721        Bar

Station Name: Queen St W  /  Fuller Ave - SMART lat: 43.640255 long: -79.439223 Number of free bikes are: 9

                     name          location  distance    categories
0           Amico's Pizza   1648 Queen St W       325      Pizzeria
1            Miss Thing's   1279 Queen St W       601  Cocktail Bar
2  The Shameful Tiki Room   1378 Queen St W       498     Beach Bar
3           I Deal Coffee  221 Sorauren Ave       757          Café
4              Sunny Joes  250 Sorauren Ave       863   Coffee Shop

Station Name: King St W / Cowan Ave - SMART lat: 43.637922 long: -79.431734 Number of free bikes are: 7

                     name          location  distance    categories
0            Miss Thing's   1279 Queen St W       404  Cocktail Bar
1    Louie - Craft Coffee    1187 King St W       514          Café
2              The Abbott    99 Spencer Ave        82          Café
3      Fix Coffee + Bikes  80 Gladstone Ave       829          Café
4  The Shameful Tiki Room   1378 Queen St W       396     Beach Bar

Station Name: Garden Ave / Roncesvalles Ave lat: 43.643769 long: -79.447915 Number of free bikes are: 14

                 name              location  distance   categories
0     Pizzeria Defina  321 Roncesvalles Ave       572     Pizzeria
1  Barque Butcher Bar  287 Roncesvalles Ave       448          Bar
2          Sunny Joes      250 Sorauren Ave       506  Coffee Shop
3       I Deal Coffee      221 Sorauren Ave       458         Café
4       Amico's Pizza       1648 Queen St W       622     Pizzeria

Station Name: Sorauren Ave / Geoffrey St - SMART lat: 43.649172 long: -79.4445087 Number of free bikes are: 3

                 name              location  distance   categories
0     Pizzeria Defina  321 Roncesvalles Ave       432     Pizzeria
1          Sunny Joes      250 Sorauren Ave       218  Coffee Shop
2       I Deal Coffee      221 Sorauren Ave       325         Café
3  Barque Butcher Bar  287 Roncesvalles Ave       434          Bar
4      Bandit Brewery      2125 Dundas St W       555          Bar

Station Name: Bloor St W / Manning Ave - SMART lat: 43.663912 long: -79.416124 Number of free bikes are: 7

,name,location,distance,categories
0,The Good Neighbour,678 Bloor St W,42,Coffee Shop
1,Snakes & Lattes,600 Bloor St W,258,Café
2,Sam James Coffee Bar,297 Harbord St,395,Café
3,Insomnia Restaurant and Lounge,563 Bloor St W,437,Dining and Drinking
4,Paradise Grapevine,841 Bloor St W,608,Wine Bar

Station Name: Simcoe St / Wellington St W South lat: 43.6458569 long: -79.3853654 Number of free bikes are: 11

                               name            location  distance categories
0               Wvrst Union Station       65 Front St W       335   Beer Bar
1                        Soho House   192 Adelaide St W       333  Speakeasy
2                 Pizzeria Libretto  155 University Ave       275   Pizzeria
3              Sam James Coffee Bar       150 King St W       239       Café
4  Scaddabush Italian Kitchen & Bar      200 Front St W       124   Wine Bar

Station Name: Mallon Ave / Jones Ave -SMART lat: 43.66587 long: -79.33443 Number of free bikes are: 9

                             name           location  distance    categories
0  Descendant Detroit Style Pizza    1168 Queen St E       378      Pizzeria
1           Pinkerton's Snack Bar  1026 Gerrard St E       408  Cocktail Bar
2               Hasting Snack Bar     5 Hastings Ave       499        Lounge
3               Maple Leaf Tavern   955 Gerrard St E       527  Cocktail Bar
4                          Te Aro     983 Queen St E       600   Coffee Shop

Station Name: Berkeley St / Dundas St E - SMART lat: 43.658816 long: -79.367318 Number of free bikes are: 16

                   name           location  distance   categories
0   House on Parliament  454 Parliament St       538          Bar
1       Sumach Espresso      118 Sumach St       631  Coffee Shop
2              Fusaro's  294 Richmond St E       632     Pizzeria
3  Rooster Coffee House      343 King St E       780  Coffee Shop
4         Tandem Coffee      368 King St E       733         Café

Station Name: 128 Sterling Rd - SMART lat: 43.654004 long: -79.444792 Number of free bikes are: 7

              name              location  distance              categories
0     The Gaslight       1426 Bloor St W       449  Arts and Entertainment
1   Bandit Brewery      2125 Dundas St W       403                     Bar
2  Pizzeria Defina  321 Roncesvalles Ave       714                Pizzeria
3      The 3 Speed       1163 Bloor St W       795                     Bar
4          Burdock       1184 Bloor St W       829             Music Venue

Station Name: Sunnyside Ave / The Queensway - SMART lat: 43.6397 long: -79.44865 Number of free bikes are: 17

                 name              location  distance   categories
0       Amico's Pizza       1648 Queen St W       448     Pizzeria
1  Barque Butcher Bar  287 Roncesvalles Ave       884          Bar
2          Sunny Joes      250 Sorauren Ave       923  Coffee Shop
3       I Deal Coffee      221 Sorauren Ave       848         Café
4  Cherry Bomb Coffee   79 Roncesvalles Ave       232       Bakery

Station Name: Sackville St / Eastern Ave - SMART lat: 43.653809 long: -79.3595 Number of free bikes are: 8

                       name           location  distance   categories
0             Tandem Coffee      368 King St E       187         Café
1               Arvo Coffee  17 Gristmill Lane       455         Café
2      Rooster Coffee House      343 King St E       535  Coffee Shop
3  Balzac's Coffee Roastery         55 Mill St       446         Café
4           Sumach Espresso      118 Sumach St       480  Coffee Shop

Station Name: Davenport Rd / McAlpine St - SMART lat: 43.673768 long: -79.391253 Number of free bikes are: 6

                     name           location  distance              categories
0             Black Camel      4 Crescent Rd       391               BBQ Joint
1                    Dbar   60 Yorkville Ave       275  Arts and Entertainment
2               The Oxley  121 Yorkville Ave       384                     Bar
3  Nespresso Boutique Bar  159 Cumberland St       463                    Café
4                   Pi Co        1200 Bay St       422                Pizzeria

Station Name: Sumach St  / Queen St E lat: 43.656638 long: -79.358749 Number of free bikes are: 1

                        name        location  distance   categories
0            Sumach Espresso   118 Sumach St       177  Coffee Shop
1              Tandem Coffee   368 King St E       421         Café
2   Dominion Pub and Kitchen  500 Queen St E        35          Pub
3  Merchants of Green Coffee    2 Matilda St       529  Coffee Shop
4       Rooster Coffee House   343 King St E       762  Coffee Shop

Station Name: Blythwood Rd / Yonge St - SMART lat: 43.716652 long: -79.399993 Number of free bikes are: 4

                               name        location  distance   categories
0                    Himalayan Java   2552 Yonge St       352         Café
1  De Mello Palheta Coffee Roasters   2489 Yonge St       542         Café
2                         Starbucks   2451 Yonge St       629  Coffee Shop
3                      Sip Wine Bar  2 Broadway Ave       780     Wine Bar
4         Classico Louie's Pizzeria   2549 Yonge St       371     Pizzeria

Station Name: Gerrard St E / Main St lat: 43.684261 long: -79.299332 Number of free bikes are: 2

                        name           location  distance   categories
0   PRESS books.coffee.vinyl  2442 Danforth Ave       559  Coffee Shop
1  Morning Parade Coffee Bar  1952 Gerrard St E       957  Coffee Shop
2             Grinder Coffee        126 Main St       139  Coffee Shop
3                       Mako  2271 Gerrard St E       162  Coffee Shop
4             Domino's Pizza  2194 Gerrard St E       170     Pizzeria

Station Name: Southwood Dr / Kingston Rd - SMART lat: 43.678685 long: -79.297974 Number of free bikes are: 0

                    name           location  distance    categories
0       The Feathers Pub    962 Kingston Rd       863        Lounge
1         Grinder Coffee        126 Main St       510   Coffee Shop
2        Castro's Lounge  2116 E Queen St E       873  Cocktail Bar
3  The Grover Pub & Grub    676 Kingston Rd        82           Pub
4              Pizza Hut    2070 Queen St E       873      Pizzeria

Station Name: Neil McLellan Park lat: 43.65143 long: -79.47779 Number of free bikes are: 11

                              name           location  distance   categories
0                Zaza Espresso Bar  258 Beresford Ave        36         Café
1                Baka Gallery Cafe    2256 Bloor St W        45         Café
2  Shakey's Original Bar and Grill   2255W Bloor St W        75    Gastropub
3                        Starbucks    2210 Bloor St W       144  Coffee Shop
4                     Bryden's Inc    2455 Bloor St W       602          Pub

Station Name: Jane St / Bloor St W (Jane Subway Station) lat: 43.64976 long: -79.48477 Number of free bikes are: 10

                         name           location  distance categories
0                Bryden's Inc    2455 Bloor St W        56        Pub
1                 Coffee Tree    2412 Bloor St W       107       Café
2           Zaza Espresso Bar  258 Beresford Ave       587       Café
3           Baka Gallery Cafe    2256 Bloor St W       593       Café
4  Goodfellas Wood Oven Pizza      1 Old Mill Dr       213   Pizzeria

Station Name: Antler St / Campbell Ave - SMART lat: 43.664182 long: -79.449066 Number of free bikes are: 7

,name,location,distance,categories
0,Hale Coffee,300 Campbell St,165,Coffee Shop
1,Balzac's Coffee Roasters,31 Powerhouse St,611,Coffee Shop
2,Cafe Con Leche,1571 Dupont St,366,Café
3,Propeller Coffee Co,50 Wade Ave,612,Café
4,The Gaslight,1426 Bloor St W,769,Arts and Entertainment

Station Name: Clarence Square lat: 43.64407 long: -79.3929 Number of free bikes are: 12

               name             location  distance categories
0           Bar Hop        391 King St W       179   Beer Bar
1  Le Select Bistro  432 Wellington St W       305   Wine Bar
2  General Assembly    331 Adelaide St W       362   Pizzeria
3      Bang Sue Bar      11 Charlotte St       248   Beer Bar
4    Bar Hop Brewco         137 Peter St       557   Beer Bar

Station Name: Lake Shore Blvd W / Louisa St lat: 43.61868 long: -79.48674 Number of free bikes are: 12

                     name                   location  distance   categories
0    Birds and Beans Cafe  2415B Lake Shore Blvd Wes       558         Café
1  Pizzeria Oro di Napoli     2312 Lake Shore Blvd W       122     Pizzeria
2               FBI Pizza     2336 Lake Shore Blvd W       219     Pizzeria
3               Starbucks     2208 Lake Shore Blvd W       596  Coffee Shop
4       Blue Goose Tavern            1 Blue Goose St       763   Sports Bar

Station Name: Front St W / Simcoe St lat: 43.6442 long: -79.38702 Number of free bikes are: 12

                               name            location  distance categories
0  Scaddabush Italian Kitchen & Bar      200 Front St W       146   Wine Bar
1               Wvrst Union Station       65 Front St W       461   Beer Bar
2                    360 Restaurant      301 Front St W       184   Wine Bar
3                        Soho House   192 Adelaide St W       505  Speakeasy
4                 Pizzeria Libretto  155 University Ave       484   Pizzeria

Station Name: Lower Simcoe St / Bremner Blvd lat: 43.64283 long: -79.38409 Number of free bikes are: 14

,name,location,distance,categories
0,Wvrst Union Station,65 Front St W,322,Beer Bar
1,Taverna Mercatto,120 Bremner Blvd,70,Pizzeria
2,Pilot Coffee Roasters,65 Front St W,382,Coffee Shop
3,Steam Whistle Biergarten,255 Bremner Blvd,279,Dining and Drinking
4,Scaddabush Italian Kitchen & Bar,200 Front St W,235,Wine Bar

Station Name: Glendonwynne Rd / Bloor St W lat: 43.65182 long: -79.47421 Number of free bikes are: 9

                              name           location  distance   categories
0                Zaza Espresso Bar  258 Beresford Ave       292         Café
1                        Starbucks    2210 Bloor St W       150  Coffee Shop
2                Baka Gallery Cafe    2256 Bloor St W       286         Café
3  Shakey's Original Bar and Grill   2255W Bloor St W       295    Gastropub
4                 Lit Espresso Bar    2196 Bloor St W       106          Bar

Station Name: Russell Hill Rd / St Clair Ave W lat: 43.685569 long: -79.408019 Number of free bikes are: 6

                   name            location  distance   categories
0    Aroma Expresso Bar     383B Spadina Rd       467         Café
1             Starbucks      446 Spadina Rd       556  Coffee Shop
2             Starbucks  396 St Clair Ave W       650  Coffee Shop
3           Pizza Banfi    333B Lonsdale Rd       593     Pizzeria
4  Second Cup Coffee Co      415 Spadina Rd       513         Café

Station Name: Church St / Lombard St lat: 43.651678 long: -79.375233 Number of free bikes are: 10

                name           location  distance   categories
0            Terroni  57A Adelaide St E        88     Pizzeria
1  Fahrenheit Coffee     120 Lombard St       216         Café
2       Triple a Bar  138 Adelaide St E       202          Bar
3   Dineen Coffee Co       140 Yonge St       312         Café
4      Versus Coffee   70 Adelaide St E        51  Coffee Shop

Station Name: Richmond St E / Yonge St lat: 43.651838 long: -79.378743 Number of free bikes are: 4

                        name           location  distance     categories
0           Dineen Coffee Co       140 Yonge St       149           Café
1                    Terroni  57A Adelaide St E       272       Pizzeria
2  CRAFT Beer Market Toronto    1 Adelaide St E       199       Beer Bar
3      Pilot Coffee Roasters      100 King St W       377           Café
4    CF Toronto Eaton Centre       220 Yonge St       285  Shopping Mall

Station Name: High Park Amphitheatre lat: 43.645653 long: -79.464366 Number of free bikes are: 18

                   name               location  distance   categories
0  Mackenzies High Park        1982 Bloor St W       876          Pub
1             Pizza Hut        2100 Bloor St W       939     Pizzeria
2          Casa Mendoza  2161 Lakeshore Blvd W       263          Bar
3         Palmer Coffee        2133 Bloor St W       963  Coffee Shop

Station Name: Queen's Park Cres W / Hoskin Ave lat: 43.665221 long: -79.394009 Number of free bikes are: 0

                               name           location  distance   categories
0            Nespresso Boutique Bar  159 Cumberland St       520         Café
1                         The Oxley  121 Yorkville Ave       596          Bar
2  Her Father's Cider Bar + Kitchen     119 Harbord St       913     Beer Bar
3                  Storm Crow Manor      580 Church St      1014          Bar
4                         Starbucks       1 Beford Ave       464  Coffee Shop

Station Name: Pottery Rd / Lower Don River Trail lat: 43.688148 long: -79.362101 Number of free bikes are: 12

                         name            location  distance   categories
0                Golden Pizza  1201 Broadview Ave       605     Pizzeria
1            Supernova Coffee   897 Broadview Ave       887  Coffee Shop
2  The Chocolate Pizza Shoppe       20 Gamble Ave       703     Pizzeria

Station Name: Bleecker St / St James Ave lat: 43.669232 long: -79.374495 Number of free bikes are: 5

                   name            location  distance categories
0      Storm Crow Manor       580 Church St       629        Bar
1     Red Rocket Coffee  154 Wellesley St E       324     Bakery
2  Rooster Coffee House       568 Jarvis St       434       Café
3   House on Parliament   454 Parliament St       818        Bar
4  Churchmouse & Firkin       475 Church St       697        Pub

Station Name: Western Battery Rd / Pirandello St lat: 43.640075 long: -79.414156 Number of free bikes are: 4

                    name          location  distance               categories
0                Pennies  127 Strachan Ave       386                      Bar
1               Bar Poet   1090 Queen St W       761                      Bar
2                Terroni    720 Queen St W       788                 Pizzeria
3  Local Liberty Village  171 E Liberty St       440  New American Restaurant
4         Jimmy's Coffee  15 Ossington Ave       624                      Bar

Station Name: Carlaw Ave / Danforth Ave lat: 43.678285 long: -79.347346 Number of free bikes are: 2

                     name          location  distance categories
0                 Mr Pide  800 Danforth Ave       490   Pizzeria
1        Marvel Coffee Co    792 Carlaw Ave        39       Café
2  Louis Cifer Brew Works  417 Danforth Ave       326        Bar
3           Auld Spot Pub  347 Danforth Ave       476        Pub
4              The Shmooz      590 Pape Ave       469       Café

Station Name: Cosburn Ave / Cedarvale Ave lat: 43.697139 long: -79.31469 Number of free bikes are: 10

                 name             location  distance categories
0       Diamond Pizza          510 Main St       833   Pizzeria
1         Pizza Pizza      796 O'Connor Dr       899   Pizzeria
2  Family Bakery Cafe    1220 Woodbine Ave       546     Bakery
3           241 Pizza           675 Main N       743   Pizzeria
4           Pizzaiolo  2640 St Clair Ave E       924   Pizzeria

Station Name: Goodwood Park Crt / Dentonia Park lat: 43.694826 long: -79.295208 Number of free bikes are: 2

                 name           location  distance   categories
0       Diamond Pizza        510 Main St       777     Pizzeria
1           Starbucks     50 Musgrave St       898  Coffee Shop
2         Pizza Pizza  2795 Danforth Ave       589     Pizzeria
3      The Daily Perk  Victoria Park Ave       232  Coffee Shop
4  Subhan Halal Pizza  2970 Danforth Ave       546     Pizzeria

Station Name: Eastwood Rd / Coxwell Ave lat: 43.673118 long: -79.318651 Number of free bikes are: 14

                     name           location  distance           categories
0               Lake Inez  1471 Gerrard St E       178                  Bar
1        Godspeed Brewery    242 Coxwell Ave        87                  Bar
2   Pilot Coffee Roasters     50 Wagstaff Dr       918                 Café
3  Eulalie's Corner Store  1438 Gerrard St E       268                  Bar
4    Occasions Restaurant     30 Eastwood Rd        10  Dining and Drinking

Station Name: Trent Ave / Danforth Ave lat: 43.689293 long: -79.295895 Number of free bikes are: 2

                       name           location  distance   categories
0  PRESS books.coffee.vinyl  2442 Danforth Ave       711  Coffee Shop
1            Grinder Coffee        126 Main St       761  Coffee Shop
2                 Starbucks     50 Musgrave St       621  Coffee Shop
3               Pizza Pizza  2795 Danforth Ave        31     Pizzeria
4             Diamond Pizza        510 Main St       938     Pizzeria

Station Name: Orchard Park lat: 43.66908 long: -79.3149 Number of free bikes are: 17

               name             location  distance   categories
0         Lake Inez    1471 Gerrard St E       603          Bar
1  Godspeed Brewery      242 Coxwell Ave       520          Bar
2         Starbucks      1842 Queen St E       572  Coffee Shop
3      The Sidekick      1374 Queen St E       970  Coffee Shop
4  Bud's Coffee Bar  1966 1/2 Queen St E       939         Café

Station Name: Clendenan Ave / Rowland St - SMART lat: 43.66073 long: -79.47149 Number of free bikes are: 1

                    name           location  distance categories
0     The Good Neighbour     238 Annette St       209       Café
1    Annette Food Market     240 Annette St       196   Pizzeria
2         Indie Alehouse   2876 Dundas St W       725        Bar
3   The Hole in the Wall  2867A Dundas St W       721        Bar
4  Famous Last Words Bar    392 Pacific Ave       550        Bar

Station Name: Martin Goodman Trail / Remembrance Dr lat: 43.63121 long: -79.41414 Number of free bikes are: 13

,name,location,distance,categories
0,American Express Lounge,909 Lake Shore Blvd W,208,Lounge
1,Local Liberty Village,171 E Liberty St,901,New American Restaurant
2,Balzac's Coffee,43 Hanna Ave,925,Coffee Shop
3,Liberty Commons at Big Rock Brewery,42 Liberty St,955,Pub
4,Aroma Espresso Bar,120 Lynn Williams St,905,Coffee Shop

Station Name: Concord Ave / Bloor St W lat: 43.66189 long: -79.42679 Number of free bikes are: 2

                        name         location  distance    categories
0            Civil Liberties   878 Bloor St W       131  Cocktail Bar
1         Paradise Grapevine   841 Bloor St W       278      Wine Bar
2                 Comedy Bar  945B Bloor St W        94   Comedy Club
3  Tallboys Craft Beer House   838 Bloor St W       255           Pub
4                    Burdock  1184 Bloor St W       922   Music Venue

Station Name: Gothic Ave / Quebec Ave lat: 43.65389 long: -79.4675 Number of free bikes are: 3

                      name           location  distance   categories
0       The Mugshot Tavern    1729 Bloor St W       632          Bar
1   Cabin Fever Collective    1669 Bloor St W       890          Bar
2  Whelan's Gate Irish Pub    1663 Bloor St W       895          Bar
3        Zaza Espresso Bar  258 Beresford Ave       877         Café
4                Starbucks    2210 Bloor St W       736  Coffee Shop

Station Name: Via Italia / Mackay Ave lat: 43.676697 long: -79.445029 Number of free bikes are: 1

                       name                location  distance   categories
0       Marcello's Pizzeria  1163 Saint Clair Ave W       236     Pizzeria
1             Pizza e Pazzi  1182 Saint Clair Ave W       163     Pizzeria
2      The Greater Good Bar           229 Geary Ave       932          Bar
3  Balzac's Coffee Roasters        31 Powerhouse St       830  Coffee Shop
4       Frank's Pizza House     1352 St Clair Ave W       322     Pizzeria

Station Name: Rushton Rd / St Clair Ave W lat: 43.68114 long: -79.4277 Number of free bikes are: 0

                    name               location  distance categories
0        Baker and Scone  693 Saint Clair Ave W       140     Bakery
1       Ferro Bar & Cafe  769 Saint Clair Ave W        70   Pizzeria
2           Krave Coffee     781 St Clair Ave W       144       Café
3  Churrasco of St Clair  679 Saint Clair Ave W       190  BBQ Joint
4        Gem Bar & Grill      1159 Davenport Rd       804        Bar

Station Name: Dundas St E / Boulton Ave - SMART lat: 43.663148 long: -79.347938 Number of free bikes are: 10

                        name          location  distance   categories
0              Boxcar Social     4 Boulton Ave       390         Café
1                The Comrade    758 Queen St E       422       Lounge
2  Merchants of Green Coffee      2 Matilda St       602  Coffee Shop
3                    Farside  600 Gerrard St E       415          Bar
4    Dark Horse Espresso Bar    630 Queen St E       627         Café

Station Name: Gerrard St E / Leslie St lat: 43.669813 long: -79.3335 Number of free bikes are: 19

                             name           location  distance    categories
0           Pinkerton's Snack Bar  1026 Gerrard St E       322  Cocktail Bar
1               Maple Leaf Tavern   955 Gerrard St E       556  Cocktail Bar
2  Descendant Detroit Style Pizza    1168 Queen St E       784      Pizzeria
3               Hasting Snack Bar     5 Hastings Ave       770        Lounge
4                  Blondies Pizza   1555 Dundas St E       400      Pizzeria

Station Name: Marilyn Bell Park Tennis Court lat: 43.633537 long: -79.437461 Number of free bikes are: 25

                     name         location  distance    categories
0           Amico's Pizza  1648 Queen St W       792      Pizzeria
1            Miss Thing's  1279 Queen St W       995  Cocktail Bar
2  The Shameful Tiki Room  1378 Queen St W       930     Beach Bar
3              The Abbott   99 Spencer Ave       734          Café
4        Capital Espresso  1349 Queen St W       858          Café

Station Name: The Queensway at South Kingsway lat: 43.63632 long: -79.47307 Number of free bikes are: 21

                       name                location  distance    categories
0       Rustic Social House  2083 Lake Shore Blvd W       750           Bar
1  Palace Pier Rooftop Club   2045 Lakeshore Blvd W       550  Cocktail Bar
2              Casa Mendoza   2161 Lakeshore Blvd W       993           Bar
3                 Starbucks       125 the Queensway       847   Coffee Shop

Station Name: Merton St / Mount Pleasant Rd lat: 43.697819 long: -79.38786 Number of free bikes are: 0

                       name               location  distance   categories
0     Jules Cafe Patisserie  617 Mount Pleasant Rd       703       Bakery
1                 Balsamico          2029 Yonge St       852     Pizzeria
2             Little Sister          2031 Yonge St       854       Lounge
3  The Belsize Public House  535 Mount Pleasant Rd       524          Bar
4                 Starbucks  694 Mount Pleasant Rd       910  Coffee Shop

Station Name: Tyndall Ave / King St W - SMART lat: 43.638426 long: -79.429142 Number of free bikes are: 0

                   name          location  distance    categories
0  Louie - Craft Coffee    1187 King St W       298          Café
1          Miss Thing's   1279 Queen St W       415  Cocktail Bar
2    Fix Coffee + Bikes  80 Gladstone Ave       728          Café
3              Bar Poet   1090 Queen St W       798           Bar
4            The Abbott    99 Spencer Ave       135          Café

Station Name: College Park - Yonge St Entrance lat: 43.65988 long: -79.38279 Number of free bikes are: 3

                                name         location  distance   categories
0                      Hailed Coffee  44 Gerrard St W       136  Coffee Shop
1                     Jimmy's Coffee  84 Gerrard St W       278         Café
2  The Queen and Beaver Public House        35 Elm St       273          Bar
3                    Hair of the Dog    425 Church St       412      Gay Bar
4                     Neo Coffee Bar       770 Bay St       245  Coffee Shop

Station Name: Barton Ave / Howland Ave - SMART lat: 43.66842 long: -79.410585 Number of free bikes are: 0

,name,location,distance,categories
0,Insomnia Restaurant and Lounge,563 Bloor St W,361,Dining and Drinking
1,Snakes & Lattes,600 Bloor St W,453,Café
2,Napoli Centrale,964 Bathurst St,224,Pizzeria
3,Crafty Coyote,511 Bloor St W,351,Beer Bar
4,El Pocho Antojitos Bar,2 Follis Ave,262,Bar

Station Name: Keele St / Annette St lat: 43.66402 long: -79.46418 Number of free bikes are: 3

                    name           location  distance categories
0   The Hole in the Wall  2867A Dundas St W       160        Bar
1         Indie Alehouse   2876 Dundas St W       184        Bar
2  Famous Last Words Bar    392 Pacific Ave       368        Bar
3     The Good Neighbour     238 Annette St       570       Café
4    Annette Food Market     240 Annette St       573   Pizzeria

Station Name: Keele St / Vine Ave lat: 43.66686 long: -79.46526 Number of free bikes are: 4

                    name           location  distance categories
0         Indie Alehouse   2876 Dundas St W       153        Bar
1   The Hole in the Wall  2867A Dundas St W       174        Bar
2  Famous Last Words Bar    392 Pacific Ave       318        Bar
3     The Good Neighbour     238 Annette St       662       Café
4    Annette Food Market     240 Annette St       671   Pizzeria

Station Name: Howard St / Rose Ave lat: 43.671278 long: -79.372127 Number of free bikes are: 0

                   name            location  distance categories
0      Storm Crow Manor       580 Church St       906        Bar
1  Rooster Coffee House       568 Jarvis St       648       Café
2   House on Parliament   454 Parliament St       915        Bar
3     Red Rocket Coffee  154 Wellesley St E       613     Bakery
4  Churchmouse & Firkin       475 Church St       994        Pub

Station Name: Little Norway Park lat: 43.635023 long: -79.399505 Number of free bikes are: 14

                 name              location  distance   categories
0           Starbucks  10 Lower Spadina Ave       660  Coffee Shop
1    Le Select Bistro   432 Wellington St W       990     Wine Bar
2      Roses New York    135 Fort York Blvd       438          Bar
3   Music Garden Cafe     466 Queens Quay W       572         Café
4  Aroma Espresso Bar        21 Bathurst St       401  Coffee Shop

Station Name: Isabella St / Church St lat: 43.66834 long: -79.38235 Number of free bikes are: 9

                     name        location  distance categories
0        Storm Crow Manor   580 Church St       177        Bar
1  Church Street Espresso   585 Church St        38       Café
2     Piedmont Coffee Bar  66 Isabella St        14       Café
3    Rooster Coffee House   568 Jarvis St       247       Café
4    Churchmouse & Firkin   475 Church St       440        Pub

Station Name: University Ave / Armoury St lat: 43.65263 long: -79.38766 Number of free bikes are: 2

,name,location,distance,categories
0,HotBlack Coffee,245 Queen St W,264,Café
1,The Library Specialty Coffee,281 Dundas St W,327,Café
2,Soho House,192 Adelaide St W,442,Speakeasy
3,Lobby Lounge at the Shangri-La Toronto,188 University Ave,396,Lounge
4,Pizzeria Libretto,155 University Ave,519,Pizzeria

Station Name: Lascelles Blvd / Eglinton Ave W lat: 43.70547 long: -79.40355 Number of free bikes are: 2

                               name            location  distance   categories
0                         Starbucks       2451 Yonge St       721  Coffee Shop
1             The Abbot on Eglinton  508 Eglinton Ave W       822          Bar
2  De Mello Palheta Coffee Roasters       2489 Yonge St       777         Café
3                         Balsamico       2029 Yonge St       676     Pizzeria
4                      Sip Wine Bar      2 Broadway Ave       618     Wine Bar

Station Name: Polson Pier lat: 43.641675 long: -79.354006 Number of free bikes are: 18

                       name       location  distance              categories
0                     Rebel   11 Polson St       130              Night Club
1               Polson Pier   11 Polson St        76           Movie Theater
2   Cherry Street Bar-B-Que  275 Cherry St       460                     Bar
3  Balzac's Coffee Roastery     55 Mill St       992                    Café
4           Cabana Pool Bar   11 Polson St       189  Arts and Entertainment

Station Name: Dentonia Park lat: 43.694341 long: -79.291416 Number of free bikes are: 10

                 name           location  distance   categories
0           Starbucks     50 Musgrave St       697  Coffee Shop
1         Pizza Pizza  2795 Danforth Ave       634     Pizzeria
2      The Daily Perk  Victoria Park Ave       284  Coffee Shop
3  Subhan Halal Pizza  2970 Danforth Ave       428     Pizzeria
4       Country Style  2929 Danforth Ave       519  Coffee Shop

Station Name: Lower Jarvis / Queens Quay E lat: 43.64422 long: -79.36927 Number of free bikes are: 12

                   name           location  distance   categories
0        Neo Coffee Bar   161 Frederick St       720         Café
1               Mos Mos          20 Bay St       725  Coffee Shop
2  Rooster Coffee House      343 King St E       902  Coffee Shop
3           Arvo Coffee  17 Gristmill Lane       896         Café
4     Fahrenheit Coffee     120 Lombard St       948         Café

Station Name: Summerhill Ave / Maclennan Ave lat: 43.685924 long: -79.376304 Number of free bikes are: 0

KeyError: 'location'

In [18]:
#foursqaure function to extract the data
def extract_json(json):
    POI_data = json['results']
    return POI_data

In [19]:
#calling the foursqaure function
extract_json(data)

[{'fsq_id': '4bdca8662a3a0f4757d4b3b6',
  'categories': [{'id': 13022,
    'name': 'Sports Bar',
    'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/nightlife/sportsbar_',
     'suffix': '.png'}},
   {'id': 13065,
    'name': 'Restaurant',
    'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/default_',
     'suffix': '.png'}}],
  'chains': [],
  'distance': 980,
  'geocodes': {'main': {'latitude': 43.719493, 'longitude': -79.249742},
   'roof': {'latitude': 43.719493, 'longitude': -79.249742}},
  'link': '/v3/places/4bdca8662a3a0f4757d4b3b6',
  'location': {'address': '3676 Stclair Ave E',
   'country': 'CA',
   'formatted_address': '3676 Stclair Ave E, Toronto ON M1M 1T2',
   'locality': 'Toronto',
   'postcode': 'M1M 1T2',
   'region': 'ON'},
  'name': 'Working Dog Saloon',
  'related_places': {},
  'timezone': 'America/Toronto'},
 {'fsq_id': '4c85a8c2ee6fef3b9b123e5c',
  'categories': [{'id': 13064,
    'name': 'Pizzeria',
    'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/pizza_',
     'suffix': '.png'}},
   {'id': 13145,
    'name': 'Fast Food Restaurant',
    'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/fastfood_',
     'suffix': '.png'}}],
  'chains': [{'id': 'd5740d80-d890-0132-61d3-7a163eb2a6fc',
    'name': 'Pizza Pizza'}],
  'distance': 6429,
  'geocodes': {'main': {'latitude': 43.722444, 'longitude': -79.235128},
   'roof': {'latitude': 43.722444, 'longitude': -79.235128}},
  'link': '/v3/places/4c85a8c2ee6fef3b9b123e5c',
  'location': {'address': '4447 Kingston Rd',
   'address_extended': 'Unit 7-8',
   'country': 'CA',
   'cross_street': '',
   'formatted_address': '4447 Kingston Rd, Scarborough ON M1E 2N7',
   'locality': 'Scarborough',
   'postcode': 'M1E 2N7',
   'region': 'ON'},
  'name': 'Pizza Pizza',
  'related_places': {},
  'timezone': 'America/Toronto'},
 {'fsq_id': 'd9af530c2f6743ebbd0967f9',
  'categories': [{'id': 13034,
    'name': 'Café',
    'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/cafe_',
     'suffix': '.png'}},
   {'id': 13035,
    'name': 'Coffee Shop',
    'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/coffeeshop_',
     'suffix': '.png'}},
   {'id': 13065,
    'name': 'Restaurant',
    'icon': {'prefix': 'https://ss3.4sqi.net/img/categories_v2/food/default_',
     'suffix': '.png'}}],
  'chains': [],
  'distance': 562,
  'geocodes': {'drop_off': {'latitude': 43.722227, 'longitude': -79.24546},
   'main': {'latitude': 43.722143, 'longitude': -79.245662},
   'roof': {'latitude': 43.722143, 'longitude': -79.245662}},
  'link': '/v3/places/d9af530c2f6743ebbd0967f9',
  'location': {'address': '30 Andrew Ave',
   'country': 'CA',
   'formatted_address': '30 Andrew Ave, Scarborough ON M1M 3H2',
   'locality': 'Scarborough',
   'postcode': 'M1M 3H2',
   'region': 'ON'},
  'name': 'Moonbean Coffee Co',
  'related_places': {}}]

In [23]:
#Saving the Foursquare API DataFrame into a CSV file so I can work on it and not have to waste my API calls
# Save the Foursquare_df DataFrame to a CSV file
# Define the file path for the CSV file
csv_file_path = "foursquare_data.csv"

# Save the DataFrame to a CSV file
Foursquare_df.to_csv(csv_file_path, index=False)

# Yelp

Send a request to Yelp with a small radius (1000m) for all the bike stations in your city of choice.

Parse through the response to get the POI (such as restaurants, bars, etc) details you want (ratings, name, location, etc)

Put your parsed results into a DataFrame

In [15]:
import os
import pandas as pd 
yelp_key = os.environ.get('yelp_key')


Yelp_columns = ['name', 'distance', 'location', 'POI_category']

yelp_dataframe = pd.DataFrame()

for n in range(len(df1)):
    name = df1.at[n, 'name']
    lat = df1.at[n, 'latitude']
    long = df1.at[n, 'longitude']
    free_bikes = df1.at[n, 'free_bikes']
    print("Station Name:", name, "lat:", lat, "long:", long, "Number of free bikes are:", free_bikes)
    
    url = f"https://api.yelp.com/v3/businesses/search?latitude={lat}&longitude={long}&radius=1000&categories=breakfast_brunch%2Ccoffee%2Cgrocery&sort_by=best_match&limit=20"

    yelp_api = yelp_key
    headers = {
        "accept": "application/json",
        "Authorization": f"bearer {yelp_api}"
    }

    response = requests.get(url, headers=headers)
    data = response.json()

    
    #Saving the Raw Json file so we can call on it and use it instead of wasting API calls:
    # Save all the YELP JSON data to a single file
    with open('yelp.json', 'w') as json_file:
        json.dump(data, json_file, indent=2)
    
    
    # Extracting relevant information from the response data
    yelp_POI = data['businesses']
    yelp_df = pd.DataFrame(yelp_POI)
    yelp_df['location'] = yelp_df['location'].apply(lambda loc: loc['address1'])
    yelp_df['bike_station_name'] = name
    yelp_df['Latitude'] = lat
    yelp_df['Longitude'] = long
    yelp_df['POI_category'] = yelp_df['categories'].apply(lambda x: x[0]['title'] if len(x) > 0 else "")
    yelp_df['bike_station_coordinates'] = yelp_df['Latitude'].astype(str) + ', ' + yelp_df['Longitude'].astype(str)
    
    Yelp_selected_columns = yelp_df[Yelp_columns]
    display(Yelp_selected_columns.head())
    yelp_dataframe = pd.concat([yelp_dataframe, yelp_df])

Station Name: Queen St E / Woodward Ave lat: 43.665269 long: -79.319796 Number of free bikes are: 18

,name,distance,location,POI_category
0,McDonald's,32.416737,29-31 Woodward Avenue,Fast Food
1,Yaya Greek Bistro,994.967613,1186 Queen Street E,Breakfast & Brunch
2,Lazy Daisy's Cafe,828.662056,1515 Gerrard Street E,Cafes
3,Starbucks,930.683769,4 - 23 Leslie Street,Coffee & Tea
4,Pilot Coffee Roasters,1251.969414,50 Wagstaff Drive,Coffee & Tea

Station Name: Primrose Ave / Davenport Rd lat: 43.67142 long: -79.445947 Number of free bikes are: 0

,name,distance,location,POI_category
0,Balzac's Coffee Roasters,261.708843,29 Powerhouse Street,Coffee Roasteries
1,Lox + Schmear,1060.466420,1030 St Clair W,Bagels
2,Mofer Coffee,1016.047026,1040 St Clair Avenue W,Coffee & Tea Supplies
3,Wallace Espresso,1009.826494,188 Wallace Avenue,Coffee & Tea
4,Sunnyside Grill,717.529331,1218 Saint Clair Avenue W,Breakfast & Brunch

Station Name: Queen St. E / Rhodes Ave. lat: 43.666224 long: -79.317693 Number of free bikes are: 22

,name,distance,location,POI_category
0,Lazy Daisy's Cafe,735.312765,1515 Gerrard Street E,Cafes
1,McDonald's,170.187619,29-31 Woodward Avenue,Fast Food
2,Simple Coffee,179.610975,1636 Queen Street E,Cafes
3,Starbucks,1127.924115,4 - 23 Leslie Street,Coffee & Tea
4,Classic Juice,863.831341,287 Coxwell Avenue,Juice Bars & Smoothies

Station Name: Bond St / Queen St E lat: 43.653236 long: -79.376716 Number of free bikes are: 20

,name,distance,location,POI_category
0,Pearl Diver,300.771162,100 Adelaide Street E,Seafood
1,The Senator,334.086252,249 Victoria Street,Breakfast & Brunch
2,Eggspectation,364.433247,483 Bay Street,Breakfast & Brunch
3,Cafe Landwer - Adelaide & University,831.530041,165 University Avenue,Cafes
4,Sud Forno,306.993771,132 Yonge Street,Bakeries

Station Name: Church St / Alexander St lat: 43.663722 long: -79.380288 Number of free bikes are: 4

                   name    distance             location        POI_category
0       Hair of the Dog  102.743609    425 Church Street                Pubs
1    Egg Club Wellesley  305.472054     531 Yonge Street  Breakfast & Brunch
2           The Senator  892.664212  249 Victoria Street  Breakfast & Brunch
3  O'Grady's Restaurant   88.943121    518 Church Street      Canadian (New)
4    The Cherie  Bistro  163.624671    538 Church Street             Italian

Station Name: University Ave / Gerrard St W (East Side) lat: 43.657763 long: -79.389165 Number of free bikes are: 2

,name,distance,location,POI_category
0,Hair of the Dog,961.860129,425 Church Street,Pubs
1,Café La Gaffe,376.976122,24 Baldwin Street,Breakfast & Brunch
2,Yueh Tung Restaurant,437.350225,126 Elizabeth Street,Hakka
3,Cafe Landwer - Adelaide & University,1054.266545,165 University Avenue,Cafes
4,Eggspectation,809.499789,483 Bay Street,Breakfast & Brunch

Station Name: Edward St / Yonge St lat: 43.656729 long: -79.382736 Number of free bikes are: 4

                   name    distance               location        POI_category
0           The Senator  320.299126    249 Victoria Street  Breakfast & Brunch
1  Yueh Tung Restaurant  268.184264   126 Elizabeth Street               Hakka
2       Hair of the Dog  736.173081      425 Church Street                Pubs
3           Pearl Diver  921.573415  100 Adelaide Street E             Seafood
4         Eggspectation  402.658549         483 Bay Street  Breakfast & Brunch

Station Name: Euclid Ave / Bloor St W lat: 43.664467 long: -79.414783 Number of free bikes are: 6

                           name    distance            location  POI_category
0  Insomnia Restaurant & Lounge  346.474585  563 Bloor Street W       Lounges
1          Ninetails Coffee Bar   59.583994  651 Bloor Street W  Coffee & Tea
2           Rustle & Still Café  134.000645  605 Bloor Street W  Coffee & Tea
3        El Pocho Antojitos Bar  585.576310     2 Follis Avenue          Bars
4          Ave Maria Latin Café   36.289996  631 Bloor Street W  Coffee & Tea

Station Name: Yonge St / Aylmer Ave lat: 43.675492 long: -79.388858 Number of free bikes are: 5

,name,distance,location,POI_category
0,Coffee Lunar,154.994745,920 Yonge Street,Coffee & Tea
1,Pantry,332.050926,1094 Yonge Street,Breakfast & Brunch
2,Rosedale Diner,573.696845,1164 Yonge Street,Diners
3,7 West Cafe,792.628808,7 Charles Street W,Italian
4,Cafe Landwer - Yonge & Bloor,679.077970,33 Bloor St E,Breakfast & Brunch

Station Name: Davenport Rd / Avenue Rd lat: 43.674991 long: -79.396273 Number of free bikes are: 7

,name,distance,location,POI_category
0,7 West Cafe,1060.639146,7 Charles Street W,Italian
1,FET ZUN,811.567630,252 Dupont St,Middle Eastern
2,Cafe Landwer - Yonge & Bloor,1027.595559,33 Bloor St E,Breakfast & Brunch
3,Fuwa Fuwa Japanese Pancakes,1371.622841,408 Bloor Street W,Desserts
4,Rosedale Diner,721.844933,1164 Yonge Street,Diners

Station Name: Yonge St / Yorkville Ave lat: 43.671944 long: -79.387778 Number of free bikes are: 3

,name,distance,location,POI_category
0,Cafe Landwer - Yonge & Bloor,289.263738,33 Bloor St E,Breakfast & Brunch
1,Hair of the Dog,1197.630272,425 Church Street,Pubs
2,7 West Cafe,388.864355,7 Charles Street W,Italian
3,Flo's Diner,251.625993,70 Yorkville Avenue,Diners
4,Coffee Lunar,262.494001,920 Yonge Street,Coffee & Tea

Station Name: Dundas St E / Broadview Ave lat: 43.662365 long: -79.351104 Number of free bikes are: 18

,name,distance,location,POI_category
0,White Lily Diner,395.152012,678 Queen Street E,Breakfast & Brunch
1,Lady Marmalade,98.504014,265 Broadview Avenue,Breakfast & Brunch
2,O’SOMAE,336.914065,357 Broadview Ave,Breakfast & Brunch
3,Maple Leaf Tavern,1111.228682,955 Gerrard Street E,American (Traditional)
4,Rooster Coffee House,769.216605,479 Broadview Avenue,Coffee & Tea

Station Name: Front St W / Yonge St (Hockey Hall of Fame) lat: 43.646144 long: -79.377962 Number of free bikes are: 17

,name,distance,location,POI_category
0,Cafe Landwer - Adelaide & University,637.743051,165 University Avenue,Cafes
1,Pearl Diver,691.241320,100 Adelaide Street E,Seafood
2,Reign Restaurant + Bar + Bakery,319.293477,100 Front St W,Steakhouses
3,Fresh On Front,346.526958,47 Front Street E,Vegan
4,Evviva Breakfast & Lunch,663.047928,25 Lower Simcoe,Breakfast & Brunch

Station Name: Gerrard St E / River St lat: 43.663993 long: -79.358534 Number of free bikes are: 4

,name,distance,location,POI_category
0,White Lily Diner,825.941897,678 Queen Street E,Breakfast & Brunch
1,Lady Marmalade,572.167872,265 Broadview Avenue,Breakfast & Brunch
2,Rooster Coffee House,738.999057,479 Broadview Avenue,Coffee & Tea
3,O’SOMAE,524.982552,357 Broadview Ave,Breakfast & Brunch
4,Dark Horse Espresso Bar,773.513308,630 Queen Street E,Coffee & Tea

Station Name: Jarvis St / Dundas St E lat: 43.657266 long: -79.374756 Number of free bikes are: 1

,name,distance,location,POI_category
0,The Senator,380.250081,249 Victoria Street,Breakfast & Brunch
1,Pearl Diver,638.265610,100 Adelaide Street E,Seafood
2,Hair of the Dog,741.897935,425 Church Street,Pubs
3,Cafe Landwer - Adelaide & University,1253.940882,165 University Avenue,Cafes
4,Egg Club,259.254175,88 Dundas Street E,Coffee & Tea

Station Name: Logan Av / Gerrard St E lat: 43.6672144 long: -79.3452697 Number of free bikes are: 12

,name,distance,location,POI_category
0,Maple Leaf Tavern,451.034508,955 Gerrard Street E,American (Traditional)
1,White Lily Diner,1048.224668,678 Queen Street E,Breakfast & Brunch
2,Hailed Coffee,34.043434,801 Gerrard Street E,Coffee & Tea
3,Chula Taberna Mexicana,786.917342,1058 Gerrard Street E,Mexican
4,Rooster Coffee House,642.384120,479 Broadview Avenue,Coffee & Tea

Station Name: Regal Rd / Dufferin St lat: 43.673939 long: -79.441159 Number of free bikes are: 7

,name,distance,location,POI_category
0,Emma's Country Kitchen,1163.061604,810 Saint Clair Avenue W,Breakfast & Brunch
1,Lox + Schmear,626.708133,1030 St Clair W,Bagels
2,Mofer Coffee,592.835342,1040 St Clair Avenue W,Coffee & Tea Supplies
3,Sunnyside Grill,514.682185,1218 Saint Clair Avenue W,Breakfast & Brunch
4,Boom Breakfast & Company,613.904945,1036 St Clair Ave W,Breakfast & Brunch

Station Name: Morse St / Eastern Ave lat: 43.657991 long: -79.340075 Number of free bikes are: 6

,name,distance,location,POI_category
0,White Lily Diner,897.753086,678 Queen Street E,Breakfast & Brunch
1,Purple Penguin Cafe,326.021368,889 Queen Street E,Coffee & Tea
2,Yaya Greek Bistro,874.244537,1186 Queen Street E,Breakfast & Brunch
3,Rowe Farms - Leslieville,314.568820,893 Queen Street E,Grocery
4,Lady Marmalade,1086.839670,265 Broadview Avenue,Breakfast & Brunch

Station Name: Alton Ave / Dundas St E (Greenwood Park) lat: 43.66745 long: -79.329408 Number of free bikes are: 16

,name,distance,location,POI_category
0,Chula Taberna Mexicana,559.626215,1058 Gerrard Street E,Mexican
1,Yaya Greek Bistro,522.467637,1186 Queen Street E,Breakfast & Brunch
2,Maple Leaf Tavern,839.151101,955 Gerrard Street E,American (Traditional)
3,Pasaj,779.500051,1100 Queen Street E,Bakeries
4,Lazy Daisy's Cafe,993.587231,1515 Gerrard Street E,Cafes

Station Name: Blake St / Boultbee Ave lat: 43.672453 long: -79.338259 Number of free bikes are: 5

,name,distance,location,POI_category
0,Chula Taberna Mexicana,402.850507,1058 Gerrard Street E,Mexican
1,Maple Leaf Tavern,498.500372,955 Gerrard Street E,American (Traditional)
2,Dineen Outpost,393.940586,1042 Gerrard Street E,Coffee & Tea
3,Hailed Coffee,834.221014,801 Gerrard Street E,Coffee & Tea
4,Riverdale Perk Cafe,692.551184,633 Logan Avenue,Cafes

Station Name: Eastern Ave / Winnifred Ave lat: 43.6592088 long: -79.3348396 Number of free bikes are: 11

,name,distance,location,POI_category
0,Yaya Greek Bistro,495.339162,1186 Queen Street E,Breakfast & Brunch
1,Pasaj,340.084037,1100 Queen Street E,Bakeries
2,Maple Leaf Tavern,1067.274475,955 Gerrard Street E,American (Traditional)
3,Remarkable Bean,304.743827,1103 Queen Street E,Coffee & Tea
4,Ok Ok Diner,344.489059,1128 Queen Street E,Diners

Station Name: Gamble Ave / Broadview Ave lat: 43.689211 long: -79.35438 Number of free bikes are: 3

                  name     distance             location        POI_category
0             Hanamaru   800.835218      862 Pape Avenue             Grocery
1   The Donlands Diner  1106.405948  417 Donlands Avenue  Breakfast & Brunch
2       Goat Coffee Co   803.375123      893 Pape Avenue        Coffee & Tea
3  Smyrna - Laz Bakkal  1010.647665      808 Pape Avenue             Grocery
4    Oliver Coffee Bar   839.022975      852 Pape Avenue        Coffee & Tea

Station Name: 111 Bond St (North of Dundas St E)  - SMART lat: 43.656927 long: -79.378497 Number of free bikes are: 11

              name    distance               location        POI_category
0      The Senator  136.909316    249 Victoria Street  Breakfast & Brunch
1      Pearl Diver  706.660946  100 Adelaide Street E             Seafood
2  Hair of the Dog  675.153220      425 Church Street                Pubs
3         Egg Club   69.902768     88 Dundas Street E        Coffee & Tea
4    Eggspectation  462.664935         483 Bay Street  Breakfast & Brunch

Station Name: Dundas St E / Pembroke St - SMART lat: 43.658295 long: -79.372346 Number of free bikes are: 1

,name,distance,location,POI_category
0,Pearl Diver,756.470562,100 Adelaide Street E,Seafood
1,Hair of the Dog,779.357802,425 Church Street,Pubs
2,The Senator,604.989582,249 Victoria Street,Breakfast & Brunch
3,Citrus Restaurant and Lounge,233.755599,The Grand Hotel & Suites Toronto,Bars
4,Eggspectation,908.043819,483 Bay Street,Breakfast & Brunch

Station Name: Victoria Park Subway Station - SMART lat: 43.6940155 long: -79.2889842 Number of free bikes are: 9

,name,distance,location,POI_category
0,Quarry Cafe,937.920593,2560 Gerrard Street E,Coffee & Tea
1,Halibut House Fish and Chips,500.266243,3003 Danforth Avenue,Fish & Chips
2,Bulk Barn,483.678641,Shoppers World Danforth,Discount Store
3,Metro,527.337303,3003 Danforth Avenue,Grocery
4,McDonald's,741.934394,2480 Gerrard Street East,Fast Food

Station Name: Wychwood Ave / Benson Ave - SMART lat: 43.6809164 long: -79.4229684 Number of free bikes are: 0

,name,distance,location,POI_category
0,CocoaLatte,188.042203,671 St. Clair Avenue W,Coffee & Tea
1,Ferro Bar & Cafe,450.173201,769 Saint Clair Avenue W,Bars
2,Emma's Country Kitchen,593.997319,810 Saint Clair Avenue W,Breakfast & Brunch
3,Baker and Scone,259.140786,693 St. Clair W,Breakfast & Brunch
4,Mabel's Bakery,410.190741,746 St Clair Avenue W,Coffee & Tea

Station Name: Lawton Blvd / Yonge St lat: 43.6910667 long: -79.39535 Number of free bikes are: 0

               name    distance                 location        POI_category
0     Flaming Stove  792.249311     21 Davisville Avenue      Middle Eastern
1     Sunny Morning  525.168500        1392 Yonge Street  Breakfast & Brunch
2   The Red Lantern  885.981737        228 Merton Street                Pubs
3  Kiva's Bagel Bar  374.559820  15 Saint Clair Avenue W              Bagels
4        McDonald's  373.347898    11 St. Clair Ave East           Fast Food

Station Name: Yonge St / Davisville Ave lat: 43.6975969 long: -79.39654 Number of free bikes are: 0

                    name    distance              location        POI_category
0          Flaming Stove   91.606327  21 Davisville Avenue      Middle Eastern
1            Oyster Mine  462.379857     2035 Yonge Street             Seafood
2         Oretta Midtown  672.965498     2131 Yonge Street  Breakfast & Brunch
3  Rachel's Coffee House  384.384392     2011 Yonge Street        Coffee & Tea
4        The Red Lantern  589.472688     228 Merton Street                Pubs

Station Name: Fort York  Blvd / Capreol Ct lat: 43.639832 long: -79.395954 Number of free bikes are: 3

,name,distance,location,POI_category
0,Le Sélect Bistro,458.692141,432 Wellington Street W,French
1,The Morning After,102.541877,88 Fort York Boulevard,Breakfast & Brunch
2,Cafe Landwer - Adelaide & University,1328.136697,165 University Avenue,Cafes
3,Bobo Tea & Juice,42.037360,62 Fort York Boulevard,Coffee & Tea
4,1 Kitchen Toronto,609.187198,550 Wellington Street W,Cocktail Bars

Station Name: St. George St / Bloor St W lat: 43.667333 long: -79.399429 Number of free bikes are: 0

,name,distance,location,POI_category
0,Insomnia Restaurant & Lounge,943.370935,563 Bloor Street W,Lounges
1,Joni Restaurant,413.775504,4 Avenue Road,Bistros
2,Almond Butterfly Harbord Bakeshop & Cafe,584.189747,100 Harbord Street,Bakeries
3,Starbucks,215.702210,1 Bedford Road,Coffee & Tea
4,Chatime,98.842194,337 Bloor Street W,Coffee & Tea

Station Name: King St W / York St lat: 43.6480008 long: -79.383177 Number of free bikes are: 5

,name,distance,location,POI_category
0,Cafe Landwer - Adelaide & University,170.397496,165 University Avenue,Cafes
1,Reign Restaurant + Bar + Bakery,289.275376,100 Front St W,Steakhouses
2,Pearl Diver,854.599328,100 Adelaide Street E,Seafood
3,Eggspectation,606.391848,483 Bay Street,Breakfast & Brunch
4,Kost,800.423903,80 Blue Jays Way,American (Traditional)

Station Name: University Ave / Elm St lat: 43.656518 long: -79.389099 Number of free bikes are: 1

,name,distance,location,POI_category
0,Yueh Tung Restaurant,353.151797,126 Elizabeth Street,Hakka
1,Hair of the Dog,1046.803945,425 Church Street,Pubs
2,Café La Gaffe,342.510205,24 Baldwin Street,Breakfast & Brunch
3,Cafe Landwer - Adelaide & University,922.118366,165 University Avenue,Cafes
4,The Senator,817.573735,249 Victoria Street,Breakfast & Brunch

Station Name: Rosehill Ave / Avoca Ave - SMART lat: 43.687999 long: -79.38906 Number of free bikes are: 3

                 name    distance                 location        POI_category
0       Sunny Morning  396.788531        1392 Yonge Street  Breakfast & Brunch
1       Boxcar Social  723.451520        1208 Yonge Street           Wine Bars
2      Rosedale Diner  867.189191        1164 Yonge Street              Diners
3  Aroma Espresso Bar  373.798320        1407 Yonge Street        Coffee & Tea
4    Kiva's Bagel Bar  458.824346  15 Saint Clair Avenue W              Bagels

Station Name: Bloor St W / Dundas St W lat: 43.6563889 long: -79.45166666666667 Number of free bikes are: 2

                          name    distance              location  POI_category
0             AM Coffee Studio  254.863901      2233 Dundas St W  Coffee & Tea
1               The Merseyside  270.414803  2413 Dundas Street W  Coffee & Tea
2                   Ruru Baked  755.259454  659 Lansdowne Avenue      Desserts
3  Hula Girl Espresso Boutique  407.415641  2473 Dundas Street W  Coffee & Tea
4       Ethica Coffee Roasters  528.995569     213 Sterling Road  Coffee & Tea

Station Name: Bathurst St / Fort York Blvd lat: 43.639179 long: -79.399595 Number of free bikes are: 6

,name,distance,location,POI_category
0,1 Kitchen Toronto,480.271846,550 Wellington Street W,Cocktail Bars
1,Le Sélect Bistro,570.029177,432 Wellington Street W,French
2,The Morning After,225.724954,88 Fort York Boulevard,Breakfast & Brunch
3,Bobo Tea & Juice,270.213296,62 Fort York Boulevard,Coffee & Tea
4,Kost,893.511058,80 Blue Jays Way,American (Traditional)

Station Name: Spadina Ave / Willcocks St lat: 43.6616667 long: -79.40138888888889 Number of free bikes are: 0

,name,distance,location,POI_category
0,Almond Butterfly Harbord Bakeshop & Cafe,214.247067,100 Harbord Street,Bakeries
1,Insomnia Restaurant & Lounge,908.886553,563 Bloor Street W,Lounges
2,Voodoo Child,609.677995,388 College Street,Coffee & Tea
3,Free Times Cafe,460.719761,320 College Street,Breakfast & Brunch
4,El Pocho Antojitos Bar,1312.873515,2 Follis Avenue,Bars

Station Name: Cariboo Ave / Railpath Trail lat: 43.66666667 long: -79.45833333333334 Number of free bikes are: 1

                    name    distance              location        POI_category
0    Cool Hand of a Girl  388.428133  2804 Dundas Street W  Breakfast & Brunch
1       The Sweet Potato  821.704208       108 Vine Avenue             Grocery
2         Organic Garage  410.655762      43 Junction Road      Organic Stores
3                Delight  998.291821  3040 Dundas Street W            Desserts
4  Carmelitas Restaurant  860.734413  2982 Dundas Street W             Mexican

Station Name: Dundas St W / Edna Ave lat: 43.657192 long: -79.452559 Number of free bikes are: 8

,name,distance,location,POI_category
0,The Merseyside,158.813428,2413 Dundas Street W,Coffee & Tea
1,McDonald's,30.255272,2365 Dundas Street West,Fast Food
2,Hula Girl Espresso Boutique,297.420906,2473 Dundas Street W,Coffee & Tea
3,Ruru Baked,808.855355,659 Lansdowne Avenue,Desserts
4,AM Coffee Studio,344.907684,2233 Dundas St W,Coffee & Tea

Station Name: College St / Major St lat: 43.6576 long: -79.4032 Number of free bikes are: 0

              name    distance            location        POI_category
0     Voodoo Child  195.378288  388 College Street        Coffee & Tea
1  Second Cup Cafe    4.522957  340 College Street        Coffee & Tea
2  Free Times Cafe   17.223578  320 College Street  Breakfast & Brunch
3    The Arch Café  147.317398    293 Augusta Ave.  Breakfast & Brunch
4       Ohiru Cafe  125.106346  370 College Street  Breakfast & Brunch

Station Name: McGill St / Church St lat: 43.660694 long: -79.379052 Number of free bikes are: 1

,name,distance,location,POI_category
0,Hair of the Dog,254.252587,425 Church Street,Pubs
1,The Senator,549.879417,249 Victoria Street,Breakfast & Brunch
2,Eggspectation,843.931638,483 Bay Street,Breakfast & Brunch
3,Plearn Cafe,94.483007,74 Gerrard Street E,Coffee & Tea
4,Le Génie Bakery and Espresso,325.026406,382 Yonge St,Coffee & Tea

Station Name: Queens Quay W / Dan Leckie Way lat: 43.636533 long: -79.395854 Number of free bikes are: 25

,name,distance,location,POI_category
0,Le Sélect Bistro,823.718983,432 Wellington Street W,French
1,1 Kitchen Toronto,884.819894,550 Wellington Street W,Cocktail Bars
2,Touti Gelati and Cafe,62.131321,550 Queens Quay W,Desserts
3,Kost,1013.487973,80 Blue Jays Way,American (Traditional)
4,Sportsnet Grill,811.407625,1 Blue Jays Way,Breakfast & Brunch

Station Name: College Park South lat: 43.659777 long: -79.382767 Number of free bikes are: 4

,name,distance,location,POI_category
0,Hair of the Dog,435.234105,425 Church Street,Pubs
1,Fran's Restaurant,213.495637,20 College Street,Diners
2,Pearl Diver,1164.714759,100 Adelaide Street E,Seafood
3,The Senator,541.136349,249 Victoria Street,Breakfast & Brunch
4,Le Génie Bakery and Espresso,34.103665,382 Yonge St,Coffee & Tea

Station Name: 25 York St – Union Station South lat: 43.643667 long: -79.380414 Number of free bikes are: 10

,name,distance,location,POI_category
0,Reign Restaurant + Bar + Bakery,242.399368,100 Front St W,Steakhouses
1,Evviva Breakfast & Lunch,326.636328,25 Lower Simcoe,Breakfast & Brunch
2,Cafe Landwer - Adelaide & University,677.330170,165 University Avenue,Cafes
3,Pearl Diver,1028.620165,100 Adelaide Street E,Seafood
4,iQ,186.672839,18 York Street,Coffee & Tea

Station Name: 161 Bleecker St (South of Wellesley) lat: 43.666233 long: -79.373327 Number of free bikes are: 0

,name,distance,location,POI_category
0,Hair of the Dog,622.534596,425 Church Street,Pubs
1,Chew Chew's Diner,316.365793,186 Carlton Street,Diners
2,Staij & Co Cafe & Pastry Boutique,333.714792,552 Parliament street,Cafes
3,Cafe Landwer - Yonge & Bloor,1070.433367,33 Bloor St E,Breakfast & Brunch
4,DOVA,451.270907,229 Carlton Street,Italian

Station Name: Spadina Ave / Fort York Blvd lat: 43.640114 long: -79.393249 Number of free bikes are: 13

,name,distance,location,POI_category
0,Le Sélect Bistro,511.684606,432 Wellington Street W,French
1,Sportsnet Grill,379.505863,1 Blue Jays Way,Breakfast & Brunch
2,Cafe Landwer - Adelaide & University,1168.987070,165 University Avenue,Cafes
3,Siempre Restaurant,374.150538,348 Front Street W,Breakfast & Brunch
4,Kost,580.433092,80 Blue Jays Way,American (Traditional)

Station Name: Augusta Ave / Denison Sq lat: 43.653766 long: -79.4016759 Number of free bikes are: 9

                  name    distance            location        POI_category
0  Film Cafe by Eative  158.092041  230 Augusta Avenue  Breakfast & Brunch
1       KOS Restaurant  181.089032  61 Bellevue Avenue  Breakfast & Brunch
2        The Arch Café  296.513734    293 Augusta Ave.  Breakfast & Brunch
3              Egg Bae   43.090045  189 Augusta Avenue  Breakfast & Brunch
4         Voodoo Child  479.689336  388 College Street        Coffee & Tea

Station Name: Lansdowne Subway Station lat: 43.6587734 long: -79.443054 Number of free bikes are: 10

               name     distance              location        POI_category
0        Ruru Baked    82.842570  659 Lansdowne Avenue            Desserts
1         Good Fork  1256.797873  1550 Dundas Street W  Breakfast & Brunch
2  Propeller Coffee   163.655433        50 Wade Avenue        Coffee & Tea
3          Nuthouse   210.839401         1256 Bloor St      Health Markets
4            Nofa’s    65.346591  699 Lansdowne Avenue            Bakeries

Station Name: Lansdowne Ave / Whytock Ave lat: 43.6538888888889 long: -79.4413888888889 Number of free bikes are: 0

,name,distance,location,POI_category
0,Good Fork,781.243718,1550 Dundas Street W,Breakfast & Brunch
1,The Federal,1016.400985,1438 Dundas Street W,Breakfast & Brunch
2,The Ace,1050.536432,231A Roncesvalles Avenue,Comfort Food
3,Ruru Baked,479.144415,659 Lansdowne Avenue,Desserts
4,Ethica Coffee Roasters,348.954953,213 Sterling Road,Coffee & Tea

Station Name: Sterling Rd / Dundas St W lat: 43.6508333333333 long: -79.4430555555556 Number of free bikes are: 5

,name,distance,location,POI_category
0,Good Fork,782.792946,1550 Dundas Street W,Breakfast & Brunch
1,The Ace,699.844872,231A Roncesvalles Avenue,Comfort Food
2,Peter's No Frills,248.212786,222 Lansdowne Avenue,Grocery
3,Arabesque Middle Eastern Foods,1006.797059,1068 College Street,Middle Eastern
4,Ruru Baked,810.031550,659 Lansdowne Avenue,Desserts

Station Name: St Clarens Ave / College St lat: 43.651238 long: -79.43868 Number of free bikes are: 4

,name,distance,location,POI_category
0,Good Fork,449.693728,1550 Dundas Street W,Breakfast & Brunch
1,The Federal,706.283642,1438 Dundas Street W,Breakfast & Brunch
2,Peter's No Frills,204.793975,222 Lansdowne Avenue,Grocery
3,The Ace,994.800281,231A Roncesvalles Avenue,Comfort Food
4,Kitten and the Bear,779.465884,1414 Dundas Street W,Coffee & Tea

Station Name: Ossington Ave / College St lat: 43.6544915 long: -79.422634 Number of free bikes are: 9

              name     distance                location        POI_category
0     Madras Kaapi   150.004041      870 College Street        Coffee & Tea
1      The Federal   807.332985    1438 Dundas Street W  Breakfast & Brunch
2  Starving Artist    64.626515      810 College Street      Canadian (New)
3        Good Fork  1007.797405    1550 Dundas Street W  Breakfast & Brunch
4     Sisters & Co   960.484298  887 Dundas Street West  Breakfast & Brunch

Station Name: High Park Subway Station lat: 43.6543604 long: -79.4655296 Number of free bikes are: 1

,name,distance,location,POI_category
0,Hannah's Cafe and Bakery,220.740448,1822 Bloor Street W,Coffee & Tea
1,Garden's Food,222.601891,1964 Bloor Street W,Grocery
2,The Merseyside,1088.062271,2413 Dundas Street W,Coffee & Tea
3,Hula Girl Espresso Boutique,1115.176028,2473 Dundas Street W,Coffee & Tea
4,Grenadier Cafe,997.285051,200 Parkside Dr,Breakfast & Brunch

Station Name: Lake Shore Blvd W / Ellis Ave lat: 43.635932 long: -79.465083 Number of free bikes are: 17

,name,distance,location,POI_category
0,Gravity Pizza Cafe & Starbucks,1378.427261,58 Marine Parade Drive,Pizza
1,Cafe Cocoa Boulangerie,1327.744717,58 Marine Parade Drive,Coffee & Tea
2,Sunshine Foods,471.600479,12 Windermere Ave,Grocery

Station Name: Parkside Dr / Bloor St W - SMART lat: 43.654501 long: -79.460053 Number of free bikes are: 12

,name,distance,location,POI_category
0,The Ace,1297.857109,231A Roncesvalles Avenue,Comfort Food
1,Lunch Box,48.077049,1731 Bloor Street W,Breakfast & Brunch
2,Hannah's Cafe and Bakery,220.733178,1822 Bloor Street W,Coffee & Tea
3,Cosette,73.962052,1715 Bloor Street W,Coffee & Tea
4,7-Eleven,110.747676,1730 Bloor Street W,Convenience Stores

Station Name: Lake Shore Blvd W / Windermere Ave lat: 43.634896 long: -79.467763 Number of free bikes are: 18

,name,distance,location,POI_category
0,Lola's Gelato,1237.739382,14B Brookers Lane,Coffee & Tea
1,Gravity Pizza Cafe & Starbucks,1147.520904,58 Marine Parade Drive,Pizza
2,Cafe Cocoa Boulangerie,1094.411525,58 Marine Parade Drive,Coffee & Tea
3,Rabba Fine Foods,1251.753574,2125 Lakeshore Boulecvard W,Grocery
4,Tim Hortons,1251.704246,2125 Lakeshore Blvd. W,Coffee & Tea

Station Name: Martin Goodman Trail (Marilyn Bell Park) lat: 43.6314 long: -79.4304 Number of free bikes are: 29

,name,distance,location,POI_category
0,LOCAL Public Eatery - Liberty Village,1195.179700,171 E Liberty Street,Sports Bars
1,Mildred's Temple Kitchen,1241.052286,85 Hanna Avenue,Breakfast & Brunch
2,School Restaurant,860.484481,70 Fraser Avenue,Bakeries
3,Arvo Coffee,1106.285465,80 Atlantic Avenue,Coffee & Tea
4,Louie Coffee Shop,951.298624,1187 King Street W,Coffee & Tea

Station Name: Lake Shore Blvd W / The Boulevard Club lat: 43.636731 long: -79.444966 Number of free bikes are: 18

,name,distance,location,POI_category
0,Easy Breakfast,225.217807,1645 Queen Street W,Breakfast & Brunch
1,Garleek Kitchen,687.357134,1500 Queen Street W,Asian Fusion
2,El Almacen Yerba Mate Café,276.784312,1720 Queen Street W,Coffee & Tea
3,Cherry Bomb Coffee,555.177341,79 Roncesvalles Ave,Bakeries
4,Capital Espresso,949.792522,1349 Queen Street W,Coffee & Tea

Station Name: Dundas St W / Roncesvalles Ave Green P -SMART lat: 43.6534268 long: -79.4512787 Number of free bikes are: 12

                      name    distance                  location  POI_category
0                  The Ace  835.940869  231A Roncesvalles Avenue  Comfort Food
1                Starbucks   16.100146          2201 Dundas St W  Coffee & Tea
2         AM Coffee Studio   97.880022          2233 Dundas St W  Coffee & Tea
3  Reunion Coffee Roasters  349.787412   385 Roncesvalles Avenue  Coffee & Tea
4               Ruru Baked  871.994379      659 Lansdowne Avenue      Desserts

Station Name: Erskine Ave / Yonge St SMART lat: 43.7112153 long: -79.39894 Number of free bikes are: 1

                   name    distance               location  POI_category
0       De Mello Coffee   73.456724      2489 Yonge Street  Coffee & Tea
1           Uptown Brie   93.950418  11 Castlefield Avenue  Cheese Shops
2  Good Bite Restaurant   30.408946      2463 Yonge Street        Diners
3             La Boheme   57.387156      2481 Yonge Street  Coffee & Tea
4          Function Bar  411.300794      2291 Yonge Street       Burgers

Station Name: D'Arcy St / McCaul St - SMART lat: 43.655227 long: -79.39201 Number of free bikes are: 9

,name,distance,location,POI_category
0,Café La Gaffe,153.411269,24 Baldwin Street,Breakfast & Brunch
1,Hair of the Dog,1317.061797,425 Church Street,Pubs
2,Cafe Landwer - Adelaide & University,912.499873,165 University Avenue,Cafes
3,Karine's,136.374958,109 McCaul Street,Breakfast & Brunch
4,Jimmy's Coffee,59.057076,166 McCaul Street,Cafes

Station Name: Mortimer Ave / Carlaw Ave SMART lat: 43.685167 long: -79.34962 Number of free bikes are: 0

,name,distance,location,POI_category
0,Hanamaru,222.544162,862 Pape Avenue,Grocery
1,Goat Coffee Co,242.914894,893 Pape Avenue,Coffee & Tea
2,Oliver Coffee Bar,254.762384,852 Pape Avenue,Coffee & Tea
3,Stacked Pancake & Breakfast House,856.879743,425 Danforth Avenue,Breakfast & Brunch
4,The Big Carrot Community Market,867.793771,348 Danforth Avenue,Health Markets

Station Name: Cumberland Ave / Bay St SMART lat: 43.6704537 long: -79.39014 Number of free bikes are: 1

,name,distance,location,POI_category
0,Cafe Landwer - Yonge & Bloor,366.216816,33 Bloor St E,Breakfast & Brunch
1,Hair of the Dog,1190.157831,425 Church Street,Pubs
2,7 West Cafe,358.546092,7 Charles Street W,Italian
3,Nespresso Boutique Bar,274.722033,159 Cumberland Street,Coffee & Tea
4,Flo's Diner,139.574537,70 Yorkville Avenue,Diners

Station Name: 20 Charles St E lat: 43.6691099 long: -79.38551 Number of free bikes are: 0

,name,distance,location,POI_category
0,Cafe Landwer - Yonge & Bloor,81.919072,33 Bloor St E,Breakfast & Brunch
1,7 West Cafe,101.635535,7 Charles Street W,Italian
2,Hair of the Dog,834.365617,425 Church Street,Pubs
3,Dessert Lady Café,381.800010,1 Sultan Street,Desserts
4,Egg Club Wellesley,565.227377,531 Yonge Street,Breakfast & Brunch

Station Name: Niagara St / Tecumseth St lat: 43.641389 long: -79.404444 Number of free bikes are: 12

,name,distance,location,POI_category
0,1 Kitchen Toronto,276.483551,550 Wellington Street W,Cocktail Bars
1,Le Sélect Bistro,671.922930,432 Wellington Street W,French
2,Shy Coffee,226.065450,3-766 King Street West,Coffee & Tea
3,Simit & Chai,250.556330,787 King Street W,Coffee & Tea
4,Kost,1062.359175,80 Blue Jays Way,American (Traditional)

Station Name: 424 Wellington St W lat: 43.643834 long: -79.396649 Number of free bikes are: 6

,name,distance,location,POI_category
0,Le Sélect Bistro,18.192780,432 Wellington Street W,French
1,1 Kitchen Toronto,437.208893,550 Wellington Street W,Cocktail Bars
2,Kost,378.881849,80 Blue Jays Way,American (Traditional)
3,Cafe Landwer - Adelaide & University,1085.754190,165 University Avenue,Cafes
4,Cops,295.050467,445 Adelaide Street,Coffee & Tea

Station Name: Dundas St W / St. Patrick St lat: 43.6545174 long: -79.3895315 Number of free bikes are: 1

,name,distance,location,POI_category
0,Yueh Tung Restaurant,355.846754,126 Elizabeth Street,Hakka
1,Cafe Landwer - Adelaide & University,735.311707,165 University Avenue,Cafes
2,Hair of the Dog,1231.980366,425 Church Street,Pubs
3,Café La Gaffe,359.813152,24 Baldwin Street,Breakfast & Brunch
4,Karine's,139.785637,109 McCaul Street,Breakfast & Brunch

Station Name: Robert St / Bloor St W - SMART lat: 43.665846 long: -79.404998 Number of free bikes are: 0

,name,distance,location,POI_category
0,Fuwa Fuwa Japanese Pancakes,231.828010,408 Bloor Street W,Desserts
1,Insomnia Restaurant & Lounge,483.186769,563 Bloor Street W,Lounges
2,Future Bistro,209.039137,483 Bloor Street W,Breakfast & Brunch
3,Almond Butterfly Harbord Bakeshop & Cafe,348.619451,100 Harbord Street,Bakeries
4,El Pocho Antojitos Bar,798.485032,2 Follis Avenue,Bars

Station Name: John St  / Mercer St - SMART lat: 43.6461 long: -79.3895 Number of free bikes are: 7

,name,distance,location,POI_category
0,Kost,249.578798,80 Blue Jays Way,American (Traditional)
1,Hey Lucy,57.277214,295 King St. W.,Pizza
2,O&B Canteen,87.243917,330 King Street W,Comfort Food
3,Cafe Landwer - Adelaide & University,467.883919,165 University Avenue,Cafes
4,Le Sélect Bistro,639.941680,432 Wellington Street W,French

Station Name: Queen St E / Hammersmith Ave lat: 43.671349 long: -79.29451 Number of free bikes are: 11

,name,distance,location,POI_category
0,Isabella's Mochi Donut Boutique,229.210616,2066 Queen St East,Japanese
1,Beacher Cafe,265.014999,2162 Queen Street E,Breakfast & Brunch
2,Juice & Java Cafe,107.021472,2102 Queen St E,Coffee & Tea
3,Tori's Bakeshop,346.153623,2188 Queen Street E,Bakeries
4,Carload On The Beach,319.477568,2038 Queen St E,Fruits & Veggies

Station Name: Queen St. E / Eastern Ave lat: 43.667208 long: -79.312315 Number of free bikes are: 14

                name    distance               location  POI_category
0  Lazy Daisy's Cafe  838.169119  1515 Gerrard Street E         Cafes
1          Mira Mira  895.004126    1963 Queen Street E        Diners
2      Simple Coffee  269.029101    1636 Queen Street E         Cafes
3   Bud’s Coffee Bar  894.379777    1966 Queen Street E  Coffee & Tea
4         McDonald's  612.837401  29-31 Woodward Avenue     Fast Food

Station Name: Hubbard Blvd / Balsam Av lat: 43.669328 long: -79.288949 Number of free bikes are: 15

,name,distance,location,POI_category
0,Beacher Cafe,354.503763,2162 Queen Street E,Breakfast & Brunch
1,Isabella's Mochi Donut Boutique,687.681255,2066 Queen St East,Japanese
2,Garden Gate Restaurant,376.510090,2379 Queen Street E,Chinese
3,Tori's Bakeshop,333.804944,2188 Queen Street E,Bakeries
4,Carload On The Beach,775.125484,2038 Queen St E,Fruits & Veggies

Station Name: Queen St. E / Spruce Hill Rd. lat: 43.672571 long: -79.289 Number of free bikes are: 9

,name,distance,location,POI_category
0,Beacher Cafe,198.612848,2162 Queen Street E,Breakfast & Brunch
1,Garden Gate Restaurant,132.278563,2379 Queen Street E,Chinese
2,Isabella's Mochi Donut Boutique,692.681715,2066 Queen St East,Japanese
3,Tori's Bakeshop,118.260898,2188 Queen Street E,Bakeries
4,Bagels On Fire,185.068285,2248 Queen Street E,Bagels

Station Name: Lower Spadina Ave / Lake Shore Blvd W lat: 43.638497 long: -79.39192 Number of free bikes are: 18

,name,distance,location,POI_category
0,Le Sélect Bistro,720.567003,432 Wellington Street W,French
1,Sportsnet Grill,456.395973,1 Blue Jays Way,Breakfast & Brunch
2,Kost,757.141460,80 Blue Jays Way,American (Traditional)
3,Evviva Breakfast & Lunch,774.758876,25 Lower Simcoe,Breakfast & Brunch
4,1 Kitchen Toronto,960.802395,550 Wellington Street W,Cocktail Bars

Station Name: Lower Coxwell Ave /  Lake Shore Blvd E lat: 43.662771 long: -79.315223 Number of free bikes are: 14

                  name     distance                     location  POI_category
0           Beach Club   418.453938  1681 Lake Shore Boulevard E       Seafood
1           McDonald's   462.925897        29-31 Woodward Avenue     Fast Food
2        Yum Croissant  1120.134879       1917 Queen Street East    Sandwiches
3          Tim Hortons   423.582129  1681 Lake Shore Boulevard E  Coffee & Tea
4  Urban Bulk & Refill   806.349151              1380 Queen St E       Grocery

Station Name: Amelia St. / Sumach St. lat: 43.66852 long: -79.363525 Number of free bikes are: 1

,name,distance,location,POI_category
0,Rooster Coffee House,867.140193,479 Broadview Avenue,Coffee & Tea
1,Lady Marmalade,1133.309769,265 Broadview Avenue,Breakfast & Brunch
2,Staij & Co Cafe & Pastry Boutique,497.948819,552 Parliament street,Cafes
3,O’SOMAE,975.601870,357 Broadview Ave,Breakfast & Brunch
4,Chew Chew's Diner,899.812749,186 Carlton Street,Diners

Station Name: Augusta Ave / Dundas St W lat: 43.652473 long: -79.401456 Number of free bikes are: 13

,name,distance,location,POI_category
0,Film Cafe by Eative,299.986489,230 Augusta Avenue,Breakfast & Brunch
1,Le Sélect Bistro,1022.131089,432 Wellington Street W,French
2,Egg Bae,105.111575,189 Augusta Avenue,Breakfast & Brunch
3,KOS Restaurant,306.020841,61 Bellevue Avenue,Breakfast & Brunch
4,Voodoo Child,606.272984,388 College Street,Coffee & Tea

Station Name: Queen St W / Ossington Ave lat: 43.643975 long: -79.419576 Number of free bikes are: 21

,name,distance,location,POI_category
0,Frankie's,104.896578,994 Queen Street W,Breakfast & Brunch
1,LOCAL Public Eatery - Liberty Village,612.945156,171 E Liberty Street,Sports Bars
2,Hello 123,320.523720,1122 Queen Street W,Breakfast & Brunch
3,Mildred's Temple Kitchen,457.026410,85 Hanna Avenue,Breakfast & Brunch
4,Cafe Neon,30.918447,1024 Queen Street W,Coffee & Tea

Station Name: Trinity St /Front St E lat: 43.651318 long: -79.36023 Number of free bikes are: 16

,name,distance,location,POI_category
0,Cacao 70,130.035626,28 Gristmill Lane,Breakfast & Brunch
1,Arvo Coffee,175.179167,17 Gristmill Lane,Coffee & Tea
2,White Lily Diner,1106.698377,678 Queen Street E,Breakfast & Brunch
3,Balzac's Coffee Roasters,195.327296,1 Trinity Street,Coffee & Tea
4,Rooster Coffee House,426.134478,343 King Street E,Coffee & Tea

Station Name: Dundas St W / Yonge St lat: 43.656094 long: -79.381484 Number of free bikes are: 28

                   name    distance               location        POI_category
0           The Senator  204.109020    249 Victoria Street  Breakfast & Brunch
1  Yueh Tung Restaurant  317.624439   126 Elizabeth Street               Hakka
2         Eggspectation  314.366723         483 Bay Street  Breakfast & Brunch
3           Pearl Diver  798.826147  100 Adelaide Street E             Seafood
4       Hair of the Dog  777.036267      425 Church Street                Pubs

Station Name: Kendal Ave / Spadina Rd lat: 43.670318 long: -79.405181 Number of free bikes are: 2

,name,distance,location,POI_category
0,Insomnia Restaurant & Lounge,673.797609,563 Bloor Street W,Lounges
1,El Pocho Antojitos Bar,667.393220,2 Follis Avenue,Bars
2,FET ZUN,551.149111,252 Dupont St,Middle Eastern
3,Fuwa Fuwa Japanese Pancakes,531.760751,408 Bloor Street W,Desserts
4,Rustle & Still Café,906.686014,605 Bloor Street W,Coffee & Tea

Station Name: Davenport Rd / Bathurst St lat: 43.676667 long: -79.416111 Number of free bikes are: 6

,name,distance,location,POI_category
0,El Pocho Antojitos Bar,810.564706,2 Follis Avenue,Bars
1,FET ZUN,800.969549,252 Dupont St,Middle Eastern
2,The Grapefruit Moon,810.739088,968 Bathurst Street,Breakfast & Brunch
3,CocoaLatte,910.165741,671 St. Clair Avenue W,Coffee & Tea
4,Baker and Scone,964.681123,693 St. Clair W,Breakfast & Brunch

Station Name: Queen St W / Close Ave lat: 43.640634 long: -79.435841 Number of free bikes are: 13

,name,distance,location,POI_category
0,Garleek Kitchen,187.918085,1500 Queen Street W,Asian Fusion
1,Capital Espresso,102.480250,1349 Queen Street W,Coffee & Tea
2,Hello 123,1040.905486,1122 Queen Street W,Breakfast & Brunch
3,Drake's Corner Café + Bistro,943.202818,1150 Queen Street W,Breakfast & Brunch
4,Bom Dia Café & Bakery,582.590007,1205 Queen Street W,Bakeries

Station Name: King St W / Joe Shuster Way lat: 43.639444 long: -79.423611 Number of free bikes are: 9

,name,distance,location,POI_category
0,Mildred's Temple Kitchen,261.701583,85 Hanna Avenue,Breakfast & Brunch
1,LOCAL Public Eatery - Liberty Village,370.190513,171 E Liberty Street,Sports Bars
2,School Restaurant,193.839241,70 Fraser Avenue,Bakeries
3,Hello 123,437.094854,1122 Queen Street W,Breakfast & Brunch
4,Arvo Coffee,224.266299,80 Atlantic Avenue,Coffee & Tea

Station Name: Yarmouth Rd / Christie St lat: 43.67 long: -79.42083333333333 Number of free bikes are: 0

                           name    distance             location  POI_category
0        El Pocho Antojitos Bar  597.129229      2 Follis Avenue          Bars
1  Insomnia Restaurant & Lounge  909.333068   563 Bloor Street W       Lounges
2                  Fiesta Farms  147.852513  200 Christie Street       Grocery
3           Rustle & Still Café  868.963300   605 Bloor Street W  Coffee & Tea
4          Ninetails Coffee Bar  795.852504   651 Bloor Street W  Coffee & Tea

Station Name: Palmerston Ave / Vermont Ave lat: 43.671389 long: -79.416389 Number of free bikes are: 6

,name,distance,location,POI_category
0,El Pocho Antojitos Bar,307.545622,2 Follis Avenue,Bars
1,Insomnia Restaurant & Lounge,742.940176,563 Bloor Street W,Lounges
2,The Grapefruit Moon,317.549631,968 Bathurst Street,Breakfast & Brunch
3,Rustle & Still Café,806.881103,605 Bloor Street W,Coffee & Tea
4,Ninetails Coffee Bar,818.271026,651 Bloor Street W,Coffee & Tea

Station Name: Christie St / Benson Ave (Wychwood Barns) lat: 43.68 long: -79.42500000000001 Number of free bikes are: 0

,name,distance,location,POI_category
0,Ferro Bar & Cafe,304.566855,769 Saint Clair Avenue W,Bars
1,Emma's Country Kitchen,441.901979,810 Saint Clair Avenue W,Breakfast & Brunch
2,CocoaLatte,187.815499,671 St. Clair Avenue W,Coffee & Tea
3,Baker and Scone,186.103694,693 St. Clair W,Breakfast & Brunch
4,Mabel's Bakery,289.721178,746 St Clair Avenue W,Coffee & Tea

Station Name: King St W / Fraser Ave lat: 43.6394444 long: -79.42527777777778 Number of free bikes are: 11

,name,distance,location,POI_category
0,Mildred's Temple Kitchen,394.056799,85 Hanna Avenue,Breakfast & Brunch
1,School Restaurant,198.175707,70 Fraser Avenue,Bakeries
2,LOCAL Public Eatery - Liberty Village,499.992931,171 E Liberty Street,Sports Bars
3,Hello 123,460.444353,1122 Queen Street W,Breakfast & Brunch
4,J's Steak Frites,384.944430,1198 Queen Street W,Steakhouses

Station Name: Macpherson Ave / Spadina Rd lat: 43.675791 long: -79.40698 Number of free bikes are: 1

                     name    distance             location        POI_category
0                 FET ZUN   82.429562        252 Dupont St      Middle Eastern
1  El Pocho Antojitos Bar  858.147589      2 Follis Avenue                Bars
2            Ezra's Pound  101.928743    238 Dupont Street        Coffee & Tea
3            Haute Coffee  341.649688    153 Dupont Street        Coffee & Tea
4     The Grapefruit Moon  844.875996  968 Bathurst Street  Breakfast & Brunch

Station Name: Bridgman Ave / Kendal Ave lat: 43.675556 long: -79.410278 Number of free bikes are: 8

                     name    distance             location        POI_category
0                 FET ZUN  317.565178        252 Dupont St      Middle Eastern
1  El Pocho Antojitos Bar  704.769884      2 Follis Avenue                Bars
2            Ezra's Pound  350.803602    238 Dupont Street        Coffee & Tea
3     The Grapefruit Moon  694.919127  968 Bathurst Street  Breakfast & Brunch
4            Haute Coffee  606.470904    153 Dupont Street        Coffee & Tea

Station Name: Bridgman Ave / Bathurst St lat: 43.674444 long: -79.414722 Number of free bikes are: 11

,name,distance,location,POI_category
0,El Pocho Antojitos Bar,544.159281,2 Follis Avenue,Bars
1,Insomnia Restaurant & Lounge,989.556671,563 Bloor Street W,Lounges
2,FET ZUN,677.748245,252 Dupont St,Middle Eastern
3,Fuwa Fuwa Japanese Pancakes,1093.131433,408 Bloor Street W,Desserts
4,The Grapefruit Moon,543.128417,968 Bathurst Street,Breakfast & Brunch

Station Name: Kendal Ave / Bernard Ave lat: 43.671513 long: -79.408317 Number of free bikes are: 1

,name,distance,location,POI_category
0,El Pocho Antojitos Bar,460.621025,2 Follis Avenue,Bars
1,Insomnia Restaurant & Lounge,654.063412,563 Bloor Street W,Lounges
2,FET ZUN,439.222310,252 Dupont St,Middle Eastern
3,Rustle & Still Café,867.362468,605 Bloor Street W,Coffee & Tea
4,Fuwa Fuwa Japanese Pancakes,619.448745,408 Bloor Street W,Desserts

Station Name: Pretoria Ave / Broadview Ave lat: 43.6783213 long: -79.35822 Number of free bikes are: 0

,name,distance,location,POI_category
0,Broadview Espresso,18.116606,817 Broadview Ave,Coffee & Tea
1,Hanamaru,1107.076357,862 Pape Avenue,Grocery
2,The Big Carrot Community Market,416.575521,348 Danforth Avenue,Health Markets
3,Bulk Barn,277.566964,213 Danforth Avenue,Grocery
4,Si Espresso Bar,285.679238,748 Broadview Avenue,Coffee & Tea

Station Name: Broadview Ave / Westwood Ave lat: 43.6848652 long: -79.356602 Number of free bikes are: 9

,name,distance,location,POI_category
0,Hanamaru,762.315129,862 Pape Avenue,Grocery
1,Sobeys,36.631809,1015 Broadview Avenue,Grocery
2,Goat Coffee Co,796.073075,893 Pape Avenue,Coffee & Tea
3,Stacked Pancake & Breakfast House,936.135714,425 Danforth Avenue,Breakfast & Brunch
4,The Big Carrot Community Market,836.974001,348 Danforth Avenue,Health Markets

Station Name: Fulton Ave / Pape Ave lat: 43.68395 long: -79.347046 Number of free bikes are: 4

,name,distance,location,POI_category
0,Hanamaru,34.595055,862 Pape Avenue,Grocery
1,Goat Coffee Co,75.215582,893 Pape Avenue,Coffee & Tea
2,Oliver Coffee Bar,9.215034,852 Pape Avenue,Coffee & Tea
3,Smyrna - Laz Bakkal,200.791010,808 Pape Avenue,Grocery
4,Stacked Pancake & Breakfast House,780.007728,425 Danforth Avenue,Breakfast & Brunch

Station Name: Cosburn Ave / Donlands Ave lat: 43.690537 long: -79.341307 Number of free bikes are: 3

                  name     distance             location        POI_category
0   The Donlands Diner   444.422976  417 Donlands Avenue  Breakfast & Brunch
1     Mon K Patisserie  1196.085136  1040 Coxwell Avenue        Coffee & Tea
2             Hanamaru   842.734234      862 Pape Avenue             Grocery
3       Goat Coffee Co   792.020240      893 Pape Avenue        Coffee & Tea
4  Fresh From The Farm   331.220525  350 Donlands Avenue             Grocery

Station Name: Beltline Trail / Chaplin Cres. lat: 43.704461 long: -79.423122 Number of free bikes are: 1

,name,distance,location,POI_category
0,The Mad Bean,767.848017,519 Eglinton Avenue W,Coffee & Tea
1,3 Eggs All Day Pub & Grill,611.623475,936 Eglinton Avenue W,Breakfast & Brunch
2,Summerhill Market,827.507438,484 Eglinton Avenue W,Grocery
3,Second Cup,760.776802,518 Eglinton Avenue W,Coffee & Tea
4,Starbucks,541.675803,900 Eglington Avenue W,Coffee & Tea

Station Name: Lake Shore Blvd E / Leslie St lat: 43.659195 long: -79.329196 Number of free bikes are: 14

,name,distance,location,POI_category
0,Yaya Greek Bistro,479.549145,1186 Queen Street E,Breakfast & Brunch
1,Maple Leaf Tavern,1307.872357,955 Gerrard Street E,American (Traditional)
2,Starbucks,83.356240,4 - 23 Leslie Street,Coffee & Tea
3,Farm Boy,177.283320,1005 Lake Shore Boulevard E,Grocery
4,Pasaj,627.295996,1100 Queen Street E,Bakeries

Station Name: King St E / Berkeley St lat: 43.651885 long: -79.3649 Number of free bikes are: 13

                   name    distance               location        POI_category
0           Pearl Diver  714.523851  100 Adelaide Street E             Seafood
1              Cacao 70  391.364737      28 Gristmill Lane  Breakfast & Brunch
2  Rooster Coffee House   48.416528      343 King Street E        Coffee & Tea
3           Arvo Coffee  370.495662      17 Gristmill Lane        Coffee & Tea
4         Tandem Coffee  312.049724      368 King Street E        Coffee & Tea

Station Name: Rosedale Park (20 Scholfield Ave) lat: 43.682645 long: -79.377557 Number of free bikes are: 6

                name     distance                location  POI_category
0       Coffee Lunar  1326.799147        920 Yonge Street  Coffee & Tea
1  Summerhill Market   464.361068   446 Summerhill Avenue       Grocery
2       House of Tea  1124.171582  1015-1017 Yonge Street  Coffee & Tea
3  Rosedale's Finest   389.898290   408 Summerhill Avenue       Grocery
4               Utea  1227.487514        901 Yonge Street  Coffee & Tea

Station Name: Mary McCormick Rec Centre (Sheridan Ave) lat: 43.6475 long: -79.43305555555555 Number of free bikes are: 9

                  name    distance              location        POI_category
0          The Federal  336.993951  1438 Dundas Street W  Breakfast & Brunch
1            Good Fork  266.024462  1550 Dundas Street W  Breakfast & Brunch
2      Garleek Kitchen  883.120644   1500 Queen Street W        Asian Fusion
3  Kitten and the Bear  390.563118  1414 Dundas Street W        Coffee & Tea
4            Hello 123  897.328960   1122 Queen Street W  Breakfast & Brunch

Station Name: Soho St / Queen St W lat: 43.6494896 long: -79.393535 Number of free bikes are: 3

,name,distance,location,POI_category
0,Le Sélect Bistro,675.854154,432 Wellington Street W,French
1,Cafe Landwer - Adelaide & University,690.746170,165 University Avenue,Cafes
2,Hey Lucy,444.777979,295 King St. W.,Pizza
3,Kost,475.063212,80 Blue Jays Way,American (Traditional)
4,O&B Canteen,410.210087,330 King Street W,Comfort Food

Station Name: Davenport Rd / Lansdowne Ave lat: 43.671526 long: -79.44874 Number of free bikes are: 1

,name,distance,location,POI_category
0,Balzac's Coffee Roasters,129.538995,29 Powerhouse Street,Coffee Roasteries
1,Lox + Schmear,1196.788866,1030 St Clair W,Bagels
2,Mofer Coffee,1147.255405,1040 St Clair Avenue W,Coffee & Tea Supplies
3,Century Park Tavern,207.049986,33 Powerhouse Street,Breakfast & Brunch
4,Sunnyside Grill,771.160714,1218 Saint Clair Avenue W,Breakfast & Brunch

Station Name: Front St W / University Ave (2) lat: 43.6452972 long: -79.3827914 Number of free bikes are: 14

,name,distance,location,POI_category
0,Cafe Landwer - Adelaide & University,425.495586,165 University Avenue,Cafes
1,Reign Restaurant + Bar + Bakery,81.843581,100 Front St W,Steakhouses
2,Pearl Diver,1006.673553,100 Adelaide Street E,Seafood
3,Evviva Breakfast & Lunch,412.928087,25 Lower Simcoe,Breakfast & Brunch
4,Kost,772.876044,80 Blue Jays Way,American (Traditional)

Station Name: 457 King St W lat: 43.6452091 long: -79.3960744 Number of free bikes are: 17

,name,distance,location,POI_category
0,Le Sélect Bistro,157.883095,432 Wellington Street W,French
1,Kost,296.083668,80 Blue Jays Way,American (Traditional)
2,1 Kitchen Toronto,529.403827,550 Wellington Street W,Cocktail Bars
3,Cops,247.516526,445 Adelaide Street,Coffee & Tea
4,Cafe Landwer - Adelaide & University,974.600982,165 University Avenue,Cafes

Station Name: Dufferin St / Sylvan Av (Dufferin Grove Park) lat: 43.6555556 long: -79.43361111111112 Number of free bikes are: 17

,name,distance,location,POI_category
0,Good Fork,631.498154,1550 Dundas Street W,Breakfast & Brunch
1,The Federal,708.365956,1438 Dundas Street W,Breakfast & Brunch
2,Arabesque Middle Eastern Foods,350.921198,1068 College Street,Middle Eastern
3,Joe's No Frills,69.498210,900 Dufferin Street,Grocery
4,Kitten and the Bear,743.116561,1414 Dundas Street W,Coffee & Tea

Station Name: Roxborough St W / Yonge St lat: 43.678077 long: -79.390328 Number of free bikes are: 8

             name    distance                location        POI_category
0  Rosedale Diner  263.809412       1164 Yonge Street              Diners
1          Pantry   28.702467       1094 Yonge Street  Breakfast & Brunch
2   Boxcar Social  417.003937       1208 Yonge Street           Wine Bars
3    House of Tea   99.803777  1015-1017 Yonge Street        Coffee & Tea
4       Starbucks   13.862330           1088 Yonge St        Coffee & Tea

Station Name: Crawford St / Queen St W lat: 43.645665 long: -79.415345 Number of free bikes are: 17

,name,distance,location,POI_category
0,Frankie's,283.993494,994 Queen Street W,Breakfast & Brunch
1,LOCAL Public Eatery - Liberty Village,858.554826,171 E Liberty Street,Sports Bars
2,Mildred's Temple Kitchen,759.194970,85 Hanna Avenue,Breakfast & Brunch
3,Cafe Neon,388.017576,1024 Queen Street W,Coffee & Tea
4,Sisters & Co,655.591262,887 Dundas Street West,Breakfast & Brunch

Station Name: Lisgar St / Dundas St W - SMART lat: 43.6493472 long: -79.42668 Number of free bikes are: 6

                  name     distance              location        POI_category
0          The Federal   283.032244  1438 Dundas Street W  Breakfast & Brunch
1  Kitten and the Bear   208.878659  1414 Dundas Street W        Coffee & Tea
2            Good Fork   545.182444  1550 Dundas Street W  Breakfast & Brunch
3      Garleek Kitchen  1352.100001   1500 Queen Street W        Asian Fusion
4            Frankie's   857.793268    994 Queen Street W  Breakfast & Brunch

Station Name: Dundas St E / Regent Park Blvd lat: 43.660207 long: -79.361275 Number of free bikes are: 11

                   name     distance              location        POI_category
0      White Lily Diner   827.019742    678 Queen Street E  Breakfast & Brunch
1  Rooster Coffee House  1208.791736  479 Broadview Avenue        Coffee & Tea
2  Rooster Coffee House   995.598047     343 King Street E        Coffee & Tea
3     Fahrenheit Coffee  1274.513855    120 Lombard Avenue        Coffee & Tea
4        Lady Marmalade   853.520683  265 Broadview Avenue  Breakfast & Brunch

Station Name: Lower Sherbourne St / The Esplanade lat: 43.648655 long: -79.367061 Number of free bikes are: 24

,name,distance,location,POI_category
0,Pearl Diver,629.678470,100 Adelaide Street E,Seafood
1,Rooster Coffee House,370.667108,343 King Street E,Coffee & Tea
2,The Senator,1242.438472,249 Victoria Street,Breakfast & Brunch
3,Le Petit Déjeuner,340.994675,191 King Street E,Breakfast & Brunch
4,Cacao 70,544.017182,28 Gristmill Lane,Breakfast & Brunch

Station Name: Nelson St / Duncan St lat: 43.648711 long: -79.389728 Number of free bikes are: 23

,name,distance,location,POI_category
0,Cafe Landwer - Adelaide & University,379.873984,165 University Avenue,Cafes
1,Hey Lucy,265.900180,295 King St. W.,Pizza
2,O&B Canteen,227.717816,330 King Street W,Comfort Food
3,Kost,436.101452,80 Blue Jays Way,American (Traditional)
4,Le Sélect Bistro,783.656898,432 Wellington Street W,French

Station Name: Jimmie Simpson Park (Queen St E) lat: 43.6605603 long: -79.3437663 Number of free bikes are: 7

,name,distance,location,POI_category
0,White Lily Diner,627.046976,678 Queen Street E,Breakfast & Brunch
1,Bonjour Brioche,220.144606,812 Queen Street E,Breakfast & Brunch
2,Boxcar Social,268.611825,4 Boulton Avenue,Coffee & Tea
3,Purple Penguin Cafe,116.922917,889 Queen Street E,Coffee & Tea
4,Chula Taberna Mexicana,1155.470055,1058 Gerrard Street E,Mexican

Station Name: Queen St E / Sackville St lat: 43.6561111 long: -79.36138888888888 Number of free bikes are: 9

,name,distance,location,POI_category
0,Pearl Diver,1116.770946,100 Adelaide Street E,Seafood
1,White Lily Diner,874.688847,678 Queen Street E,Breakfast & Brunch
2,Tandem Coffee,275.931081,368 King Street E,Coffee & Tea
3,Figs Breakfast & Lunch,269.472464,344 Queen Street E,Breakfast & Brunch
4,Cacao 70,661.516398,28 Gristmill Lane,Breakfast & Brunch

Station Name: Mill St / Tannery Rd lat: 43.652219 long: -79.354455 Number of free bikes are: 13

                   name    distance            location        POI_category
0      White Lily Diner  779.068052  678 Queen Street E  Breakfast & Brunch
1              Cacao 70  546.482339   28 Gristmill Lane  Breakfast & Brunch
2           Arvo Coffee  600.206638   17 Gristmill Lane        Coffee & Tea
3  Rooster Coffee House  888.836202   343 King Street E        Coffee & Tea
4         Tandem Coffee  619.287568   368 King Street E        Coffee & Tea

Station Name: Cherry St / Distillery Ln lat: 43.650279 long: -79.356832 Number of free bikes are: 1

,name,distance,location,POI_category
0,Cacao 70,306.503434,28 Gristmill Lane,Breakfast & Brunch
1,White Lily Diner,1052.232780,678 Queen Street E,Breakfast & Brunch
2,Balzac's Coffee Roasters,188.398302,1 Trinity Street,Coffee & Tea
3,Arvo Coffee,353.509225,17 Gristmill Lane,Coffee & Tea
4,Rooster Coffee House,716.239250,343 King Street E,Coffee & Tea

Station Name: Queen St W / Spadina Ave lat: 43.649147 long: -79.395504 Number of free bikes are: 9

,name,distance,location,POI_category
0,Le Sélect Bistro,592.830089,432 Wellington Street W,French
1,Cafe Landwer - Adelaide & University,845.572630,165 University Avenue,Cafes
2,Kost,495.721326,80 Blue Jays Way,American (Traditional)
3,Hey Lucy,533.329672,295 King St. W.,Pizza
4,Le Gourmand,146.064687,152 Spadina Avenue,Coffee & Tea

Station Name: Yonge St / Harbour St lat: 43.643795 long: -79.375413 Number of free bikes are: 34

,name,distance,location,POI_category
0,Pearl Diver,874.627331,100 Adelaide Street E,Seafood
1,Cafe Landwer - Adelaide & University,949.833412,165 University Avenue,Cafes
2,Evviva Breakfast & Lunch,679.953592,25 Lower Simcoe,Breakfast & Brunch
3,Reign Restaurant + Bar + Bakery,555.016177,100 Front St W,Steakhouses
4,Fresh On Front,449.593506,47 Front Street E,Vegan

Station Name: Willcocks St / St. George St lat: 43.662085 long: -79.397735 Number of free bikes are: 4

,name,distance,location,POI_category
0,Voodoo Child,838.414348,388 College Street,Coffee & Tea
1,Gallery Grill,347.790620,7 Hart House Circle,Canadian (New)
2,Almond Butterfly Harbord Bakeshop & Cafe,465.087419,100 Harbord Street,Bakeries
3,The Arch Café,749.318695,293 Augusta Ave.,Breakfast & Brunch
4,7 West Cafe,1154.260626,7 Charles Street W,Italian

Station Name: Dundas St E / Parliament St lat: 43.659575 long: -79.365769 Number of free bikes are: 3

                   name     distance               location  POI_category
0           Pearl Diver  1098.447847  100 Adelaide Street E       Seafood
1              Egg Club  1026.407510     88 Dundas Street E  Coffee & Tea
2  Rooster Coffee House   866.194166      343 King Street E  Coffee & Tea
3     Fahrenheit Coffee   980.113129     120 Lombard Avenue  Coffee & Tea
4               FreshCo    16.639213  325 Parliament Street       Grocery

Station Name: 51 Parliament St lat: 43.65205 long: -79.362198 Number of free bikes are: 10

,name,distance,location,POI_category
0,Cacao 70,242.181996,28 Gristmill Lane,Breakfast & Brunch
1,Pearl Diver,932.580871,100 Adelaide Street E,Seafood
2,Rooster Coffee House,266.184603,343 King Street E,Coffee & Tea
3,Arvo Coffee,251.689306,17 Gristmill Lane,Coffee & Tea
4,White Lily Diner,1162.516504,678 Queen Street E,Breakfast & Brunch

Station Name: Queen's Park / Bloor St W lat: 43.668456 long: -79.393899 Number of free bikes are: 6

,name,distance,location,POI_category
0,Joni Restaurant,128.560565,4 Avenue Road,Bistros
1,Nespresso Boutique Bar,148.770843,159 Cumberland Street,Coffee & Tea
2,Dessert Lady Café,296.883865,1 Sultan Street,Desserts
3,7 West Cafe,593.174730,7 Charles Street W,Italian
4,S'cream,248.096245,126 Cumberland Street,Ice Cream & Frozen Yogurt

Station Name: Fort York Blvd / Bathurst St - SMART lat: 43.639052 long: -79.399792 Number of free bikes are: 11

,name,distance,location,POI_category
0,1 Kitchen Toronto,487.243775,550 Wellington Street W,Cocktail Bars
1,Le Sélect Bistro,589.258229,432 Wellington Street W,French
2,The Morning After,246.483841,88 Fort York Boulevard,Breakfast & Brunch
3,Bobo Tea & Juice,289.978324,62 Fort York Boulevard,Coffee & Tea
4,Kost,914.544980,80 Blue Jays Way,American (Traditional)

Station Name: Alma Ave / Gladstone Ave SMART lat: 43.6448617 long: -79.42822 Number of free bikes are: 11

,name,distance,location,POI_category
0,LOCAL Public Eatery - Liberty Village,1015.214991,171 E Liberty Street,Sports Bars
1,Drake's Corner Café + Bistro,330.410067,1150 Queen Street W,Breakfast & Brunch
2,J's Steak Frites,266.744497,1198 Queen Street W,Steakhouses
3,Hello 123,416.364328,1122 Queen Street W,Breakfast & Brunch
4,The Federal,559.580120,1438 Dundas Street W,Breakfast & Brunch

Station Name: Queen St W / Cowan Ave lat: 43.6409 long: -79.432837 Number of free bikes are: 13

,name,distance,location,POI_category
0,Garleek Kitchen,431.417534,1500 Queen Street W,Asian Fusion
1,Mildred's Temple Kitchen,1004.951102,85 Hanna Avenue,Breakfast & Brunch
2,Bom Dia Café & Bakery,341.915699,1205 Queen Street W,Bakeries
3,Good Fork,999.410286,1550 Dundas Street W,Breakfast & Brunch
4,The Federal,1001.126174,1438 Dundas Street W,Breakfast & Brunch

Station Name: Queen St W / Gladstone Ave lat: 43.6430555555556 long: -79.4275 Number of free bikes are: 10

,name,distance,location,POI_category
0,Drake's Corner Café + Bistro,225.630209,1150 Queen Street W,Breakfast & Brunch
1,Hello 123,326.065849,1122 Queen Street W,Breakfast & Brunch
2,LOCAL Public Eatery - Liberty Village,839.556404,171 E Liberty Street,Sports Bars
3,Bom Dia Café & Bakery,168.278716,1205 Queen Street W,Bakeries
4,Mildred's Temple Kitchen,668.227038,85 Hanna Avenue,Breakfast & Brunch

Station Name: Harbord St / Clinton St lat: 43.660414 long: -79.415646 Number of free bikes are: 9

                           name    distance            location  POI_category
0          Ninetails Coffee Bar  407.947661  651 Bloor Street W  Coffee & Tea
1  Insomnia Restaurant & Lounge  721.059715  563 Bloor Street W       Lounges
2                  Voodoo Child  895.990520  388 College Street  Coffee & Tea
3          Sam James Coffee Bar   23.024897      297 Harbord St  Coffee & Tea
4           Rustle & Still Café  500.656577  605 Bloor Street W  Coffee & Tea

Station Name: Central Tech  (Harbord St) lat: 43.661975 long: -79.407896 Number of free bikes are: 3

,name,distance,location,POI_category
0,Insomnia Restaurant & Lounge,508.829407,563 Bloor Street W,Lounges
1,Voodoo Child,578.377739,388 College Street,Coffee & Tea
2,Almond Butterfly Harbord Bakeshop & Cafe,377.256720,100 Harbord Street,Bakeries
3,Mallo,373.429170,785 Bathurst Street,Coffee & Tea
4,El Pocho Antojitos Bar,961.479327,2 Follis Avenue,Bars

Station Name: Roxton Rd / Harbord St lat: 43.65905 long: -79.422988 Number of free bikes are: 1

,name,distance,location,POI_category
0,Insomnia Restaurant & Lounge,1232.878653,563 Bloor Street W,Lounges
1,Tapi Go!,380.000916,835 Bloor Street W,Creperies
2,Sisters & Co,1276.299376,887 Dundas Street West,Breakfast & Brunch
3,Rustle & Still Café,1000.671247,605 Bloor Street W,Coffee & Tea
4,Ninetails Coffee Bar,834.204177,651 Bloor Street W,Coffee & Tea

Station Name: Ulster St / Bathurst St lat: 43.66 long: -79.4088888888889 Number of free bikes are: 1

,name,distance,location,POI_category
0,Voodoo Child,424.318077,388 College Street,Coffee & Tea
1,Insomnia Restaurant & Lounge,684.300018,563 Bloor Street W,Lounges
2,Sneaky Dee's,436.137707,431 College Street,Tex-Mex
3,Mallo,535.954496,785 Bathurst Street,Coffee & Tea
4,Free Times Cafe,536.046030,320 College Street,Breakfast & Brunch

Station Name: Mortimer Ave / Coxwell Ave lat: 43.690564 long: -79.326319 Number of free bikes are: 10

                        name     distance              location  POI_category
0           Mon K Patisserie   751.902780   1040 Coxwell Avenue  Coffee & Tea
1                Cafe Cocoro  1107.253589  1989 Danforth Avenue        Korean
2          Red Rocket Coffee   910.021892  1364 Danforth Avenue      Desserts
3      Patisserie La Cigogne   907.040503  1419 Danforth Avenue      Desserts
4  Zav Coffee Shop & Gallery  1137.998688  2048 Danforth Avenue  Coffee & Tea

Station Name: Danforth Ave / Barrington Ave lat: 43.688325 long: -79.300463 Number of free bikes are: 5

,name,distance,location,POI_category
0,Tim Hortons,24.014193,2575 Danforth Ave,Coffee & Tea
1,Pavillion Pastries Cafe,99.603142,2554 Danforth Avenue,Greek
2,"Press Books, Coffee and Vinyl",344.059648,2442 Danforth Avenue,Bookstores
3,Mr Tasty's,246.454875,2743 Danforth Avenue,Greek
4,Morning Parade Coffee Bar,1137.947976,1952 Gerrard Street E,Coffee & Tea

Station Name: Pacific Ave / Glenlake Ave lat: 43.65716 long: -79.46478 Number of free bikes are: 8

,name,distance,location,POI_category
0,Dirty Food Eatery,1100.719686,3070 Dundas Street W,Breakfast & Brunch
1,Hannah's Cafe and Bakery,353.441049,1822 Bloor Street W,Coffee & Tea
2,Delight,1050.247057,3040 Dundas Street W,Desserts
3,Cool Hand of a Girl,942.632941,2804 Dundas Street W,Breakfast & Brunch
4,Carmelitas Restaurant,993.289464,2982 Dundas Street W,Mexican

Station Name: Broadview Subway Station lat: 43.6772 long: -79.35858 Number of free bikes are: 0

                   name     distance              location  POI_category
0  Rooster Coffee House  1006.790163  479 Broadview Avenue  Coffee & Tea
1              Hanamaru  1207.437158       862 Pape Avenue       Grocery
2    Broadview Espresso   145.364827     817 Broadview Ave  Coffee & Tea
3       Si Espresso Bar   159.553658  748 Broadview Avenue  Coffee & Tea
4             Bulk Barn   244.187452   213 Danforth Avenue       Grocery

Station Name: Church St  / Wood St lat: 43.662712 long: -79.379903 Number of free bikes are: 1

                   name    distance             location        POI_category
0       Hair of the Dog   36.112864    425 Church Street                Pubs
1           The Senator  777.709268  249 Victoria Street  Breakfast & Brunch
2     Fran's Restaurant  363.216154    20 College Street              Diners
3  O'Grady's Restaurant  205.220672    518 Church Street      Canadian (New)
4    Egg Club Wellesley  368.782380     531 Yonge Street  Breakfast & Brunch

Station Name: College Park - Gerrard Entrance lat: 43.658938 long: -79.383518 Number of free bikes are: 4

                name     distance               location        POI_category
0    Hair of the Dog   546.258854      425 Church Street                Pubs
1        Pearl Diver  1134.070370  100 Adelaide Street E             Seafood
2        The Senator   508.239843    249 Victoria Street  Breakfast & Brunch
3  Fran's Restaurant   282.858628      20 College Street              Diners
4      Eggspectation   656.008217         483 Bay Street  Breakfast & Brunch

Station Name: Danforth Ave / Coxwell Ave lat: 43.683378 long: -79.322961 Number of free bikes are: 5

                      name    distance              location  POI_category
0             Mofer coffee    5.380769  1577 Danforth Avenue  Coffee & Tea
1    Patisserie La Cigogne  334.452197  1419 Danforth Avenue      Desserts
2  Sunset Grill Restaurant   30.378109     1602 Danforth Ave        Diners
3        Red Rocket Coffee  457.117923  1364 Danforth Avenue      Desserts
4              Cafe Cocoro  675.153729  1989 Danforth Avenue        Korean

Station Name: 12 Harbour St lat: 43.6425636 long: -79.3762 Number of free bikes are: 15

,name,distance,location,POI_category
0,Pearl Diver,1020.410057,100 Adelaide Street E,Seafood
1,Cafe Landwer - Adelaide & University,989.304488,165 University Avenue,Cafes
2,Evviva Breakfast & Lunch,581.320088,25 Lower Simcoe,Breakfast & Brunch
3,Impact Kitchen,299.528714,88 Queens Quay W,Coffee & Tea
4,Reign Restaurant + Bar + Bakery,565.320157,100 Front St W,Steakhouses

Station Name: Howard Park Ave / Dundas St W - SMART lat: 43.6521 long: -79.4486 Number of free bikes are: 5

                      name    distance                  location  POI_category
0                  The Ace  664.964639  231A Roncesvalles Avenue  Comfort Food
1  Reunion Coffee Roasters  246.930541   385 Roncesvalles Avenue  Coffee & Tea
2               Ruru Baked  825.105941      659 Lansdowne Avenue      Desserts
3         AM Coffee Studio  355.995106          2233 Dundas St W  Coffee & Tea
4   Ethica Coffee Roasters  444.878425         213 Sterling Road  Coffee & Tea

Station Name: Yonge St / Bloor St lat: 43.669969 long: -79.386532 Number of free bikes are: 1

,name,distance,location,POI_category
0,Cafe Landwer - Yonge & Bloor,71.077655,33 Bloor St E,Breakfast & Brunch
1,7 West Cafe,155.985621,7 Charles Street W,Italian
2,Hair of the Dog,959.805220,425 Church Street,Pubs
3,Dessert Lady Café,326.142528,1 Sultan Street,Desserts
4,Flo's Diner,392.766200,70 Yorkville Avenue,Diners

Station Name: Dufferin Gate - SMART lat: 43.633473 long: -79.425679 Number of free bikes are: 8

,name,distance,location,POI_category
0,LOCAL Public Eatery - Liberty Village,761.195441,171 E Liberty Street,Sports Bars
1,Mildred's Temple Kitchen,831.461223,85 Hanna Avenue,Breakfast & Brunch
2,OEB Breakfast Co.,928.900259,125 E Liberty Street,Breakfast & Brunch
3,School Restaurant,491.372060,70 Fraser Avenue,Bakeries
4,Bom Dia Café & Bakery,967.464917,1205 Queen Street W,Bakeries

Station Name: Lake Shore Blvd W / Ontario Dr lat: 43.630254 long: -79.420317 Number of free bikes are: 20

,name,distance,location,POI_category
0,LOCAL Public Eatery - Liberty Village,917.771826,171 E Liberty Street,Sports Bars
1,OEB Breakfast Co.,958.302225,125 E Liberty Street,Breakfast & Brunch
2,School Restaurant,898.969304,70 Fraser Avenue,Bakeries
3,Arvo Coffee,938.767457,80 Atlantic Avenue,Coffee & Tea
4,Louie Coffee Shop,1080.251785,1187 King Street W,Coffee & Tea

Station Name: Bloor St W / Shaw Ave - SMART lat: 43.662403 long: -79.423098 Number of free bikes are: 1

,name,distance,location,POI_category
0,Tapi Go!,8.470973,835 Bloor Street W,Creperies
1,El Pocho Antojitos Bar,1119.374560,2 Follis Avenue,Bars
2,Insomnia Restaurant & Lounge,1050.265877,563 Bloor Street W,Lounges
3,Filosophy Pastry and Espresso Bar,278.892551,912 Bloor Street W,Bakeries
4,Rustle & Still Café,836.759737,605 Bloor Street W,Coffee & Tea

Station Name: Concord Ave / Dewson St lat: 43.656945 long: -79.424911 Number of free bikes are: 3

                  name     distance              location        POI_category
0            Good Fork  1041.965979  1550 Dundas Street W  Breakfast & Brunch
1          The Federal   910.430422  1438 Dundas Street W  Breakfast & Brunch
2         Madras Kaapi   307.975528    870 College Street        Coffee & Tea
3  Rustle & Still Café  1269.204919    605 Bloor Street W        Coffee & Tea
4      Starving Artist   350.933992    810 College Street      Canadian (New)

Station Name: Hocken Ave / Vaughan Rd lat: 43.6817346 long: -79.4184725 Number of free bikes are: 1

,name,distance,location,POI_category
0,Emma's Country Kitchen,960.106348,810 Saint Clair Avenue W,Breakfast & Brunch
1,FET ZUN,1215.186330,252 Dupont St,Middle Eastern
2,Ferro Bar & Cafe,816.725019,769 Saint Clair Avenue W,Bars
3,CocoaLatte,528.847822,671 St. Clair Avenue W,Coffee & Tea
4,Baker and Scone,613.850201,693 St. Clair W,Breakfast & Brunch

Station Name: St Clair Ave W / Bathurst St. lat: 43.683296 long: -79.418734 Number of free bikes are: 1

,name,distance,location,POI_category
0,Emma's Country Kitchen,971.960271,810 Saint Clair Avenue W,Breakfast & Brunch
1,FET ZUN,1341.822825,252 Dupont St,Middle Eastern
2,Ferro Bar & Cafe,833.580039,769 Saint Clair Avenue W,Bars
3,CocoaLatte,538.322256,671 St. Clair Avenue W,Coffee & Tea
4,Loblaws,281.476833,396 St. Clair Avenue W,Grocery

Station Name: Queen St E / Nursewood Rd lat: 43.673831 long: -79.281455 Number of free bikes are: 18

                     name    distance             location        POI_category
0         Tori's Bakeshop  739.490108  2188 Queen Street E            Bakeries
1  Garden Gate Restaurant  496.830475  2379 Queen Street E             Chinese
2            Beacher Cafe  820.707808  2162 Queen Street E  Breakfast & Brunch
3         The Porch Light  867.096042    982 Kingston Road        Coffee & Tea
4         Remarkable Bean  462.072853  2242 Queen Street E        Coffee & Tea

Station Name: Kewbeach Ave / Kenilworth Ave lat: 43.666325 long: -79.3014 Number of free bikes are: 21

,name,distance,location,POI_category
0,Mira Mira,353.595583,1963 Queen Street E,Diners
1,Isabella's Mochi Donut Boutique,598.497924,2066 Queen St East,Japanese
2,Tori's Bakeshop,1099.809812,2188 Queen Street E,Bakeries
3,Yum Croissant,365.597132,1917 Queen Street East,Sandwiches
4,Carload On The Beach,546.480838,2038 Queen St E,Fruits & Veggies

Station Name: Dovercourt Rd / Harrison St (Green P) - SMART lat: 43.651145 long: -79.423742 Number of free bikes are: 12

           name    distance                location        POI_category
0   The Federal  541.405146    1438 Dundas Street W  Breakfast & Brunch
1     Good Fork  790.994036    1550 Dundas Street W  Breakfast & Brunch
2  Sisters & Co  965.623881  887 Dundas Street West  Breakfast & Brunch
3     Frankie's  858.091840      994 Queen Street W  Breakfast & Brunch
4     Hello 123  864.412934     1122 Queen Street W  Breakfast & Brunch

Station Name: Baldwin St / Spadina Ave - SMART lat: 43.654905 long: -79.398448 Number of free bikes are: 8

,name,distance,location,POI_category
0,The Arch Café,371.447068,293 Augusta Ave.,Breakfast & Brunch
1,Film Cafe by Eative,322.197683,230 Augusta Avenue,Breakfast & Brunch
2,Little Pebbles,144.078380,160 Baldwin Street,Desserts
3,Moon Bean Coffee Company,156.254745,30 St. Andrew Street,Coffee & Tea
4,Voodoo Child,617.229015,388 College Street,Coffee & Tea

Station Name: Frederick St / King St E lat: 43.651118 long: -79.369411 Number of free bikes are: 3

                   name    distance               location        POI_category
0           Pearl Diver  354.326367  100 Adelaide Street E             Seafood
1        NEO COFFEE BAR   55.797033   161 Frederick Street        Coffee & Tea
2     Le Petit Déjeuner   84.863740      191 King Street E  Breakfast & Brunch
3  Rooster Coffee House  324.403875      343 King Street E        Coffee & Tea
4           The Senator  927.004148    249 Victoria Street  Breakfast & Brunch

Station Name: College St / Borden St lat: 43.6571 long: -79.4056 Number of free bikes are: 1

              name    distance            location        POI_category
0     Voodoo Child    7.799635  388 College Street        Coffee & Tea
1     Sneaky Dee's  175.878646  431 College Street             Tex-Mex
2  Free Times Cafe  216.857756  320 College Street  Breakfast & Brunch
3    The Arch Café  254.452824    293 Augusta Ave.  Breakfast & Brunch
4       Ohiru Cafe   75.853342  370 College Street  Breakfast & Brunch

Station Name: Beverley  St / Dundas St W lat: 43.652823 long: -79.393388 Number of free bikes are: 24

,name,distance,location,POI_category
0,Cafe Landwer - Adelaide & University,810.916963,165 University Avenue,Cafes
1,Le Sélect Bistro,1030.003460,432 Wellington Street W,French
2,Café La Gaffe,377.562626,24 Baldwin Street,Breakfast & Brunch
3,Karine's,230.206625,109 McCaul Street,Breakfast & Brunch
4,Lait Night,252.282844,81 Huron Street,Desserts

Station Name: Bay St / St. Joseph St lat: 43.665527 long: -79.387499 Number of free bikes are: 0

,name,distance,location,POI_category
0,Hair of the Dog,697.675196,425 Church Street,Pubs
1,7 West Cafe,346.890937,7 Charles Street W,Italian
2,Egg Club Wellesley,318.065421,531 Yonge Street,Breakfast & Brunch
3,Cafe Landwer - Yonge & Bloor,501.474166,33 Bloor St E,Breakfast & Brunch
4,Egg Club,1267.340660,88 Dundas Street E,Coffee & Tea

Station Name: Gould St / Mutual St lat: 43.6582 long: -79.3768 Number of free bikes are: 18

              name    distance               location        POI_category
0      The Senator  324.617384    249 Victoria Street  Breakfast & Brunch
1  Hair of the Dog  573.647498      425 Church Street                Pubs
2      Pearl Diver  776.425111  100 Adelaide Street E             Seafood
3         Egg Club  202.296407     88 Dundas Street E        Coffee & Tea
4    Eggspectation  654.340813         483 Bay Street  Breakfast & Brunch

Station Name: Riverdale Park North (Broadview Ave) lat: 43.671172 long: -79.354704 Number of free bikes are: 9

                   name    distance              location        POI_category
0  Rooster Coffee House  270.524886  479 Broadview Avenue        Coffee & Tea
1        Lady Marmalade  922.820328  265 Broadview Avenue  Breakfast & Brunch
2               O’SOMAE  684.314025     357 Broadview Ave  Breakfast & Brunch
3         Hailed Coffee  896.307992  801 Gerrard Street E        Coffee & Tea
4   Riverdale Perk Cafe  643.079170      633 Logan Avenue               Cafes

Station Name: Danforth Ave / Ellerbeck St lat: 43.677076 long: -79.35667 Number of free bikes are: 3

,name,distance,location,POI_category
0,The Big Carrot Community Market,297.947512,348 Danforth Avenue,Health Markets
1,Rooster Coffee House,932.494857,479 Broadview Avenue,Coffee & Tea
2,Bulk Barn,94.860826,213 Danforth Avenue,Grocery
3,Hanamaru,1105.077952,862 Pape Avenue,Grocery
4,The Second Cup,302.747760,355 Danforth Avenue,Coffee & Tea

Station Name: Pape Subway Station (Green P) lat: 43.680223 long: -79.344062 Number of free bikes are: 11

                    name    distance             location        POI_category
0               Hanamaru  512.416147      862 Pape Avenue             Grocery
1      Barcelona Gourmet  198.893188  777 Danforth Avenue  Tapas/Small Plates
2         Goat Coffee Co  529.317867      893 Pape Avenue        Coffee & Tea
3    Smyrna - Laz Bakkal  288.276883      808 Pape Avenue             Grocery
4  Marvel Coffee Company  331.039348    792 Carlaw Avenue        Coffee & Tea

Station Name: Danforth Ave / Gough Ave lat: 43.678401 long: -79.346289 Number of free bikes are: 0

,name,distance,location,POI_category
0,Stacked Pancake & Breakfast House,384.955659,425 Danforth Avenue,Breakfast & Brunch
1,Hanamaru,654.139055,862 Pape Avenue,Grocery
2,Casa Manila,207.232072,508 Danforth Avenue,Filipino
3,Marvel Coffee Company,112.148442,792 Carlaw Avenue,Coffee & Tea
4,Barcelona Gourmet,358.654462,777 Danforth Avenue,Tapas/Small Plates

Station Name: Danforth Ave / Lamb Ave lat: 43.681991 long: -79.329455 Number of free bikes are: 8

                    name    distance               location  POI_category
0  Patisserie La Cigogne  210.669354   1419 Danforth Avenue      Desserts
1      Red Rocket Coffee   96.301482   1364 Danforth Avenue      Desserts
2              Starbucks  182.856729  1417 Danforth  Avenue  Coffee & Tea
3     Abugida Restaurant  150.205924   1393 Danforth Avenue     Ethiopian
4           Mofer coffee  544.753214   1577 Danforth Avenue  Coffee & Tea

Station Name: King St W / Stafford St lat: 43.6422222 long: -79.41111111111111 Number of free bikes are: 12

,name,distance,location,POI_category
0,LOCAL Public Eatery - Liberty Village,774.063889,171 E Liberty Street,Sports Bars
1,Mildred's Temple Kitchen,792.208527,85 Hanna Avenue,Breakfast & Brunch
2,1 Kitchen Toronto,740.469210,550 Wellington Street W,Cocktail Bars
3,OEB Breakfast Co.,599.610709,125 E Liberty Street,Breakfast & Brunch
4,Frankie's,639.992882,994 Queen Street W,Breakfast & Brunch

Station Name: Bathurst St / Lennox St lat: 43.663808 long: -79.410491 Number of free bikes are: 4

,name,distance,location,POI_category
0,Insomnia Restaurant & Lounge,242.918971,563 Bloor Street W,Lounges
1,Mallo,93.605837,785 Bathurst Street,Coffee & Tea
2,Ninetails Coffee Bar,386.814859,651 Bloor Street W,Coffee & Tea
3,Fuwa Fuwa Japanese Pancakes,317.845238,408 Bloor Street W,Desserts
4,Rustle & Still Café,226.098480,605 Bloor Street W,Coffee & Tea

Station Name: Bathurst Subway Station lat: 43.6666667 long: -79.41166666666668 Number of free bikes are: 2

,name,distance,location,POI_category
0,Insomnia Restaurant & Lounge,94.906444,563 Bloor Street W,Lounges
1,El Pocho Antojitos Bar,359.712145,2 Follis Avenue,Bars
2,Fuwa Fuwa Japanese Pancakes,315.073921,408 Bloor Street W,Desserts
3,Mallo,238.407811,785 Bathurst Street,Coffee & Tea
4,Ninetails Coffee Bar,409.745571,651 Bloor Street W,Coffee & Tea

Station Name: Bloor St W / Christie St lat: 43.6638889 long: -79.41888888888889 Number of free bikes are: 0

                           name    distance            location  POI_category
0          Ninetails Coffee Bar  290.552922  651 Bloor Street W  Coffee & Tea
1  Insomnia Restaurant & Lounge  674.868633  563 Bloor Street W       Lounges
2        El Pocho Antojitos Bar  775.996378     2 Follis Avenue          Bars
3          Ave Maria Latin Café  366.538315  631 Bloor Street W  Coffee & Tea
4                      Tapi Go!  369.541489  835 Bloor Street W     Creperies

Station Name: Ossington Ave / Bloor St W lat: 43.661705 long: -79.425734 Number of free bikes are: 1

,name,distance,location,POI_category
0,Tapi Go!,232.591652,835 Bloor Street W,Creperies
1,Filosophy Pastry and Espresso Bar,70.182779,912 Bloor Street W,Bakeries
2,El Pocho Antojitos Bar,1326.210158,2 Follis Avenue,Bars
3,Ninetails Coffee Bar,880.750503,651 Bloor Street W,Coffee & Tea
4,Bloorcourt Village Market,105.002872,868 Bloor St W,Grocery

Station Name: Essex St / Christie St - SMART lat: 43.6686111 long: -79.42027777777778 Number of free bikes are: 1

                           name    distance             location  POI_category
0        El Pocho Antojitos Bar  562.885701      2 Follis Avenue          Bars
1  Insomnia Restaurant & Lounge  802.098772   563 Bloor Street W       Lounges
2                  Fiesta Farms   39.062266  200 Christie Street       Grocery
3           Rustle & Still Café  733.204981   605 Bloor Street W  Coffee & Tea
4          Ninetails Coffee Bar  644.829943   651 Bloor Street W  Coffee & Tea

Station Name: Westmoreland Ave / Fernbank Ave lat: 43.665327 long: -79.43235 Number of free bikes are: 0

,name,distance,location,POI_category
0,Filosophy Pastry and Espresso Bar,598.621879,912 Bloor Street W,Bakeries
1,The Maker Bean Cafe,524.922819,1052 Bloor Street W,3D Printing
2,Ruru Baked,1149.697885,659 Lansdowne Avenue,Desserts
3,Tapi Go!,813.500927,835 Bloor Street W,Creperies
4,Fiesta Farms,1003.959632,200 Christie Street,Grocery

Station Name: Havelock St / Dufferin Park lat: 43.657343 long: -79.43112 Number of free bikes are: 0

,name,distance,location,POI_category
0,The Federal,854.069093,1438 Dundas Street W,Breakfast & Brunch
1,Good Fork,850.360935,1550 Dundas Street W,Breakfast & Brunch
2,The Maker Bean Cafe,378.951293,1052 Bloor Street W,3D Printing
3,Arabesque Middle Eastern Foods,475.707397,1068 College Street,Middle Eastern
4,Kitten and the Bear,866.620416,1414 Dundas Street W,Coffee & Tea

Station Name: Bathurst St / Adelaide St W lat: 43.645324 long: -79.40345 Number of free bikes are: 12

                 name    distance                 location   POI_category
0   1 Kitchen Toronto  270.236854  550 Wellington Street W  Cocktail Bars
1    Le Sélect Bistro  553.812918  432 Wellington Street W         French
2  Forget Me Not Cafe  217.918200    506 Adelaide Street W   Coffee & Tea
3                Cops  361.746093      445 Adelaide Street   Coffee & Tea
4  The Mission Eatery  346.651607       676 Queen Street W         French

Station Name: Mill St / Parliament St lat: 43.650256 long: -79.36163 Number of free bikes are: 8

,name,distance,location,POI_category
0,Cacao 70,80.072256,28 Gristmill Lane,Breakfast & Brunch
1,Pearl Diver,987.641798,100 Adelaide Street E,Seafood
2,Arvo Coffee,52.327404,17 Gristmill Lane,Coffee & Tea
3,White Lily Diner,1269.758053,678 Queen Street E,Breakfast & Brunch
4,Rooster Coffee House,353.961961,343 King Street E,Coffee & Tea

Station Name: Ossington Ave / Harrison St lat: 43.651111111111106 long: -79.4213888888889 Number of free bikes are: 18

           name    distance                location        POI_category
0   The Federal  723.490359    1438 Dundas Street W  Breakfast & Brunch
1  Sisters & Co  776.265725  887 Dundas Street West  Breakfast & Brunch
2     Frankie's  777.970585      994 Queen Street W  Breakfast & Brunch
3     Good Fork  977.336676    1550 Dundas Street W  Breakfast & Brunch
4     Hello 123  876.540348     1122 Queen Street W  Breakfast & Brunch

Station Name: 80 Clinton St lat: 43.656296 long: -79.414663 Number of free bikes are: 5

,name,distance,location,POI_category
0,Cafe Diplomatico Restaurant & Pizzeria,137.872106,594 College St,Italian
1,Voodoo Child,740.975755,388 College Street,Coffee & Tea
2,Sisters & Co,638.821564,887 Dundas Street West,Breakfast & Brunch
3,Sneaky Dee's,582.697027,431 College Street,Tex-Mex
4,Dolce Gelato,270.798002,697 College Street,Ice Cream & Frozen Yogurt

Station Name: Claremont St / Dundas St W lat: 43.651281 long: -79.411717 Number of free bikes are: 9

,name,distance,location,POI_category
0,Sisters & Co,36.476329,887 Dundas Street West,Breakfast & Brunch
1,Northern Belle,90.416438,913 Dundas Street W,Coffee & Tea
2,Lambo's Deli,108.462164,176 Bellwoods Avenue,Delis
3,Old School,279.074680,800 Dundas Street W,Breakfast & Brunch
4,Almond Butterfly Dundas Bistro,299.803455,792 Dundas Street W,Cocktail Bars

Station Name: Rusholme Park Cres / College St lat: 43.65277778 long: -79.42972222 Number of free bikes are: 8

,name,distance,location,POI_category
0,The Federal,344.824099,1438 Dundas Street W,Breakfast & Brunch
1,Good Fork,438.501866,1550 Dundas Street W,Breakfast & Brunch
2,Arabesque Middle Eastern Foods,102.242410,1068 College Street,Middle Eastern
3,Kitten and the Bear,347.849155,1414 Dundas Street W,Coffee & Tea
4,Frankie's,1296.633243,994 Queen Street W,Breakfast & Brunch

Station Name: College St / Crawford St lat: 43.655 long: -79.418889 Number of free bikes are: 1

,name,distance,location,POI_category
0,Cafe Diplomatico Restaurant & Pizzeria,415.850159,594 College St,Italian
1,Sisters & Co,730.059073,887 Dundas Street West,Breakfast & Brunch
2,Starving Artist,242.767290,810 College Street,Canadian (New)
3,The Federal,1082.228129,1438 Dundas Street W,Breakfast & Brunch
4,Dolce Gelato,107.684886,697 College Street,Ice Cream & Frozen Yogurt

Station Name: Gerrard Square Mall (1010 Gerrard St E) lat: 43.668553 long: -79.338673 Number of free bikes are: 6

,name,distance,location,POI_category
0,Chula Taberna Mexicana,236.179756,1058 Gerrard Street E,Mexican
1,Maple Leaf Tavern,103.181280,955 Gerrard Street E,American (Traditional)
2,Dineen Outpost,165.668174,1042 Gerrard Street E,Coffee & Tea
3,Yaya Greek Bistro,822.915229,1186 Queen Street E,Breakfast & Brunch
4,Bar Habana,131.100266,1030 Gerrard Street E,Cuban

Station Name: Queen St E / Alton Av lat: 43.663912 long: -79.327987 Number of free bikes are: 19

,name,distance,location,POI_category
0,Yaya Greek Bistro,319.563035,1186 Queen Street E,Breakfast & Brunch
1,Chula Taberna Mexicana,870.898639,1058 Gerrard Street E,Mexican
2,Maple Leaf Tavern,1058.753941,955 Gerrard Street E,American (Traditional)
3,Pasaj,657.731092,1100 Queen Street E,Bakeries
4,Lazy Daisy's Cafe,1196.818108,1515 Gerrard Street E,Cafes

Station Name: Simcoe St / Wellington St W North lat: 43.6462176 long: -79.3855048 Number of free bikes are: 9

,name,distance,location,POI_category
0,Cafe Landwer - Adelaide & University,286.797620,165 University Avenue,Cafes
1,Hey Lucy,372.521491,295 King St. W.,Pizza
2,Reign Restaurant + Bar + Bakery,302.177827,100 Front St W,Steakhouses
3,Pearl Diver,1116.090012,100 Adelaide Street E,Seafood
4,Le Sélect Bistro,948.566527,432 Wellington Street W,French

Station Name: Coxwell Ave / Plains Rd lat: 43.69595 long: -79.328535 Number of free bikes are: 11

                  name     distance             location  POI_category
0     Mon K Patisserie   130.457229  1040 Coxwell Avenue  Coffee & Tea
1            Starbucks    39.494883   978 Coxwell Avenue  Coffee & Tea
2             Momo Tea   133.996915  1040 Coxwell Avenue  Coffee & Tea
3  The Maker Bean Cafe  9236.493850  1052 Bloor Street W   3D Printing
4       East York Deli   221.335552      903 Coxwell Ave         Delis

Station Name: Carlaw Ave / Strathcona Ave lat: 43.6753188 long: -79.3462789 Number of free bikes are: 9

,name,distance,location,POI_category
0,Chula Taberna Mexicana,1072.827295,1058 Gerrard Street E,Mexican
1,Maple Leaf Tavern,955.956512,955 Gerrard Street E,American (Traditional)
2,Rooster Coffee House,860.355153,479 Broadview Avenue,Coffee & Tea
3,Hanamaru,995.627515,862 Pape Avenue,Grocery
4,Hailed Coffee,938.838597,801 Gerrard Street E,Coffee & Tea

Station Name: Logan Ave / Bain Ave lat: 43.6720273 long: -79.3470557 Number of free bikes are: 9

,name,distance,location,POI_category
0,Maple Leaf Tavern,728.109768,955 Gerrard Street E,American (Traditional)
1,Chula Taberna Mexicana,948.515412,1058 Gerrard Street E,Mexican
2,Rooster Coffee House,559.186423,479 Broadview Avenue,Coffee & Tea
3,Riverdale Perk Cafe,90.221038,633 Logan Avenue,Cafes
4,Hailed Coffee,587.469116,801 Gerrard Street E,Coffee & Tea

Station Name: Liberty St / Fraser Ave Green P lat: 43.637981 long: -79.424146 Number of free bikes are: 12

,name,distance,location,POI_category
0,School Restaurant,27.781295,70 Fraser Avenue,Bakeries
1,LOCAL Public Eatery - Liberty Village,400.704194,171 E Liberty Street,Sports Bars
2,Mildred's Temple Kitchen,368.488539,85 Hanna Avenue,Breakfast & Brunch
3,Arvo Coffee,262.438669,80 Atlantic Avenue,Coffee & Tea
4,Hello 123,602.079129,1122 Queen Street W,Breakfast & Brunch

Station Name: King St W / Douro St lat: 43.640885 long: -79.416379 Number of free bikes are: 10

,name,distance,location,POI_category
0,LOCAL Public Eatery - Liberty Village,352.371612,171 E Liberty Street,Sports Bars
1,Mildred's Temple Kitchen,343.013240,85 Hanna Avenue,Breakfast & Brunch
2,OEB Breakfast Co.,279.056579,125 E Liberty Street,Breakfast & Brunch
3,Frankie's,429.544876,994 Queen Street W,Breakfast & Brunch
4,Hello 123,634.279440,1122 Queen Street W,Breakfast & Brunch

Station Name: Queen St E / Berkeley St lat: 43.6552778 long: -79.36583333333333 Number of free bikes are: 0

,name,distance,location,POI_category
0,Pearl Diver,760.066308,100 Adelaide Street E,Seafood
1,Rooster Coffee House,389.071177,343 King Street E,Coffee & Tea
2,Figs Breakfast & Lunch,108.091783,344 Queen Street E,Breakfast & Brunch
3,Tandem Coffee,364.778255,368 King Street E,Coffee & Tea
4,Cacao 70,703.625743,28 Gristmill Lane,Breakfast & Brunch

Station Name: Howard St / Sherbourne St lat: 43.6712581 long: -79.376367 Number of free bikes are: 0

,name,distance,location,POI_category
0,Hair of the Dog,959.904421,425 Church Street,Pubs
1,Rooster Coffee House,342.213381,568 Jarvis Street,Coffee & Tea
2,7 West Cafe,870.175430,7 Charles Street W,Italian
3,Cafe Landwer - Yonge & Bloor,764.494474,33 Bloor St E,Breakfast & Brunch
4,Eggsmart,22.211961,601 Sherbourne Street,Breakfast & Brunch

Station Name: Carlton St / Parliament St lat: 43.664524 long: -79.36793 Number of free bikes are: 23

,name,distance,location,POI_category
0,DOVA,82.025677,229 Carlton Street,Italian
1,Hair of the Dog,954.398365,425 Church Street,Pubs
2,Johnny G's Restaurant,24.440639,478 Parliament Street,Breakfast & Brunch
3,Chew Chew's Diner,368.886717,186 Carlton Street,Diners
4,Staij & Co Cafe & Pastry Boutique,279.072543,552 Parliament street,Cafes

Station Name: Sumach St / Carlton St (Riverdale Farm) lat: 43.665867 long: -79.362506 Number of free bikes are: 9

                   name     distance              location        POI_category
0      White Lily Diner  1202.482841    678 Queen Street E  Breakfast & Brunch
1  Rooster Coffee House   864.326297  479 Broadview Avenue        Coffee & Tea
2        Lady Marmalade   933.160899  265 Broadview Avenue  Breakfast & Brunch
3                  DOVA   535.729746    229 Carlton Street             Italian
4               O’SOMAE   827.225632     357 Broadview Ave  Breakfast & Brunch

Station Name: King St W / Bay St (East Side) lat: 43.648575 long: -79.380042 Number of free bikes are: 8

,name,distance,location,POI_category
0,Cafe Landwer - Adelaide & University,400.108660,165 University Avenue,Cafes
1,Pearl Diver,604.610153,100 Adelaide Street E,Seafood
2,Sud Forno,279.291979,132 Yonge Street,Bakeries
3,Reign Restaurant + Bar + Bakery,363.324777,100 Front St W,Steakhouses
4,Eggspectation,531.192903,483 Bay Street,Breakfast & Brunch

Station Name: Front St W / Blue Jays Way lat: 43.643473 long: -79.390477 Number of free bikes are: 5

,name,distance,location,POI_category
0,Kost,254.978670,80 Blue Jays Way,American (Traditional)
1,Sportsnet Grill,158.100856,1 Blue Jays Way,Breakfast & Brunch
2,Hey Lucy,319.738801,295 King St. W.,Pizza
3,Le Sélect Bistro,515.243608,432 Wellington Street W,French
4,Siempre Restaurant,139.523284,348 Front Street W,Breakfast & Brunch

Station Name: Metro Hall Plaza lat: 43.645859 long: -79.38783 Number of free bikes are: 16

,name,distance,location,POI_category
0,Cafe Landwer - Adelaide & University,395.559744,165 University Avenue,Cafes
1,Hey Lucy,192.687137,295 King St. W.,Pizza
2,O&B Canteen,212.772895,330 King Street W,Comfort Food
3,Kost,372.719495,80 Blue Jays Way,American (Traditional)
4,Le Sélect Bistro,757.769918,432 Wellington Street W,French

Station Name: Parliament St / Gerrard St E lat: 43.662132 long: -79.3656796 Number of free bikes are: 13

,name,distance,location,POI_category
0,DOVA,316.093444,229 Carlton Street,Italian
1,Egg Club,1157.783971,88 Dundas Street E,Coffee & Tea
2,Congo Coffee & Toronto Beignets,83.576544,298 Gerrard Street E,Donuts
3,Chew Chew's Diner,552.514091,186 Carlton Street,Diners
4,Johnny G's Restaurant,336.685056,478 Parliament Street,Breakfast & Brunch

Station Name: Navy Wharf Crt / Bremner Blvd lat: 43.640722 long: -79.391051 Number of free bikes are: 2

,name,distance,location,POI_category
0,Sportsnet Grill,206.444287,1 Blue Jays Way,Breakfast & Brunch
1,Le Sélect Bistro,585.860107,432 Wellington Street W,French
2,Siempre Restaurant,311.271338,348 Front Street W,Breakfast & Brunch
3,Cafe Landwer - Adelaide & University,1018.645389,165 University Avenue,Cafes
4,Kost,520.156559,80 Blue Jays Way,American (Traditional)

Station Name: Jarvis St / Carlton St lat: 43.66207 long: -79.37617 Number of free bikes are: 0

                name     distance             location        POI_category
0    Hair of the Dog   292.089847    425 Church Street                Pubs
1        The Senator   738.617387  249 Victoria Street  Breakfast & Brunch
2  Chew Chew's Diner   349.937869   186 Carlton Street              Diners
3      Eggspectation  1060.070261       483 Bay Street  Breakfast & Brunch
4        Plearn Cafe   276.098261  74 Gerrard Street E        Coffee & Tea

Station Name: Lake Shore Blvd E / Knox Ave lat: 43.660206 long: -79.3244 Number of free bikes are: 9

,name,distance,location,POI_category
0,Yaya Greek Bistro,674.756862,1186 Queen Street E,Breakfast & Brunch
1,Starbucks,326.021765,4 - 23 Leslie Street,Coffee & Tea
2,Pasaj,943.711894,1100 Queen Street E,Bakeries
3,Loblaws,332.034678,17 Leslie Street,Grocery
4,Tango Palace Coffee Company,799.874945,1156 Queen Street E,Coffee & Tea

Station Name: Hubbard Blvd. / Glen Manor Dr. lat: 43.668633 long: -79.291162 Number of free bikes are: 15

,name,distance,location,POI_category
0,Beacher Cafe,375.251425,2162 Queen Street E,Breakfast & Brunch
1,Isabella's Mochi Donut Boutique,545.854531,2066 Queen St East,Japanese
2,Tori's Bakeshop,396.809815,2188 Queen Street E,Bakeries
3,Garden Gate Restaurant,528.878277,2379 Queen Street E,Chinese
4,Mira Mira,848.917031,1963 Queen Street E,Diners

Station Name: Yonge St / Dundonald St - SMART lat: 43.665801 long: -79.384796 Number of free bikes are: 3

,name,distance,location,POI_category
0,Hair of the Dog,525.252322,425 Church Street,Pubs
1,7 West Cafe,337.488368,7 Charles Street W,Italian
2,Egg Club Wellesley,194.523928,531 Yonge Street,Breakfast & Brunch
3,Cafe Landwer - Yonge & Bloor,454.306623,33 Bloor St E,Breakfast & Brunch
4,Gong Cha,51.770215,567 Yonge Street,Bubble Tea

Station Name: Bay St / Charles St W - SMART lat: 43.668153 long: -79.38891 Number of free bikes are: 0

,name,distance,location,POI_category
0,7 West Cafe,197.198414,7 Charles Street W,Italian
1,Cafe Landwer - Yonge & Bloor,321.138671,33 Bloor St E,Breakfast & Brunch
2,Starbucks,2.120307,47 Charles Street W,Coffee & Tea
3,Hair of the Dog,946.984325,425 Church Street,Pubs
4,Dessert Lady Café,126.782018,1 Sultan Street,Desserts

Station Name: Church St / Dundas St E - SMART lat: 43.657024 long: -79.377257 Number of free bikes are: 9

,name,distance,location,POI_category
0,The Senator,198.957443,249 Victoria Street,Breakfast & Brunch
1,Pearl Diver,668.144341,100 Adelaide Street E,Seafood
2,Hair of the Dog,684.869276,425 Church Street,Pubs
3,Egg Club,70.506520,88 Dundas Street E,Coffee & Tea
4,Cafe Landwer - Adelaide & University,1109.433480,165 University Avenue,Cafes

Station Name: Yonge St / Alexander St - SMART lat: 43.662862 long: -79.383572 Number of free bikes are: 0

,name,distance,location,POI_category
0,Hair of the Dog,320.219780,425 Church Street,Pubs
1,Fran's Restaurant,161.943410,20 College Street,Diners
2,Egg Club Wellesley,146.923551,531 Yonge Street,Breakfast & Brunch
3,The Senator,872.529604,249 Victoria Street,Breakfast & Brunch
4,Le Génie Bakery and Espresso,383.095884,382 Yonge St,Coffee & Tea

Station Name: Eglinton Ave W / Henning Ave SMART lat: 43.7063473 long: -79.40161 Number of free bikes are: 0

                  name    distance               location        POI_category
0         Function Bar  301.023248      2291 Yonge Street             Burgers
1  Boom Breakfast & Co  138.881682  174 Eglinton Avenue W  Breakfast & Brunch
2          Oyster Mine  631.502904      2035 Yonge Street             Seafood
3   Aroma Espresso Bar  239.769708      2300 Yonge Street        Coffee & Tea
4       Oretta Midtown  450.498682      2131 Yonge Street  Breakfast & Brunch

Station Name: Balliol St / Yonge St  SMART lat: 43.6978701 long: -79.39419 Number of free bikes are: 0

                    name    distance              location        POI_category
0          Flaming Stove  129.717572  21 Davisville Avenue      Middle Eastern
1            Oyster Mine  486.651434     2035 Yonge Street             Seafood
2        The Red Lantern  401.013467     228 Merton Street                Pubs
3         Oretta Midtown  690.886136     2131 Yonge Street  Breakfast & Brunch
4  Rachel's Coffee House  411.525371     2011 Yonge Street        Coffee & Tea

Station Name: Frobisher Ave / Lascelles Blvd lat: 43.696708 long: -79.40045 Number of free bikes are: 8

                    name    distance              location        POI_category
0          Flaming Stove  412.533479  21 Davisville Avenue      Middle Eastern
1            Oyster Mine  624.074951     2035 Yonge Street             Seafood
2         Oretta Midtown  803.925543     2131 Yonge Street  Breakfast & Brunch
3        The Red Lantern  910.213562     228 Merton Street                Pubs
4  Rachel's Coffee House  564.242316     2011 Yonge Street        Coffee & Tea

Station Name: Front St E / Scott St lat: 43.6476616 long: -79.37549 Number of free bikes are: 5

,name,distance,location,POI_category
0,Pearl Diver,456.127762,100 Adelaide Street E,Seafood
1,Fresh On Front,98.370735,47 Front Street E,Vegan
2,Cafe Landwer - Adelaide & University,775.649232,165 University Avenue,Cafes
3,Au Pain Doré,267.977136,81 Front Street E,Coffee & Tea
4,Victoria's Restaurant,198.008493,37 King Street E,Breakfast & Brunch

Station Name: Frederick St / The Esplanade lat: 43.6487245 long: -79.36839 Number of free bikes are: 19

,name,distance,location,POI_category
0,Pearl Diver,536.222569,100 Adelaide Street E,Seafood
1,Le Petit Déjeuner,263.168588,191 King Street E,Breakfast & Brunch
2,The Senator,1156.580804,249 Victoria Street,Breakfast & Brunch
3,NEO COFFEE BAR,222.942665,161 Frederick Street,Coffee & Tea
4,Rooster Coffee House,413.028190,343 King Street E,Coffee & Tea

Station Name: King St W / Bay St (West Side) lat: 43.64852 long: -79.380576 Number of free bikes are: 15

,name,distance,location,POI_category
0,Cafe Landwer - Adelaide & University,357.641989,165 University Avenue,Cafes
1,Pearl Diver,644.103949,100 Adelaide Street E,Seafood
2,Reign Restaurant + Bar + Bakery,342.480374,100 Front St W,Steakhouses
3,Sud Forno,302.920067,132 Yonge Street,Bakeries
4,Eggspectation,531.147207,483 Bay Street,Breakfast & Brunch

Station Name: Elizabeth St / Edward St (Bus Terminal) lat: 43.656026 long: -79.385327 Number of free bikes are: 10

,name,distance,location,POI_category
0,Yueh Tung Restaurant,104.953494,126 Elizabeth Street,Hakka
1,Cafe Landwer - Adelaide & University,807.061297,165 University Avenue,Cafes
2,Hair of the Dog,897.218196,425 Church Street,Pubs
3,Pearl Diver,1053.518274,100 Adelaide Street E,Seafood
4,The Senator,510.568256,249 Victoria Street,Breakfast & Brunch

Station Name: King St W / Spadina Ave lat: 43.645323 long: -79.395003 Number of free bikes are: 14

,name,distance,location,POI_category
0,Le Sélect Bistro,216.756687,432 Wellington Street W,French
1,Kost,209.731290,80 Blue Jays Way,American (Traditional)
2,Hey Lucy,407.879422,295 King St. W.,Pizza
3,Siempre Restaurant,310.870794,348 Front Street W,Breakfast & Brunch
4,Cafe Landwer - Adelaide & University,890.997548,165 University Avenue,Cafes

Station Name: Glen Edyth Dr / Davenport Rd lat: 43.677778 long: -79.405556 Number of free bikes are: 4

                     name     distance               location    POI_category
0                 FET ZUN   293.786054          252 Dupont St  Middle Eastern
1  El Pocho Antojitos Bar  1104.206450        2 Follis Avenue            Bars
2            Ezra's Pound   280.093077      238 Dupont Street    Coffee & Tea
3            Haute Coffee   329.278705      153 Dupont Street    Coffee & Tea
4  Nespresso Boutique Bar  1323.348763  159 Cumberland Street    Coffee & Tea

Station Name: Queens Quay / Yonge St lat: 43.641646 long: -79.375308 Number of free bikes are: 29

,name,distance,location,POI_category
0,Cafe Landwer - Adelaide & University,1112.154071,165 University Avenue,Cafes
1,Evviva Breakfast & Lunch,643.202679,25 Lower Simcoe,Breakfast & Brunch
2,Impact Kitchen,347.775749,88 Queens Quay W,Coffee & Tea
3,Reign Restaurant + Bar + Bakery,684.795667,100 Front St W,Steakhouses
4,Kitchen Table Grocery Stores,25.402221,10 Queens Quay W,Grocery

Station Name: Front St W / Bay St (North Side) lat: 43.646162 long: -79.378912 Number of free bikes are: 9

,name,distance,location,POI_category
0,Reign Restaurant + Bar + Bakery,245.308477,100 Front St W,Steakhouses
1,Cafe Landwer - Adelaide & University,569.852460,165 University Avenue,Cafes
2,Pearl Diver,729.932632,100 Adelaide Street E,Seafood
3,Eggspectation,812.592972,483 Bay Street,Breakfast & Brunch
4,Evviva Breakfast & Lunch,617.917320,25 Lower Simcoe,Breakfast & Brunch

Station Name: Danforth Ave / Westlake Ave lat: 43.687323 long: -79.304848 Number of free bikes are: 8

,name,distance,location,POI_category
0,Cafe Cocoro,846.141680,1989 Danforth Avenue,Korean
1,"Press Books, Coffee and Vinyl",46.813765,2442 Danforth Avenue,Bookstores
2,Sobeys,86.228208,2451 Danforth Avenue,Grocery
3,Zav Coffee Shop & Gallery,755.245040,2048 Danforth Avenue,Coffee & Tea
4,Pavillion Pastries Cafe,271.227268,2554 Danforth Avenue,Greek

Station Name: Jarvis St / Isabella St lat: 43.668991 long: -79.379385 Number of free bikes are: 1

,name,distance,location,POI_category
0,Hair of the Dog,672.288936,425 Church Street,Pubs
1,Rooster Coffee House,75.339511,568 Jarvis Street,Coffee & Tea
2,Cafe Landwer - Yonge & Bloor,513.975357,33 Bloor St E,Breakfast & Brunch
3,7 West Cafe,576.284270,7 Charles Street W,Italian
4,Church Street Espresso,205.194308,585 Church Street,Coffee & Tea

Station Name: Yonge St / Wood St lat: 43.6622222 long: -79.3825 Number of free bikes are: 0

,name,distance,location,POI_category
0,Hair of the Dog,247.342460,425 Church Street,Pubs
1,Fran's Restaurant,152.553194,20 College Street,Diners
2,The Senator,773.127022,249 Victoria Street,Breakfast & Brunch
3,Egg Club Wellesley,246.577655,531 Yonge Street,Breakfast & Brunch
4,Le Génie Bakery and Espresso,306.330817,382 Yonge St,Coffee & Tea

Station Name: King St W / Tecumseth St lat: 43.64333333333333 long: -79.40555555555557 Number of free bikes are: 7

                 name    distance                 location   POI_category
0   1 Kitchen Toronto  287.323397  550 Wellington Street W  Cocktail Bars
1    Le Sélect Bistro  703.197921  432 Wellington Street W         French
2        Simit & Chai   97.351391        787 King Street W   Coffee & Tea
3          Shy Coffee   28.455615   3-766 King Street West   Coffee & Tea
4  The Mission Eatery  397.396536       676 Queen Street W         French

Station Name: Beverley St / College St lat: 43.6575 long: -79.39527777777778 Number of free bikes are: 5

,name,distance,location,POI_category
0,Café La Gaffe,211.438377,24 Baldwin Street,Breakfast & Brunch
1,Cafe Landwer - Adelaide & University,1274.643346,165 University Avenue,Cafes
2,Voodoo Child,824.907031,388 College Street,Coffee & Tea
3,The Arch Café,604.025668,293 Augusta Ave.,Breakfast & Brunch
4,Krispy Kreme,382.509520,400 Spadina Avenue,Donuts

Station Name: Gould St / Yonge St (TMU) lat: 43.657424 long: -79.381019 Number of free bikes are: 20

              name    distance               location        POI_category
0      The Senator  247.544690    249 Victoria Street  Breakfast & Brunch
1  Hair of the Dog  624.733219      425 Church Street                Pubs
2      Pearl Diver  873.917252  100 Adelaide Street E             Seafood
3            Mazeh   21.005194       335 Yonge Street            Lebanese
4    Eggspectation  462.029170         483 Bay Street  Breakfast & Brunch

Station Name: Front St W / Bay St (South Side) lat: 43.64595 long: -79.378761 Number of free bikes are: 17

,name,distance,location,POI_category
0,Cafe Landwer - Adelaide & University,592.481208,165 University Avenue,Cafes
1,Reign Restaurant + Bar + Bakery,252.171175,100 Front St W,Steakhouses
2,Pearl Diver,742.837026,100 Adelaide Street E,Seafood
3,Evviva Breakfast & Lunch,605.971995,25 Lower Simcoe,Breakfast & Brunch
4,Eggspectation,838.359768,483 Bay Street,Breakfast & Brunch

Station Name: Charles St W / Balmuto St - SMART lat: 43.668427 long: -79.38725 Number of free bikes are: 1

,name,distance,location,POI_category
0,Cafe Landwer - Yonge & Bloor,202.035829,33 Bloor St E,Breakfast & Brunch
1,7 West Cafe,60.274262,7 Charles Street W,Italian
2,Hair of the Dog,866.414311,425 Church Street,Pubs
3,Dessert Lady Café,243.040681,1 Sultan Street,Desserts
4,Independent City Market,70.304435,55 Bloor Street W,Grocery

Station Name: Charles St E / Jarvis St - SMART lat: 43.669604 long: -79.381171 Number of free bikes are: 1

,name,distance,location,POI_category
0,Cafe Landwer - Yonge & Bloor,362.558091,33 Bloor St E,Breakfast & Brunch
1,Hair of the Dog,751.048210,425 Church Street,Pubs
2,7 West Cafe,445.883211,7 Charles Street W,Italian
3,Rooster Coffee House,101.678643,568 Jarvis Street,Coffee & Tea
4,Church Street Espresso,155.558687,585 Church Street,Coffee & Tea

Station Name: Queen St E / Pape Ave - SMART lat: 43.661673 long: -79.337789 Number of free bikes are: 10

,name,distance,location,POI_category
0,Pasaj,169.266831,1100 Queen Street E,Bakeries
1,Yaya Greek Bistro,507.317363,1186 Queen Street E,Breakfast & Brunch
2,Maple Leaf Tavern,733.912789,955 Gerrard Street E,American (Traditional)
3,Chula Taberna Mexicana,856.761691,1058 Gerrard Street E,Mexican
4,Purple Penguin Cafe,390.107619,889 Queen Street E,Coffee & Tea

Station Name: Gerrard St E / Broadview - SMART lat: 43.665656 long: -79.352055 Number of free bikes are: 13

,name,distance,location,POI_category
0,O’SOMAE,44.924462,357 Broadview Ave,Breakfast & Brunch
1,Lady Marmalade,276.439716,265 Broadview Avenue,Breakfast & Brunch
2,White Lily Diner,764.321475,678 Queen Street E,Breakfast & Brunch
3,Rooster Coffee House,395.684876,479 Broadview Avenue,Coffee & Tea
4,Maple Leaf Tavern,1022.759082,955 Gerrard Street E,American (Traditional)

Station Name: Humber Bay Shores Park East lat: 43.6308933 long: -79.4722622 Number of free bikes are: 21

,name,distance,location,POI_category
0,Lola's Gelato,667.579442,14B Brookers Lane,Coffee & Tea
1,Sunset Grill,1243.098240,2214 Lake Shore Blvd W,Breakfast & Brunch
2,Cafe Cocoa Boulangerie,522.945680,58 Marine Parade Drive,Coffee & Tea
3,Lume Kitchen and Lounge,1226.555072,72 Park Lawn Road,Lounges
4,Gravity Pizza Cafe & Starbucks,574.222007,58 Marine Parade Drive,Pizza

Station Name: Humber Bay Shores Park West lat: 43.6224434 long: -79.480284 Number of free bikes are: 28

,name,distance,location,POI_category
0,Sunset Grill,190.683216,2214 Lake Shore Blvd W,Breakfast & Brunch
1,Lola's Gelato,514.414165,14B Brookers Lane,Coffee & Tea
2,Lume Kitchen and Lounge,386.468868,72 Park Lawn Road,Lounges
3,Holo Tea & Cafe,115.576814,LS5 - 2183 Lake Shore Blvd W,Coffee & Tea
4,Metro,205.795120,2208 Lakeshore Road W,Grocery

Station Name: Taddle Creek Park lat: 43.66986 long: -79.398443 Number of free bikes are: 5

                     name    distance               location    POI_category
0         Joni Restaurant  281.831958          4 Avenue Road         Bistros
1  Nespresso Boutique Bar  404.769710  159 Cumberland Street    Coffee & Tea
2             7 West Cafe  969.257964     7 Charles Street W         Italian
3               Starbucks  210.522122         1 Bedford Road    Coffee & Tea
4                 FET ZUN  870.692876          252 Dupont St  Middle Eastern

Station Name: Thompson St / Broadview Ave - SMART lat: 43.659471 long: -79.350325 Number of free bikes are: 7

                      name    distance            location        POI_category
0         White Lily Diner  100.354219  678 Queen Street E  Breakfast & Brunch
1            Boxcar Social  273.627494    4 Boulton Avenue        Coffee & Tea
2          Bonjour Brioche  325.564044  812 Queen Street E  Breakfast & Brunch
3                 Hermie’s  106.499616  701 Queen Street E              Diners
4  Dark Horse Espresso Bar  223.723733  630 Queen Street E        Coffee & Tea

Station Name: Roncesvalles Ave / Marmaduke St lat: 43.650492 long: -79.450842 Number of free bikes are: 9

,name,distance,location,POI_category
0,The Ace,512.356072,231A Roncesvalles Avenue,Comfort Food
1,Reunion Coffee Roasters,34.873886,385 Roncesvalles Avenue,Coffee & Tea
2,Mabel's Bakery,212.069648,323 Roncesvalles Avenue,Bakeries
3,Coffee and All That Jazz,130.213728,72 Howard Park Avenue,Cafes
4,Sunrise Grill & Crepe,94.782394,417 Roncesvalles Avenue,Creperies

Station Name: Queen St W  /  Fuller Ave - SMART lat: 43.640255 long: -79.439223 Number of free bikes are: 9

,name,distance,location,POI_category
0,Garleek Kitchen,88.435454,1500 Queen Street W,Asian Fusion
1,The Ace,1011.098315,231A Roncesvalles Avenue,Comfort Food
2,Gold Standard Queen,111.202961,1574 Queen W,Sandwiches
3,Capital Espresso,377.846058,1349 Queen Street W,Coffee & Tea
4,Easy Breakfast,545.006966,1645 Queen Street W,Breakfast & Brunch

Station Name: King St W / Cowan Ave - SMART lat: 43.637922 long: -79.431734 Number of free bikes are: 7

,name,distance,location,POI_category
0,Garleek Kitchen,590.086148,1500 Queen Street W,Asian Fusion
1,Mildred's Temple Kitchen,936.660695,85 Hanna Avenue,Breakfast & Brunch
2,School Restaurant,593.081557,70 Fraser Avenue,Bakeries
3,Hello 123,899.728465,1122 Queen Street W,Breakfast & Brunch
4,Bom Dia Café & Bakery,498.596032,1205 Queen Street W,Bakeries

Station Name: Garden Ave / Roncesvalles Ave lat: 43.643769 long: -79.447915 Number of free bikes are: 14

                 name    distance                  location  POI_category
0             The Ace  271.650803  231A Roncesvalles Avenue  Comfort Food
1     Garleek Kitchen  865.997934       1500 Queen Street W  Asian Fusion
2  Cherry Bomb Coffee  262.689855       79 Roncesvalles Ave      Bakeries
3          Aris Place  262.308714   229 Roncesvalles Avenue        Diners
4     Hot Oven Bakery   96.516499   177 Roncesvalles Avenue  Coffee & Tea

Station Name: Sorauren Ave / Geoffrey St - SMART lat: 43.649172 long: -79.4445087 Number of free bikes are: 3

,name,distance,location,POI_category
0,The Ace,485.302026,231A Roncesvalles Avenue,Comfort Food
1,Garleek Kitchen,1093.865292,1500 Queen Street W,Asian Fusion
2,Good Fork,895.928872,1550 Dundas Street W,Breakfast & Brunch
3,Peter's No Frills,345.755283,222 Lansdowne Avenue,Grocery
4,Ruru Baked,1005.856843,659 Lansdowne Avenue,Desserts

Station Name: Bloor St W / Manning Ave - SMART lat: 43.663912 long: -79.416124 Number of free bikes are: 7

                           name    distance            location  POI_category
0          Ninetails Coffee Bar   69.774051  651 Bloor Street W  Coffee & Tea
1  Insomnia Restaurant & Lounge  470.730659  563 Bloor Street W       Lounges
2          Ave Maria Latin Café  148.320515  631 Bloor Street W  Coffee & Tea
3           Rustle & Still Café  251.235271  605 Bloor Street W  Coffee & Tea
4        El Pocho Antojitos Bar  672.979222     2 Follis Avenue          Bars

Station Name: Simcoe St / Wellington St W South lat: 43.6458569 long: -79.3853654 Number of free bikes are: 11

,name,distance,location,POI_category
0,Cafe Landwer - Adelaide & University,325.377024,165 University Avenue,Cafes
1,Hey Lucy,387.207065,295 King St. W.,Pizza
2,Reign Restaurant + Bar + Bakery,284.229149,100 Front St W,Steakhouses
3,Pearl Diver,1128.699555,100 Adelaide Street E,Seafood
4,Le Sélect Bistro,949.409706,432 Wellington Street W,French

Station Name: Mallon Ave / Jones Ave -SMART lat: 43.66587 long: -79.33443 Number of free bikes are: 9

,name,distance,location,POI_category
0,Chula Taberna Mexicana,394.709004,1058 Gerrard Street E,Mexican
1,Yaya Greek Bistro,376.149187,1186 Queen Street E,Breakfast & Brunch
2,Maple Leaf Tavern,498.703312,955 Gerrard Street E,American (Traditional)
3,Pasaj,424.374157,1100 Queen Street E,Bakeries
4,Tango Palace Coffee Company,366.196764,1156 Queen Street E,Coffee & Tea

Station Name: Berkeley St / Dundas St E - SMART lat: 43.658816 long: -79.367318 Number of free bikes are: 16

              name     distance               location        POI_category
0  Hair of the Dog  1089.029001      425 Church Street                Pubs
1      Pearl Diver   958.421063  100 Adelaide Street E             Seafood
2      The Senator   999.154660    249 Victoria Street  Breakfast & Brunch
3         Egg Club   881.810556     88 Dundas Street E        Coffee & Tea
4         Cacao 70  1099.725756      28 Gristmill Lane  Breakfast & Brunch

Station Name: 128 Sterling Rd - SMART lat: 43.654004 long: -79.444792 Number of free bikes are: 7

,name,distance,location,POI_category
0,Good Fork,1023.784343,1550 Dundas Street W,Breakfast & Brunch
1,The Ace,934.520066,231A Roncesvalles Avenue,Comfort Food
2,Ethica Coffee Roasters,148.357673,213 Sterling Road,Coffee & Tea
3,Ruru Baked,489.894540,659 Lansdowne Avenue,Desserts
4,Spaccio West,47.930927,128A Sterling Road,Salad

Station Name: Sunnyside Ave / The Queensway - SMART lat: 43.6397 long: -79.44865 Number of free bikes are: 17

,name,distance,location,POI_category
0,Garleek Kitchen,848.047562,1500 Queen Street W,Asian Fusion
1,Easy Breakfast,266.412229,1645 Queen Street W,Breakfast & Brunch
2,The Ace,714.228701,231A Roncesvalles Avenue,Comfort Food
3,Cherry Bomb Coffee,238.077371,79 Roncesvalles Ave,Bakeries
4,El Almacen Yerba Mate Café,256.928905,1720 Queen Street W,Coffee & Tea

Station Name: Sackville St / Eastern Ave - SMART lat: 43.653809 long: -79.3595 Number of free bikes are: 8

                   name    distance            location        POI_category
0              Cacao 70  413.080924   28 Gristmill Lane  Breakfast & Brunch
1      White Lily Diner  870.506958  678 Queen Street E  Breakfast & Brunch
2         Tandem Coffee  193.164250   368 King Street E        Coffee & Tea
3  Rooster Coffee House  531.498641   343 King Street E        Coffee & Tea
4           Arvo Coffee  454.934728   17 Gristmill Lane        Coffee & Tea

Station Name: Davenport Rd / McAlpine St - SMART lat: 43.673768 long: -79.391253 Number of free bikes are: 6

,name,distance,location,POI_category
0,Flo's Diner,243.826735,70 Yorkville Avenue,Diners
1,Coffee Lunar,178.538795,920 Yonge Street,Coffee & Tea
2,7 West Cafe,692.185040,7 Charles Street W,Italian
3,Cafe Landwer - Yonge & Bloor,626.754766,33 Bloor St E,Breakfast & Brunch
4,Zaza Espresso Bar,313.268782,75 Yorkville Avenue,Coffee & Tea

Station Name: Sumach St  / Queen St E lat: 43.656638 long: -79.358749 Number of free bikes are: 1

                   name    distance            location        POI_category
0      White Lily Diner  655.352241  678 Queen Street E  Breakfast & Brunch
1              Cacao 70  733.296093   28 Gristmill Lane  Breakfast & Brunch
2         Tandem Coffee  416.942836   368 King Street E        Coffee & Tea
3  Rooster Coffee House  764.644689   343 King Street E        Coffee & Tea
4           Arvo Coffee  774.016703   17 Gristmill Lane        Coffee & Tea

Station Name: Blythwood Rd / Yonge St - SMART lat: 43.716652 long: -79.399993 Number of free bikes are: 4

,name,distance,location,POI_category
0,SAVA Crepes & Coffee,58.983899,2674 Yonge Street,Creperies
1,De Mello Coffee,537.460344,2489 Yonge Street,Coffee & Tea
2,Himalayan Coffee House,363.573147,2552 Yonge Street,Coffee & Tea
3,The Social Blend,1041.396559,130 Eglinton Avenue E,Coffee & Tea
4,Istanbul Cafe & Espresso Bar,1114.280918,174 Eglinton Avenue E,Coffee & Tea

Station Name: Gerrard St E / Main St lat: 43.684261 long: -79.299332 Number of free bikes are: 2

,name,distance,location,POI_category
0,Might & Main,140.577264,126 Main Street,Coffee & Tea
1,Morning Parade Coffee Bar,963.723400,1952 Gerrard Street E,Coffee & Tea
2,Halibut House Fish and Chips,922.567270,3003 Danforth Avenue,Fish & Chips
3,"Press Books, Coffee and Vinyl",575.834175,2442 Danforth Avenue,Bookstores
4,Pavillion Pastries Cafe,473.305584,2554 Danforth Avenue,Greek

Station Name: Southwood Dr / Kingston Rd - SMART lat: 43.678685 long: -79.297974 Number of free bikes are: 0

,name,distance,location,POI_category
0,Isabella's Mochi Donut Boutique,879.230561,2066 Queen St East,Japanese
1,Tim Hortons,7.846080,637 Kingston Rd,Coffee & Tea
2,The Big Carrot,27.361054,125 Southwood Drive,Grocery
3,Tori's Bakeshop,950.392558,2188 Queen Street E,Bakeries
4,The Porch Light,946.082868,982 Kingston Road,Coffee & Tea

Station Name: Neil McLellan Park lat: 43.65143 long: -79.47779 Number of free bikes are: 11

,name,distance,location,POI_category
0,The Coffee Boutique,142.917675,2285 Booor Street W,Cafes
1,Zaza Espresso Bar,32.896996,256 Beresford Avenue,Coffee & Tea
2,HotBlack Coffee,190.102530,2196 Bloor St W,Coffee & Tea
3,Bread & Roses Bakery Cafe,81.118440,2232 Bloor Street W,Bakeries
4,Fresh & Wild,123.628134,2294 Bloor St W,Fruits & Veggies

Station Name: Jane St / Bloor St W (Jane Subway Station) lat: 43.64976 long: -79.48477 Number of free bikes are: 10

                  name    distance                location  POI_category
0  The Coffee Boutique  481.154534     2285 Booor Street W         Cafes
1  Golden Gecko Coffee  721.150846         282 Jane Street  Coffee & Tea
2   Janchenko's Bakery  165.572257  2394 Bloor Street West      Desserts
3              Say Tea  265.231135         2362 Bloor St W  Coffee & Tea
4    Zaza Espresso Bar  570.443780    256 Beresford Avenue  Coffee & Tea

Station Name: Antler St / Campbell Ave - SMART lat: 43.664182 long: -79.449066 Number of free bikes are: 7

,name,distance,location,POI_category
0,Ruru Baked,853.022069,659 Lansdowne Avenue,Desserts
1,Wallace Espresso,435.474369,188 Wallace Avenue,Coffee & Tea
2,Propeller Coffee,627.843922,50 Wade Avenue,Coffee & Tea
3,Nuthouse,898.708134,1256 Bloor St,Health Markets
4,Cafe Con Leche Espresso Bar,343.121152,1571 Dupont Street,Coffee & Tea

Station Name: Clarence Square lat: 43.64407 long: -79.3929 Number of free bikes are: 12

,name,distance,location,POI_category
0,Le Sélect Bistro,318.548750,432 Wellington Street W,French
1,Kost,142.362180,80 Blue Jays Way,American (Traditional)
2,Hey Lucy,336.448037,295 King St. W.,Pizza
3,Sportsnet Grill,339.474433,1 Blue Jays Way,Breakfast & Brunch
4,Siempre Restaurant,93.633399,348 Front Street W,Breakfast & Brunch

Station Name: Lake Shore Blvd W / Louisa St lat: 43.61868 long: -79.48674 Number of free bikes are: 12

,name,distance,location,POI_category
0,Birds And Beans Cafe,547.393983,2413 Lake Shore Boulevard W,Coffee & Tea
1,Sunset Grill,547.965619,2214 Lake Shore Blvd W,Breakfast & Brunch
2,Lola's Gelato,1130.413936,14B Brookers Lane,Coffee & Tea
3,Rabba Fine Foods Stores,158.036950,2275 Lake Shore Boulevard W,Grocery
4,Lume Kitchen and Lounge,644.887706,72 Park Lawn Road,Lounges

Station Name: Front St W / Simcoe St lat: 43.6442 long: -79.38702 Number of free bikes are: 12

,name,distance,location,POI_category
0,Sportsnet Grill,299.128701,1 Blue Jays Way,Breakfast & Brunch
1,Cafe Landwer - Adelaide & University,533.508655,165 University Avenue,Cafes
2,Hey Lucy,345.227243,295 King St. W.,Pizza
3,Le Sélect Bistro,791.835544,432 Wellington Street W,French
4,Kost,449.511545,80 Blue Jays Way,American (Traditional)

Station Name: Lower Simcoe St / Bremner Blvd lat: 43.64283 long: -79.38409 Number of free bikes are: 14

,name,distance,location,POI_category
0,Evviva Breakfast & Lunch,150.585492,25 Lower Simcoe,Breakfast & Brunch
1,Cafe Landwer - Adelaide & University,664.785983,165 University Avenue,Cafes
2,Reign Restaurant + Bar + Bakery,355.001942,100 Front St W,Steakhouses
3,Pearl Diver,1278.281562,100 Adelaide Street E,Seafood
4,Sportsnet Grill,443.783394,1 Blue Jays Way,Breakfast & Brunch

Station Name: Glendonwynne Rd / Bloor St W lat: 43.65182 long: -79.47421 Number of free bikes are: 9

                        name    distance              location  POI_category
0        The Coffee Boutique  405.691119   2285 Booor Street W         Cafes
1            HotBlack Coffee  104.937070       2196 Bloor St W  Coffee & Tea
2          Zaza Espresso Bar  309.635207  256 Beresford Avenue  Coffee & Tea
3  Bread & Roses Bakery Cafe  220.948798   2232 Bloor Street W      Bakeries
4                  Starbucks  146.658406   2210 Bloor Street W  Coffee & Tea

Station Name: Russell Hill Rd / St Clair Ave W lat: 43.685569 long: -79.408019 Number of free bikes are: 6

,name,distance,location,POI_category
0,Loblaws,617.317529,396 St. Clair Avenue W,Grocery
1,Aroma Espresso Bar,458.379257,383 Spadina Road,Coffee & Tea
2,Second Cup,512.730753,415 Spadina Road,Coffee & Tea
3,Tim Hortons,1034.697702,603 Davenport Rd,Bakeries
4,Kitchen Table Grocery Store,470.687411,389 Spadina Rd,Grocery

Station Name: Church St / Lombard St lat: 43.651678 long: -79.375233 Number of free bikes are: 10

,name,distance,location,POI_category
0,Pearl Diver,118.280207,100 Adelaide Street E,Seafood
1,Sud Forno,298.081160,132 Yonge Street,Bakeries
2,Cafe Landwer - Adelaide & University,850.233039,165 University Avenue,Cafes
3,Versus Coffee,54.450547,70 Adelaide Street E,Coffee & Tea
4,The Senator,544.404684,249 Victoria Street,Breakfast & Brunch

Station Name: Richmond St E / Yonge St lat: 43.651838 long: -79.378743 Number of free bikes are: 4

,name,distance,location,POI_category
0,Pearl Diver,401.175151,100 Adelaide Street E,Seafood
1,Eggspectation,256.836388,483 Bay Street,Breakfast & Brunch
2,Sud Forno,102.540097,132 Yonge Street,Bakeries
3,Cafe Landwer - Adelaide & University,608.513461,165 University Avenue,Cafes
4,The Senator,435.344395,249 Victoria Street,Breakfast & Brunch

Station Name: High Park Amphitheatre lat: 43.645653 long: -79.464366 Number of free bikes are: 18

,name,distance,location,POI_category
0,Grenadier Cafe,86.385308,200 Parkside Dr,Breakfast & Brunch
1,Hannah's Cafe and Bakery,972.909116,1822 Bloor Street W,Coffee & Tea
2,HotBlack Coffee,1101.117785,2196 Bloor St W,Coffee & Tea
3,AM Coffee Studio,1366.846885,2233 Dundas St W,Coffee & Tea
4,Lunch Box,1071.345352,1731 Bloor Street W,Breakfast & Brunch

Station Name: Queen's Park Cres W / Hoskin Ave lat: 43.665221 long: -79.394009 Number of free bikes are: 0

,name,distance,location,POI_category
0,Gallery Grill,136.669509,7 Hart House Circle,Canadian (New)
1,Voodoo Child,1295.610268,388 College Street,Coffee & Tea
2,7 West Cafe,707.572097,7 Charles Street W,Italian
3,The Arch Café,1205.547871,293 Augusta Ave.,Breakfast & Brunch
4,Almond Butterfly Harbord Bakeshop & Cafe,796.858801,100 Harbord Street,Bakeries

Station Name: Pottery Rd / Lower Don River Trail lat: 43.688148 long: -79.362101 Number of free bikes are: 12

               name     distance               location  POI_category
0            Sobeys   600.077816  1015 Broadview Avenue       Grocery
1  Supernova Coffee   888.245256   897 Broadview Avenue  Coffee & Tea
2           Loblaws  1149.367643       301 Moore Avenue       Grocery

Station Name: Bleecker St / St James Ave lat: 43.669232 long: -79.374495 Number of free bikes are: 5

,name,distance,location,POI_category
0,Hair of the Dog,810.292014,425 Church Street,Pubs
1,7 West Cafe,970.483834,7 Charles Street W,Italian
2,Rooster Coffee House,436.897723,568 Jarvis Street,Coffee & Tea
3,Cafe Landwer - Yonge & Bloor,901.104798,33 Bloor St E,Breakfast & Brunch
4,Egg Club Wellesley,954.129980,531 Yonge Street,Breakfast & Brunch

Station Name: Western Battery Rd / Pirandello St lat: 43.640075 long: -79.414156 Number of free bikes are: 4

,name,distance,location,POI_category
0,LOCAL Public Eatery - Liberty Village,444.369176,171 E Liberty Street,Sports Bars
1,OEB Breakfast Co.,257.688953,125 E Liberty Street,Breakfast & Brunch
2,Mildred's Temple Kitchen,504.680202,85 Hanna Avenue,Breakfast & Brunch
3,Frankie's,596.223404,994 Queen Street W,Breakfast & Brunch
4,1 Kitchen Toronto,1035.946694,550 Wellington Street W,Cocktail Bars

Station Name: Carlaw Ave / Danforth Ave lat: 43.678285 long: -79.347346 Number of free bikes are: 2

,name,distance,location,POI_category
0,Chula Taberna Mexicana,1361.987824,1058 Gerrard Street E,Mexican
1,Stacked Pancake & Breakfast House,299.614487,425 Danforth Avenue,Breakfast & Brunch
2,Casa Manila,123.032386,508 Danforth Avenue,Filipino
3,Hanamaru,663.445627,862 Pape Avenue,Grocery
4,Marvel Coffee Company,52.653685,792 Carlaw Avenue,Coffee & Tea

Station Name: Cosburn Ave / Cedarvale Ave lat: 43.697139 long: -79.31469 Number of free bikes are: 10

,name,distance,location,POI_category
0,Rise & Dine Eatery,988.968990,2714 St. Clair Avenue E,Breakfast & Brunch
1,The Maker Bean Cafe,10306.340379,1052 Bloor Street W,3D Printing
2,Tienda Movil,454.666204,1237 Woodbine Avenue,Grocery
3,Noah's Natural Foods,7876.726038,322 Bloor St W,Shopping
4,Fresh Choice Store,1023.752344,809 O'Connor Drive,Grocery

Station Name: Goodwood Park Crt / Dentonia Park lat: 43.694826 long: -79.295208 Number of free bikes are: 2

,name,distance,location,POI_category
0,Halibut House Fish and Chips,679.873165,3003 Danforth Avenue,Fish & Chips
1,"Press Books, Coffee and Vinyl",1096.177159,2442 Danforth Avenue,Bookstores
2,Bulk Barn,605.985290,Shoppers World Danforth,Discount Store
3,McDonald's,1063.510112,2480 Gerrard Street East,Fast Food
4,Mr Tasty's,700.901085,2743 Danforth Avenue,Greek

Station Name: Eastwood Rd / Coxwell Ave lat: 43.673118 long: -79.318651 Number of free bikes are: 14

,name,distance,location,POI_category
0,Lazy Daisy's Cafe,76.820263,1515 Gerrard Street E,Cafes
1,Mattachioni,107.222306,1501 Gerrard St E,Grocery
2,Classic Juice,104.492632,287 Coxwell Avenue,Juice Bars & Smoothies
3,New Town Family Restaurant,103.400169,266 Coxwell Ave,Diners
4,BJ Supermarket,246.195799,1449 Gerrard Street E,Grocery

Station Name: Trent Ave / Danforth Ave lat: 43.689293 long: -79.295895 Number of free bikes are: 2

,name,distance,location,POI_category
0,Halibut House Fish and Chips,424.470346,3003 Danforth Avenue,Fish & Chips
1,The Porch Light,1215.346423,982 Kingston Road,Coffee & Tea
2,Mr Tasty's,139.638975,2743 Danforth Avenue,Greek
3,Simms Restaurant & Lounge,117.646707,2754 Danforth Avenue,Caribbean
4,Bulk Barn,362.041370,Shoppers World Danforth,Discount Store

Station Name: Orchard Park lat: 43.66908 long: -79.3149 Number of free bikes are: 17

,name,distance,location,POI_category
0,Lazy Daisy's Cafe,544.214034,1515 Gerrard Street E,Cafes
1,Simple Coffee,258.197772,1636 Queen Street E,Cafes
2,McDonald's,546.362245,29-31 Woodward Avenue,Fast Food
3,Classic Juice,645.437042,287 Coxwell Avenue,Juice Bars & Smoothies
4,Mattachioni,554.018635,1501 Gerrard St E,Grocery

Station Name: Clendenan Ave / Rowland St - SMART lat: 43.66073 long: -79.47149 Number of free bikes are: 1

,name,distance,location,POI_category
0,Dirty Food Eatery,543.759358,3070 Dundas Street W,Breakfast & Brunch
1,The Good Neighbour Espresso Bar,217.366130,238 Annette Street,Coffee & Tea
2,Delight,545.066484,3040 Dundas Street W,Desserts
3,The Sweet Potato,728.683003,108 Vine Avenue,Grocery
4,Carmelitas Restaurant,576.733117,2982 Dundas Street W,Mexican

Station Name: Martin Goodman Trail / Remembrance Dr lat: 43.63121 long: -79.41414 Number of free bikes are: 13

,name,distance,location,POI_category
0,LOCAL Public Eatery - Liberty Village,904.512951,171 E Liberty Street,Sports Bars
1,Mildred's Temple Kitchen,1091.672148,85 Hanna Avenue,Breakfast & Brunch
2,OEB Breakfast Co.,816.093014,125 E Liberty Street,Breakfast & Brunch
3,School Restaurant,1101.111342,70 Fraser Avenue,Bakeries
4,Arvo Coffee,998.824584,80 Atlantic Avenue,Coffee & Tea

Station Name: Concord Ave / Bloor St W lat: 43.66189 long: -79.42679 Number of free bikes are: 2

,name,distance,location,POI_category
0,Filosophy Pastry and Espresso Bar,24.378941,912 Bloor Street W,Bakeries
1,Tapi Go!,308.300239,835 Bloor Street W,Creperies
2,Ninetails Coffee Bar,956.716219,651 Bloor Street W,Coffee & Tea
3,Ave Maria Latin Café,1035.011750,631 Bloor Street W,Coffee & Tea
4,Bloorcourt Village Market,162.717172,868 Bloor St W,Grocery

Station Name: Gothic Ave / Quebec Ave lat: 43.65389 long: -79.4675 Number of free bikes are: 3

                       name    distance              location  POI_category
0  Hannah's Cafe and Bakery  382.342128   1822 Bloor Street W  Coffee & Tea
1       The Coffee Boutique  992.553243   2285 Booor Street W         Cafes
2             Garden's Food   77.208336   1964 Bloor Street W       Grocery
3         Zaza Espresso Bar  893.817309  256 Beresford Avenue  Coffee & Tea
4           HotBlack Coffee  691.736987       2196 Bloor St W  Coffee & Tea

Station Name: Via Italia / Mackay Ave lat: 43.676697 long: -79.445029 Number of free bikes are: 1

,name,distance,location,POI_category
0,Sunnyside Grill,126.670584,1218 Saint Clair Avenue W,Breakfast & Brunch
1,Lox + Schmear,609.452320,1030 St Clair W,Bagels
2,Mofer Coffee,553.825314,1040 St Clair Avenue W,Coffee & Tea Supplies
3,Centro Trattoria & Formaggio,124.889060,1224 St. Clair Avenue W,Cheese Shops
4,McDonald's,201.173180,1168 St Clair Avenue West,Fast Food

Station Name: Rushton Rd / St Clair Ave W lat: 43.68114 long: -79.4277 Number of free bikes are: 0

,name,distance,location,POI_category
0,Ferro Bar & Cafe,73.782066,769 Saint Clair Avenue W,Bars
1,Emma's Country Kitchen,215.266223,810 Saint Clair Avenue W,Breakfast & Brunch
2,CocoaLatte,221.762765,671 St. Clair Avenue W,Coffee & Tea
3,Baker and Scone,134.095057,693 St. Clair W,Breakfast & Brunch
4,Mabel's Bakery,40.382685,746 St Clair Avenue W,Coffee & Tea

Station Name: Dundas St E / Boulton Ave - SMART lat: 43.663148 long: -79.347938 Number of free bikes are: 10

                name    distance              location            POI_category
0   White Lily Diner  548.065307    678 Queen Street E      Breakfast & Brunch
1     Lady Marmalade  287.030668  265 Broadview Avenue      Breakfast & Brunch
2            O’SOMAE  420.297065     357 Broadview Ave      Breakfast & Brunch
3    Bonjour Brioche  391.965346    812 Queen Street E      Breakfast & Brunch
4  Maple Leaf Tavern  856.112665  955 Gerrard Street E  American (Traditional)

Station Name: Gerrard St E / Leslie St lat: 43.669813 long: -79.3335 Number of free bikes are: 19

,name,distance,location,POI_category
0,Chula Taberna Mexicana,202.888891,1058 Gerrard Street E,Mexican
1,Maple Leaf Tavern,540.976898,955 Gerrard Street E,American (Traditional)
2,Yaya Greek Bistro,761.397157,1186 Queen Street E,Breakfast & Brunch
3,Dineen Outpost,273.560684,1042 Gerrard Street E,Coffee & Tea
4,Hailed Coffee,998.469904,801 Gerrard Street E,Coffee & Tea

Station Name: Marilyn Bell Park Tennis Court lat: 43.633537 long: -79.437461 Number of free bikes are: 25

                    name     distance             location        POI_category
0        Garleek Kitchen   773.127947  1500 Queen Street W        Asian Fusion
1  Bom Dia Café & Bakery  1159.489935  1205 Queen Street W            Bakeries
2      Louie Coffee Shop  1147.123759   1187 King Street W        Coffee & Tea
3         Easy Breakfast   873.360141  1645 Queen Street W  Breakfast & Brunch
4       Capital Espresso   840.003544  1349 Queen Street W        Coffee & Tea

Station Name: The Queensway at South Kingsway lat: 43.63632 long: -79.47307 Number of free bikes are: 21

                     name     distance                location  POI_category
0  Cafe Cocoa Boulangerie  1013.102818  58 Marine Parade Drive  Coffee & Tea
1                  Sobeys   941.069823       125 The Queensway       Grocery
2          Sunshine Foods   242.446658       12 Windermere Ave       Grocery

Station Name: Merton St / Mount Pleasant Rd lat: 43.697819 long: -79.38786 Number of free bikes are: 0

              name     distance              location        POI_category
0  The Red Lantern   109.475555     228 Merton Street                Pubs
1    Flaming Stove   635.072871  21 Davisville Avenue      Middle Eastern
2      Oyster Mine   855.460106     2035 Yonge Street             Seafood
3   Oretta Midtown  1006.218921     2131 Yonge Street  Breakfast & Brunch
4         Sophie's  1363.142121   1614 Bayview Avenue  Breakfast & Brunch

Station Name: Tyndall Ave / King St W - SMART lat: 43.638426 long: -79.429142 Number of free bikes are: 0

,name,distance,location,POI_category
0,LOCAL Public Eatery - Liberty Village,799.068443,171 E Liberty Street,Sports Bars
1,School Restaurant,390.786392,70 Fraser Avenue,Bakeries
2,Mildred's Temple Kitchen,720.758434,85 Hanna Avenue,Breakfast & Brunch
3,Bom Dia Café & Bakery,384.349202,1205 Queen Street W,Bakeries
4,Garleek Kitchen,760.904334,1500 Queen Street W,Asian Fusion

Station Name: College Park - Yonge St Entrance lat: 43.65988 long: -79.38279 Number of free bikes are: 3

,name,distance,location,POI_category
0,Hair of the Dog,427.123343,425 Church Street,Pubs
1,Fran's Restaurant,202.645556,20 College Street,Diners
2,Pearl Diver,1174.851129,100 Adelaide Street E,Seafood
3,Le Génie Bakery and Espresso,45.692236,382 Yonge St,Coffee & Tea
4,The Senator,551.675856,249 Victoria Street,Breakfast & Brunch

Station Name: Barton Ave / Howland Ave - SMART lat: 43.66842 long: -79.410585 Number of free bikes are: 0

,name,distance,location,POI_category
0,Insomnia Restaurant & Lounge,275.487363,563 Bloor Street W,Lounges
1,El Pocho Antojitos Bar,265.778133,2 Follis Avenue,Bars
2,Fuwa Fuwa Japanese Pancakes,350.453263,408 Bloor Street W,Desserts
3,The Grapefruit Moon,254.443893,968 Bathurst Street,Breakfast & Brunch
4,Mallo,421.529213,785 Bathurst Street,Coffee & Tea

Station Name: Keele St / Annette St lat: 43.66402 long: -79.46418 Number of free bikes are: 3

                    name    distance              location        POI_category
0      Dirty Food Eatery  646.115161  3070 Dundas Street W  Breakfast & Brunch
1    Cool Hand of a Girl  196.773957  2804 Dundas Street W  Breakfast & Brunch
2  Carmelitas Restaurant  419.122593  2982 Dundas Street W             Mexican
3       The Sweet Potato  477.090433       108 Vine Avenue             Grocery
4                Delight  549.519547  3040 Dundas Street W            Desserts

Station Name: Keele St / Vine Ave lat: 43.66686 long: -79.46526 Number of free bikes are: 4

                    name    distance              location        POI_category
0      Dirty Food Eatery  552.291888  3070 Dundas Street W  Breakfast & Brunch
1       The Sweet Potato  264.154733       108 Vine Avenue             Grocery
2    Cool Hand of a Girl  240.928610  2804 Dundas Street W  Breakfast & Brunch
3  Carmelitas Restaurant  327.799188  2982 Dundas Street W             Mexican
4         Organic Garage  175.269862      43 Junction Road      Organic Stores

Station Name: Howard St / Rose Ave lat: 43.671278 long: -79.372127 Number of free bikes are: 0

,name,distance,location,POI_category
0,Hair of the Dog,1103.993140,425 Church Street,Pubs
1,Egg Club Wellesley,1244.415067,531 Yonge Street,Breakfast & Brunch
2,Rooster Coffee House,654.632131,568 Jarvis Street,Coffee & Tea
3,Staij & Co Cafe & Pastry Boutique,544.481854,552 Parliament street,Cafes
4,Chew Chew's Diner,866.180933,186 Carlton Street,Diners

Station Name: Little Norway Park lat: 43.635023 long: -79.399505 Number of free bikes are: 14

,name,distance,location,POI_category
0,Le Sélect Bistro,1010.500718,432 Wellington Street W,French
1,1 Kitchen Toronto,923.839370,550 Wellington Street W,Cocktail Bars
2,Sportsnet Grill,1133.087513,1 Blue Jays Way,Breakfast & Brunch
3,Touti Gelati and Cafe,351.267766,550 Queens Quay W,Desserts
4,Siempre Restaurant,1100.511975,348 Front Street W,Breakfast & Brunch

Station Name: Isabella St / Church St lat: 43.66834 long: -79.38235 Number of free bikes are: 9

,name,distance,location,POI_category
0,Cafe Landwer - Yonge & Bloor,314.515812,33 Bloor St E,Breakfast & Brunch
1,Hair of the Dog,639.386600,425 Church Street,Pubs
2,7 West Cafe,336.806350,7 Charles Street W,Italian
3,Rooster Coffee House,238.193531,568 Jarvis Street,Coffee & Tea
4,Egg Club Wellesley,486.552987,531 Yonge Street,Breakfast & Brunch

Station Name: University Ave / Armoury St lat: 43.65263 long: -79.38766 Number of free bikes are: 2

,name,distance,location,POI_category
0,Cafe Landwer - Adelaide & University,479.184264,165 University Avenue,Cafes
1,Yueh Tung Restaurant,338.447263,126 Elizabeth Street,Hakka
2,Le Sélect Bistro,1219.891646,432 Wellington Street W,French
3,Eggspectation,520.982923,483 Bay Street,Breakfast & Brunch
4,The Senator,778.828366,249 Victoria Street,Breakfast & Brunch

Station Name: Lascelles Blvd / Eglinton Ave W lat: 43.70547 long: -79.40355 Number of free bikes are: 2

,name,distance,location,POI_category
0,Boom Breakfast & Co,58.702435,174 Eglinton Avenue W,Breakfast & Brunch
1,Oyster Mine,669.264876,2035 Yonge Street,Seafood
2,Flaming Stove,1024.627179,21 Davisville Avenue,Middle Eastern
3,Oretta Midtown,530.133973,2131 Yonge Street,Breakfast & Brunch
4,Crosstown Coffee Bar,302.890535,187 Highbourne Road,Coffee & Tea

Station Name: Polson Pier lat: 43.641675 long: -79.354006 Number of free bikes are: 18

,name,distance,location,POI_category
0,Cacao 70,1086.581741,28 Gristmill Lane,Breakfast & Brunch
1,Arvo Coffee,1082.723680,17 Gristmill Lane,Coffee & Tea
2,Balzac's Coffee Roasters,988.559737,1 Trinity Street,Coffee & Tea
3,The Sweet Escape Patisserie,1068.574574,24 Tankhouse Lane,Bakeries
4,Palgong Tea,1126.761733,15 Mill St,Bubble Tea

Station Name: Dentonia Park lat: 43.694341 long: -79.291416 Number of free bikes are: 10

,name,distance,location,POI_category
0,Quarry Cafe,1115.974279,2560 Gerrard Street E,Coffee & Tea
1,Halibut House Fish and Chips,522.070298,3003 Danforth Avenue,Fish & Chips
2,Bulk Barn,474.768564,Shoppers World Danforth,Discount Store
3,McDonald's,846.904802,2480 Gerrard Street East,Fast Food
4,Metro,555.486040,3003 Danforth Avenue,Grocery

Station Name: Lower Jarvis / Queens Quay E lat: 43.64422 long: -79.36927 Number of free bikes are: 12

             name    distance                 location        POI_category
0     Pearl Diver  893.946477    100 Adelaide Street E             Seafood
1         Loblaws   24.985744   10 Lower Jarvis Street             Grocery
2       Starbucks    7.103913  10 Lower Jarvis  Street        Coffee & Tea
3  Fresh On Front  562.567123        47 Front Street E               Vegan
4        Cacao 70  960.424371        28 Gristmill Lane  Breakfast & Brunch

Station Name: Summerhill Ave / Maclennan Ave lat: 43.685924 long: -79.376304 Number of free bikes are: 0

                name   distance               location POI_category
0  Summerhill Market  99.279972  446 Summerhill Avenue      Grocery
1  Rosedale's Finest  25.989823  408 Summerhill Avenue      Grocery

Station Name: Queens Quay E / Lower Sherbourne St lat: 43.645215 long: -79.364898 Number of free bikes are: 4

,name,distance,location,POI_category
0,Pearl Diver,1004.496911,100 Adelaide Street E,Seafood
1,Cacao 70,650.404234,28 Gristmill Lane,Breakfast & Brunch
2,Arvo Coffee,600.685054,17 Gristmill Lane,Coffee & Tea
3,Rooster Coffee House,732.393955,343 King Street E,Coffee & Tea
4,Fresh On Front,805.484135,47 Front Street E,Vegan

Station Name: Wright Ave / Sorauren Ave - SMART lat: 43.646677 long: -79.442741 Number of free bikes are: 16

,name,distance,location,POI_category
0,The Ace,493.245907,231A Roncesvalles Avenue,Comfort Food
1,Garleek Kitchen,782.130918,1500 Queen Street W,Asian Fusion
2,Good Fork,830.426806,1550 Dundas Street W,Breakfast & Brunch
3,Peter's No Frills,400.751715,222 Lansdowne Avenue,Grocery
4,Arabesque Middle Eastern Foods,1186.651071,1068 College Street,Middle Eastern

Station Name: Ellis Ave / The Queensway lat: 43.63855 long: -79.46693 Number of free bikes are: 18

             name    distance           location        POI_category
0  Grenadier Cafe  771.014905    200 Parkside Dr  Breakfast & Brunch
1  Sunshine Foods  312.692666  12 Windermere Ave             Grocery

Station Name: High Park - Grenadier Cafe lat: 43.645599 long: -79.4657123 Number of free bikes are: 11

,name,distance,location,POI_category
0,Grenadier Cafe,35.424290,200 Parkside Dr,Breakfast & Brunch
1,Hannah's Cafe and Bakery,998.719747,1822 Bloor Street W,Coffee & Tea
2,Zaza Espresso Bar,1162.386318,256 Beresford Avenue,Coffee & Tea
3,HotBlack Coffee,1019.406066,2196 Bloor St W,Coffee & Tea
4,Bread & Roses Bakery Cafe,1090.732739,2232 Bloor Street W,Bakeries

Station Name: Winona Dr / Davenport Rd lat: 43.674923 long: -79.430465 Number of free bikes are: 2

,name,distance,location,POI_category
0,Emma's Country Kitchen,663.803074,810 Saint Clair Avenue W,Breakfast & Brunch
1,Ferro Bar & Cafe,684.282534,769 Saint Clair Avenue W,Bars
2,Lox + Schmear,785.554943,1030 St Clair W,Bagels
3,CocoaLatte,869.308261,671 St. Clair Avenue W,Coffee & Tea
4,Mofer Coffee,819.960071,1040 St Clair Avenue W,Coffee & Tea Supplies

Station Name: Danforth Ave / Aldridge Ave lat: 43.684758 long: -79.316767 Number of free bikes are: 4

                        name    distance              location  POI_category
0                Cafe Cocoro  154.678054  1989 Danforth Avenue        Korean
1  Zav Coffee Shop & Gallery  246.458988  2048 Danforth Avenue  Coffee & Tea
2          Red Rocket Coffee  977.238411  1364 Danforth Avenue      Desserts
3      Patisserie La Cigogne  855.554323  1419 Danforth Avenue      Desserts
4        Gelato On The Danny  204.208595  1772 Danforth Avenue      Desserts

Station Name: Dundonald St / Church St lat: 43.66663 long: -79.38148 Number of free bikes are: 0

,name,distance,location,POI_category
0,Hair of the Dog,436.775922,425 Church Street,Pubs
1,7 West Cafe,459.417398,7 Charles Street W,Italian
2,Cafe Landwer - Yonge & Bloor,490.559935,33 Bloor St E,Breakfast & Brunch
3,Egg Club Wellesley,345.228401,531 Yonge Street,Breakfast & Brunch
4,The Cherie Bistro,173.675116,538 Church Street,Italian

Station Name: Gerrard St E / Malvern Ave - SMART lat: 43.685221 long: -79.294766 Number of free bikes are: 5

,name,distance,location,POI_category
0,The Porch Light,830.117705,982 Kingston Road,Coffee & Tea
1,Halibut House Fish and Chips,596.378686,3003 Danforth Avenue,Fish & Chips
2,Courage Foods,816.465141,976 Kingston Road,Grocery
3,"Press Books, Coffee and Vinyl",842.729847,2442 Danforth Avenue,Bookstores
4,Mr Tasty's,446.384656,2743 Danforth Avenue,Greek

Station Name: Bathurst St/Queens Quay(Billy Bishop Airport) lat: 43.635492 long: -79.398253 Number of free bikes are: 29

,name,distance,location,POI_category
0,Le Sélect Bistro,942.311557,432 Wellington Street W,French
1,1 Kitchen Toronto,901.482560,550 Wellington Street W,Cocktail Bars
2,Sportsnet Grill,1025.514259,1 Blue Jays Way,Breakfast & Brunch
3,Touti Gelati and Cafe,241.751647,550 Queens Quay W,Desserts
4,Bobo Tea & Juice,521.145317,62 Fort York Boulevard,Coffee & Tea

Station Name: Queens Quay W / Lower Simcoe St lat: 43.63951 long: -79.383717 Number of free bikes are: 14

,name,distance,location,POI_category
0,Evviva Breakfast & Lunch,235.015853,25 Lower Simcoe,Breakfast & Brunch
1,Sportsnet Grill,557.340796,1 Blue Jays Way,Breakfast & Brunch
2,Boxcar Social,147.834322,235 Queens Quay W,Coffee & Tea
3,Kost,949.703909,80 Blue Jays Way,American (Traditional)
4,Hey Lucy,918.040156,295 King St. W.,Pizza

Station Name: Bremner Blvd / Rees St lat: 43.641529 long: -79.386741 Number of free bikes are: 16

,name,distance,location,POI_category
0,Sportsnet Grill,238.148886,1 Blue Jays Way,Breakfast & Brunch
1,Evviva Breakfast & Lunch,276.930619,25 Lower Simcoe,Breakfast & Brunch
2,Cafe Landwer - Adelaide & University,817.330815,165 University Avenue,Cafes
3,Le Sélect Bistro,855.466408,432 Wellington Street W,French
4,Kost,618.620759,80 Blue Jays Way,American (Traditional)

Station Name: King St W / Crawford St lat: 43.6417852 long: -79.4131148 Number of free bikes are: 18

,name,distance,location,POI_category
0,LOCAL Public Eatery - Liberty Village,613.798708,171 E Liberty Street,Sports Bars
1,Mildred's Temple Kitchen,623.964057,85 Hanna Avenue,Breakfast & Brunch
2,OEB Breakfast Co.,459.144056,125 E Liberty Street,Breakfast & Brunch
3,Frankie's,521.195712,994 Queen Street W,Breakfast & Brunch
4,1 Kitchen Toronto,907.210628,550 Wellington Street W,Cocktail Bars

Station Name: Yonge St / Dundas Sq lat: 43.655766 long: -79.3802 Number of free bikes are: 22

,name,distance,location,POI_category
0,The Senator,97.193318,249 Victoria Street,Breakfast & Brunch
1,Eggspectation,289.784229,483 Bay Street,Breakfast & Brunch
2,Pearl Diver,696.580005,100 Adelaide Street E,Seafood
3,Hair of the Dog,799.962615,425 Church Street,Pubs
4,Fran's Restaurant,177.554078,200 Victoria Street,American (Traditional)

Station Name: St Clair Ave W / Winona Dr lat: 43.680466 long: -79.432522 Number of free bikes are: 1

,name,distance,location,POI_category
0,Emma's Country Kitchen,180.598616,810 Saint Clair Avenue W,Breakfast & Brunch
1,Ferro Bar & Cafe,322.100369,769 Saint Clair Avenue W,Bars
2,Lox + Schmear,483.924144,1030 St Clair W,Bagels
3,Munay,91.666927,881 St Clair Avenue W,Latin American
4,CocoaLatte,616.156623,671 St. Clair Avenue W,Coffee & Tea

Station Name: Bay St / Wellesley St W lat: 43.664088 long: -79.387095 Number of free bikes are: 20

                 name     distance             location        POI_category
0     Hair of the Dog   616.661321    425 Church Street                Pubs
1  Egg Club Wellesley   245.675480     531 Yonge Street  Breakfast & Brunch
2         The Senator  1133.437246  249 Victoria Street  Breakfast & Brunch
3         7 West Cafe   500.052541   7 Charles Street W             Italian
4   Fran's Restaurant   381.181604    20 College Street              Diners

Station Name: Humberside Grounds - SMART lat: 43.65917 long: -79.46997 Number of free bikes are: 3

,name,distance,location,POI_category
0,Dirty Food Eatery,732.923914,3070 Dundas Street W,Breakfast & Brunch
1,The Coffee Boutique,1208.978492,2285 Booor Street W,Cafes
2,The Sweet Potato,870.111642,108 Vine Avenue,Grocery
3,Delight,716.507756,3040 Dundas Street W,Desserts
4,The Good Neighbour Espresso Bar,398.369001,238 Annette Street,Coffee & Tea

Station Name: Bloor St E / Huntley St - SMART lat: 43.671535 long: -79.379173 Number of free bikes are: 1

,name,distance,location,POI_category
0,Hair of the Dog,955.557542,425 Church Street,Pubs
1,Rooster Coffee House,228.228391,568 Jarvis Street,Coffee & Tea
2,Cafe Landwer - Yonge & Bloor,555.365041,33 Bloor St E,Breakfast & Brunch
3,7 West Cafe,677.282594,7 Charles Street W,Italian
4,Egg Club Wellesley,910.880555,531 Yonge Street,Breakfast & Brunch

Station Name: Wellington St W / York St lat: 43.646734 long: -79.38301 Number of free bikes are: 3

,name,distance,location,POI_category
0,Cafe Landwer - Adelaide & University,277.781034,165 University Avenue,Cafes
1,Reign Restaurant + Bar + Bakery,158.331419,100 Front St W,Steakhouses
2,Pearl Diver,917.528112,100 Adelaide Street E,Seafood
3,Eggspectation,740.734459,483 Bay Street,Breakfast & Brunch
4,Kost,771.985777,80 Blue Jays Way,American (Traditional)

Station Name: Dalton Rd / Bloor St W lat: 43.6662942 long: -79.4066433 Number of free bikes are: 2

,name,distance,location,POI_category
0,Insomnia Restaurant & Lounge,352.626858,563 Bloor Street W,Lounges
1,Fuwa Fuwa Japanese Pancakes,106.267470,408 Bloor Street W,Desserts
2,Future Bistro,94.823411,483 Bloor Street W,Breakfast & Brunch
3,El Pocho Antojitos Bar,660.375878,2 Follis Avenue,Bars
4,Mallo,377.721875,785 Bathurst Street,Coffee & Tea

Station Name: Davenport Rd / Christie St lat: 43.675278 long: -79.423889 Number of free bikes are: 2

,name,distance,location,POI_category
0,El Pocho Antojitos Bar,1049.315368,2 Follis Avenue,Bars
1,Emma's Country Kitchen,812.463623,810 Saint Clair Avenue W,Breakfast & Brunch
2,Ferro Bar & Cafe,731.658945,769 Saint Clair Avenue W,Bars
3,CocoaLatte,718.911472,671 St. Clair Avenue W,Coffee & Tea
4,The Grapefruit Moon,1059.698785,968 Bathurst Street,Breakfast & Brunch

Station Name: King St W / Jordan St lat: 43.648928 long: -79.378623 Number of free bikes are: 3

,name,distance,location,POI_category
0,Pearl Diver,488.633335,100 Adelaide Street E,Seafood
1,Cafe Landwer - Adelaide & University,513.975083,165 University Avenue,Cafes
2,Sud Forno,221.478043,132 Yonge Street,Bakeries
3,Eggspectation,527.112787,483 Bay Street,Breakfast & Brunch
4,Victoria's Restaurant,198.429969,37 King Street E,Breakfast & Brunch

Station Name: George St / King St E lat: 43.6509552 long: -79.3707 Number of free bikes are: 3

,name,distance,location,POI_category
0,Pearl Diver,256.327205,100 Adelaide Street E,Seafood
1,Le Petit Déjeuner,47.785755,191 King Street E,Breakfast & Brunch
2,Au Pain Doré,286.765290,81 Front Street E,Coffee & Tea
3,Fahrenheit Coffee,244.352811,120 Lombard Avenue,Coffee & Tea
4,Enat Buna Ethiopian Fusion Cafe,335.852317,175 Queen Street E,Ethiopian

Station Name: E.T. Seton Park (Eglinton Ave E / Leslie St) lat: 43.715951 long: -79.351246 Number of free bikes are: 7

,name,distance,location,POI_category
0,Sunset Grill,1144.118361,45 Wicksteed Ave,Breakfast & Brunch
1,Roll Me Up Ice Cream,1062.493345,62 Overlea Boulevard,Ice Cream & Frozen Yogurt
2,Sobeys,980.790407,147 Laird Drive,Grocery
3,Eggsmart,784.214388,20 Brentcliffe Road,Breakfast & Brunch
4,Starbucks,902.480138,65 Wicksteed Avenue,Coffee & Tea

Station Name: Woodbine Ave / Lake Shore Blvd E lat: 43.665645 long: -79.304711 Number of free bikes are: 25

,name,distance,location,POI_category
0,Isabella's Mochi Donut Boutique,829.204472,2066 Queen St East,Japanese
1,Mira Mira,494.391415,1963 Queen Street E,Diners
2,Yum Croissant,366.492639,1917 Queen Street East,Sandwiches
3,Carload On The Beach,760.496202,2038 Queen St E,Fruits & Veggies
4,Bud’s Coffee Bar,524.043156,1966 Queen Street E,Coffee & Tea

Station Name: King St W / Charlotte St lat: 43.645572 long: -79.39399 Number of free bikes are: 9

,name,distance,location,POI_category
0,Le Sélect Bistro,295.600338,432 Wellington Street W,French
1,Kost,131.788219,80 Blue Jays Way,American (Traditional)
2,Hey Lucy,321.917335,295 King St. W.,Pizza
3,Cafe Landwer - Adelaide & University,805.570945,165 University Avenue,Cafes
4,O&B Canteen,328.699480,330 King Street W,Comfort Food

Station Name: Jarvis St / Richmond St E lat: 43.652777 long: -79.372637 Number of free bikes are: 10

,name,distance,location,POI_category
0,Pearl Diver,162.222092,100 Adelaide Street E,Seafood
1,Enat Buna Ethiopian Fusion Cafe,147.833251,175 Queen Street E,Ethiopian
2,Fahrenheit Coffee,43.879269,120 Lombard Avenue,Coffee & Tea
3,Cafe Landwer - Adelaide & University,1090.383044,165 University Avenue,Cafes
4,The Senator,608.781966,249 Victoria Street,Breakfast & Brunch

Station Name: Symington Ave / Dupont St lat: 43.665538 long: -79.451263 Number of free bikes are: 8

,name,distance,location,POI_category
0,Ruru Baked,1081.427041,659 Lansdowne Avenue,Desserts
1,Cafe Con Leche Espresso Bar,141.364843,1571 Dupont Street,Coffee & Tea
2,Nuthouse,1130.989858,1256 Bloor St,Health Markets
3,Propeller Coffee,852.581148,50 Wade Avenue,Coffee & Tea
4,Cool Hand of a Girl,935.902273,2804 Dundas Street W,Breakfast & Brunch

Station Name: King St E / Jarvis St lat: 43.650325 long: -79.372287 Number of free bikes are: 22

                name    distance               location        POI_category
0        Pearl Diver  182.814905  100 Adelaide Street E             Seafood
1       Au Pain Doré  178.032549      81 Front Street E        Coffee & Tea
2     Fresh On Front  327.605429      47 Front Street E               Vegan
3  Le Petit Déjeuner  167.370085      191 King Street E  Breakfast & Brunch
4        The Senator  809.170421    249 Victoria Street  Breakfast & Brunch

Station Name: Bay St / Bloor St W (East Side) lat: 43.66943 long: -79.38915 Number of free bikes are: 3

,name,distance,location,POI_category
0,7 West Cafe,231.899909,7 Charles Street W,Italian
1,Cafe Landwer - Yonge & Bloor,283.779057,33 Bloor St E,Breakfast & Brunch
2,Hair of the Dog,1053.869132,425 Church Street,Pubs
3,Dessert Lady Café,113.816066,1 Sultan Street,Desserts
4,Flo's Diner,277.399713,70 Yorkville Avenue,Diners

Station Name: Bay St / Bloor St W (West Side) lat: 43.669244 long: -79.3894 Number of free bikes are: 0

,name,distance,location,POI_category
0,7 West Cafe,243.156763,7 Charles Street W,Italian
1,Cafe Landwer - Yonge & Bloor,307.415441,33 Bloor St E,Breakfast & Brunch
2,Hair of the Dog,1054.785020,425 Church Street,Pubs
3,Dessert Lady Café,85.167560,1 Sultan Street,Desserts
4,Flo's Diner,286.656437,70 Yorkville Avenue,Diners

Station Name: Wells Hill Ave / St Clair Ave W lat: 43.683351 long: -79.41562 Number of free bikes are: 2

              name     distance                location        POI_category
0          FET ZUN  1172.971082           252 Dupont St      Middle Eastern
1          Loblaws    91.750004  396 St. Clair Avenue W             Grocery
2       CocoaLatte   780.401543  671 St. Clair Avenue W        Coffee & Tea
3  Baker and Scone   868.014876         693 St. Clair W  Breakfast & Brunch
4     Ezra's Pound  1188.878351       238 Dupont Street        Coffee & Tea

Station Name: Dundas St E / George St lat: 43.6574766 long: -79.373446 Number of free bikes are: 11

,name,distance,location,POI_category
0,Pearl Diver,657.257108,100 Adelaide Street E,Seafood
1,Hair of the Dog,783.892322,425 Church Street,Pubs
2,The Senator,485.771742,249 Victoria Street,Breakfast & Brunch
3,Cafe Landwer - Adelaide & University,1342.425686,165 University Avenue,Cafes
4,Citrus Restaurant and Lounge,116.354621,The Grand Hotel & Suites Toronto,Bars

Station Name: Fleet St / Bathurst St lat: 43.636611 long: -79.400042 Number of free bikes are: 2

,name,distance,location,POI_category
0,Le Sélect Bistro,850.762167,432 Wellington Street W,French
1,1 Kitchen Toronto,742.102207,550 Wellington Street W,Cocktail Bars
2,Kost,1145.170274,80 Blue Jays Way,American (Traditional)
3,Sportsnet Grill,1050.468017,1 Blue Jays Way,Breakfast & Brunch
4,Touti Gelati and Cafe,316.592068,550 Queens Quay W,Desserts

Station Name: Tecumseth St / Queen St W - SMART lat: 43.646552 long: -79.406468 Number of free bikes are: 9

                 name    distance                 location        POI_category
0   1 Kitchen Toronto  523.455211  550 Wellington Street W       Cocktail Bars
1  The Mission Eatery   71.183739       676 Queen Street W              French
2    Le Sélect Bistro  827.783553  432 Wellington Street W              French
3        Sisters & Co  647.818319   887 Dundas Street West  Breakfast & Brunch
4                Cops  604.528076      445 Adelaide Street        Coffee & Tea

Station Name: Wellington St W / Bay St lat: 43.647259 long: -79.379878 Number of free bikes are: 15

,name,distance,location,POI_category
0,Cafe Landwer - Adelaide & University,445.667110,165 University Avenue,Cafes
1,Reign Restaurant + Bar + Bakery,245.026944,100 Front St W,Steakhouses
2,Pearl Diver,686.519095,100 Adelaide Street E,Seafood
3,Eggspectation,677.617491,483 Bay Street,Breakfast & Brunch
4,Evviva Breakfast & Lunch,686.687311,25 Lower Simcoe,Breakfast & Brunch

Station Name: Briar Hill Ave / Yonge St - SMART lat: 43.713524 long: -79.400162 Number of free bikes are: 14

                     name    distance               location  POI_category
0         De Mello Coffee  202.101635      2489 Yonge Street  Coffee & Tea
1  Himalayan Coffee House   16.817594      2552 Yonge Street  Coffee & Tea
2             Uptown Brie  208.076334  11 Castlefield Avenue  Cheese Shops
3    Good Bite Restaurant  244.783288      2463 Yonge Street        Diners
4        The Social Blend  747.763995  130 Eglinton Avenue E  Coffee & Tea

Station Name: King St E / Church St lat: 43.65003919999999 long: -79.3733541 Number of free bikes are: 12

,name,distance,location,POI_category
0,Pearl Diver,173.524675,100 Adelaide Street E,Seafood
1,Au Pain Doré,160.604856,81 Front Street E,Coffee & Tea
2,Fresh On Front,264.726245,47 Front Street E,Vegan
3,Cafe Landwer - Adelaide & University,948.136589,165 University Avenue,Cafes
4,Versus Coffee,211.022654,70 Adelaide Street E,Coffee & Tea

Station Name: Bay St / Albert St lat: 43.653264 long: -79.382458 Number of free bikes are: 17

,name,distance,location,POI_category
0,Eggspectation,97.553204,483 Bay Street,Breakfast & Brunch
1,Yueh Tung Restaurant,298.454617,126 Elizabeth Street,Hakka
2,The Senator,392.557735,249 Victoria Street,Breakfast & Brunch
3,Cafe Landwer - Adelaide & University,540.003288,165 University Avenue,Cafes
4,Pearl Diver,723.876996,100 Adelaide Street E,Seafood

Station Name: Wellesley St W / Queen's Park Cres lat: 43.663376 long: -79.392125 Number of free bikes are: 0

,name,distance,location,POI_category
0,Gallery Grill,191.183342,7 Hart House Circle,Canadian (New)
1,7 West Cafe,732.060577,7 Charles Street W,Italian
2,The Arch Café,1150.336389,293 Augusta Ave.,Breakfast & Brunch
3,Yueh Tung Restaurant,1077.716563,126 Elizabeth Street,Hakka
4,Cafe Landwer - Yonge & Bloor,886.615902,33 Bloor St E,Breakfast & Brunch

Station Name: Bay St / College St (East Side) lat: 43.660439 long: -79.385525 Number of free bikes are: 2

                name     distance               location        POI_category
0    Hair of the Dog   552.694439      425 Church Street                Pubs
1  Fran's Restaurant   162.441551      20 College Street              Diners
2        Pearl Diver  1366.281798  100 Adelaide Street E             Seafood
3        The Senator   740.382828    249 Victoria Street  Breakfast & Brunch
4     Neo Coffee Bar    55.509290         770 Bay Street            Bakeries

Station Name: University Ave / College St (West) lat: 43.659226 long: -79.390213 Number of free bikes are: 10

                   name    distance              location        POI_category
0       Hair of the Dog  949.220802     425 Church Street                Pubs
1         Café La Gaffe  418.308424     24 Baldwin Street  Breakfast & Brunch
2           The Senator  982.001499   249 Victoria Street  Breakfast & Brunch
3         Eggspectation  979.160058        483 Bay Street  Breakfast & Brunch
4  Yueh Tung Restaurant  612.927143  126 Elizabeth Street               Hakka

Station Name: University Ave / College St (East) lat: 43.65995 long: -79.38964 Number of free bikes are: 2

              name     distance             location        POI_category
0  Hair of the Dog   874.211742    425 Church Street                Pubs
1      The Senator   975.680921  249 Victoria Street  Breakfast & Brunch
2    Eggspectation  1003.712698       483 Bay Street  Breakfast & Brunch
3   Neo Coffee Bar   292.497090       770 Bay Street            Bakeries
4    Café La Gaffe   510.489217    24 Baldwin Street  Breakfast & Brunch

Station Name: Queen's Park Cres E / Grosvenor St - SMART lat: 43.661803 long: -79.389682 Number of free bikes are: 3

              name     distance             location        POI_category
0  Hair of the Dog   821.481569    425 Church Street                Pubs
1      The Senator  1092.100162  249 Victoria Street  Breakfast & Brunch
2    Eggspectation  1166.382910       483 Bay Street  Breakfast & Brunch
3      7 West Cafe   793.729493   7 Charles Street W             Italian
4   Neo Coffee Bar   351.996586       770 Bay Street            Bakeries

Station Name: Bay St / College St (West Side) - SMART lat: 43.660087 long: -79.385655 Number of free bikes are: 0

                name     distance               location        POI_category
0    Hair of the Dog   582.171320      425 Church Street                Pubs
1  Fran's Restaurant   198.203429      20 College Street              Diners
2        Pearl Diver  1345.717740  100 Adelaide Street E             Seafood
3     Neo Coffee Bar    28.448541         770 Bay Street            Bakeries
4        The Senator   721.095181    249 Victoria Street  Breakfast & Brunch

Station Name: Superior Ave / Lake Shore Blvd W lat: 43.6146692 long: -79.4873148 Number of free bikes are: 14

,name,distance,location,POI_category
0,Sanremo Bakery,1085.984906,374 Royal York Road,Bakeries
1,Birds And Beans Cafe,143.180438,2413 Lake Shore Boulevard W,Coffee & Tea
2,Your Independent Grocer,87.894518,2399 Lake Shore Boulevard W,Grocery
3,Sunset Grill,960.247353,2214 Lake Shore Blvd W,Breakfast & Brunch
4,7-Eleven,282.379208,2480 Lakeshore Blvd W,Convenience Stores

Station Name: Humber Bay Shores Park / Marine Parade Dr lat: 43.626265 long: -79.476723 Number of free bikes are: 23

,name,distance,location,POI_category
0,Lola's Gelato,151.809809,14B Brookers Lane,Coffee & Tea
1,Gravity Pizza Cafe & Starbucks,94.899311,58 Marine Parade Drive,Pizza
2,Cafe Cocoa Boulangerie,156.445827,58 Marine Parade Drive,Coffee & Tea
3,BB Cafe,35.717568,78 Marine Parade Drive,Coffee & Tea
4,Sunset Grill,625.847354,2214 Lake Shore Blvd W,Breakfast & Brunch

Station Name: Lake Shore Blvd W / Colborne Lodge Dr lat: 43.63771 long: -79.458173 Number of free bikes are: 26

,name,distance,location,POI_category
0,The Ace,1200.411616,231A Roncesvalles Avenue,Comfort Food
1,Cherry Bomb Coffee,990.129603,79 Roncesvalles Ave,Bakeries
2,Aris Place,1195.209441,229 Roncesvalles Avenue,Diners
3,Grenadier Cafe,1032.367723,200 Parkside Dr,Breakfast & Brunch
4,Hot Oven Bakery,1098.503064,177 Roncesvalles Avenue,Coffee & Tea

Station Name: Ripley Ave / Ormskirk Ave lat: 43.6390437 long: -79.4760109 Number of free bikes are: 22

             name     distance           location        POI_category
0  Grenadier Cafe  1109.272068    200 Parkside Dr  Breakfast & Brunch
1          Sobeys  1058.949057  125 The Queensway             Grocery
2  Sunshine Foods   473.433060  12 Windermere Ave             Grocery
3    Tim Horton's  1358.865785  250 The Queensway               Delis

Station Name: St Clarens Ave / Shirley St lat: 43.6486599 long: -79.4376413 Number of free bikes are: 0

                name    distance                  location        POI_category
0          Good Fork  365.942547      1550 Dundas Street W  Breakfast & Brunch
1        The Federal  612.399510      1438 Dundas Street W  Breakfast & Brunch
2    Garleek Kitchen  911.516942       1500 Queen Street W        Asian Fusion
3  Peter's No Frills  250.269909      222 Lansdowne Avenue             Grocery
4            The Ace  942.907676  231A Roncesvalles Avenue        Comfort Food

Station Name: Lisgar Park lat: 43.6423847 long: -79.4240277 Number of free bikes are: 12

,name,distance,location,POI_category
0,Hello 123,118.713706,1122 Queen Street W,Breakfast & Brunch
1,Mildred's Temple Kitchen,399.727571,85 Hanna Avenue,Breakfast & Brunch
2,LOCAL Public Eatery - Liberty Village,582.860066,171 E Liberty Street,Sports Bars
3,Drake's Corner Café + Bistro,116.928741,1150 Queen Street W,Breakfast & Brunch
4,J's Steak Frites,210.420436,1198 Queen Street W,Steakhouses

Station Name: Bartlett Parkette lat: 43.6702236 long: -79.4360232 Number of free bikes are: 0

,name,distance,location,POI_category
0,Lox + Schmear,1011.358255,1030 St Clair W,Bagels
1,Nova Era Bakery,147.047620,200 Geary Avenue,Bakeries
2,Filosophy Pastry and Espresso Bar,1193.359265,912 Bloor Street W,Bakeries
3,Dark Horse Espresso Bar,89.288659,120 Geary Avenue,Coffee & Tea
4,Mofer Coffee,1006.176379,1040 St Clair Avenue W,Coffee & Tea Supplies

Station Name: Sherbourne St N / Elm Ave lat: 43.6752732 long: -79.3778458 Number of free bikes are: 7

,name,distance,location,POI_category
0,7 West Cafe,1021.543516,7 Charles Street W,Italian
1,Cafe Landwer - Yonge & Bloor,872.342187,33 Bloor St E,Breakfast & Brunch
2,Rooster Coffee House,657.374327,568 Jarvis Street,Coffee & Tea
3,Coffee Lunar,913.011408,920 Yonge Street,Coffee & Tea
4,Staij & Co Cafe & Pastry Boutique,1164.288240,552 Parliament street,Cafes

Station Name: Walnut Ave / Queen St W lat: 43.645469 long: -79.411084 Number of free bikes are: 12

,name,distance,location,POI_category
0,LOCAL Public Eatery - Liberty Village,1016.704123,171 E Liberty Street,Sports Bars
1,Hugs and Sarcasm,58.548702,859 Queen Street W,Canadian (New)
2,Frankie's,603.253359,994 Queen Street W,Breakfast & Brunch
3,The Mission Eatery,329.464358,676 Queen Street W,French
4,Sisters & Co,612.148581,887 Dundas Street West,Breakfast & Brunch

Station Name: Vaughan Rd /Wychwood Ave lat: 43.6882821 long: -79.4253856 Number of free bikes are: 0

,name,distance,location,POI_category
0,Emma's Country Kitchen,913.723123,810 Saint Clair Avenue W,Breakfast & Brunch
1,Ferro Bar & Cafe,857.467272,769 Saint Clair Avenue W,Bars
2,CocoaLatte,733.652143,671 St. Clair Avenue W,Coffee & Tea
3,Baker and Scone,759.242021,693 St. Clair W,Breakfast & Brunch
4,Mabel's Bakery,792.052359,746 St Clair Avenue W,Coffee & Tea

Station Name: Palmerston Ave / Dundas St W lat: 43.651603 long: -79.408346 Number of free bikes are: 6

,name,distance,location,POI_category
0,Old School,35.484565,800 Dundas Street W,Breakfast & Brunch
1,Sisters & Co,282.688434,887 Dundas Street West,Breakfast & Brunch
2,Almond Butterfly Dundas Bistro,56.278682,792 Dundas Street W,Cocktail Bars
3,Le Sélect Bistro,1260.085094,432 Wellington Street W,French
4,Lambo's Deli,376.413419,176 Bellwoods Avenue,Delis

Station Name: 541 Huron St - SMART lat: 43.670206 long: -79.402643 Number of free bikes are: 8

,name,distance,location,POI_category
0,Insomnia Restaurant & Lounge,821.555159,563 Bloor Street W,Lounges
1,El Pocho Antojitos Bar,869.539413,2 Follis Avenue,Bars
2,FET ZUN,630.730578,252 Dupont St,Middle Eastern
3,Rustle & Still Café,1052.885224,605 Bloor Street W,Coffee & Tea
4,Fuwa Fuwa Japanese Pancakes,633.261249,408 Bloor Street W,Desserts

Station Name: Euclid Ave / Herrick St - SMART lat: 43.661559 long: -79.413845 Number of free bikes are: 8

                           name    distance            location  POI_category
0  Insomnia Restaurant & Lounge  540.232682  563 Bloor Street W       Lounges
1          Ninetails Coffee Bar  302.668353  651 Bloor Street W  Coffee & Tea
2          Ave Maria Latin Café  311.091546  631 Bloor Street W  Coffee & Tea
3           Rustle & Still Café  335.346209  605 Bloor Street W  Coffee & Tea
4        El Pocho Antojitos Bar  899.297643     2 Follis Avenue          Bars

Station Name: Baldwin St / Henry St lat: 43.6560758 long: -79.393259 Number of free bikes are: 6

,name,distance,location,POI_category
0,Café La Gaffe,17.021884,24 Baldwin Street,Breakfast & Brunch
1,Cafe Landwer - Adelaide & University,1048.989786,165 University Avenue,Cafes
2,Jimmy's Coffee,89.189921,166 McCaul Street,Cafes
3,Karine's,270.849520,109 McCaul Street,Breakfast & Brunch
4,Voodoo Child,992.063127,388 College Street,Coffee & Tea

Station Name: Orde St / McCaul St lat: 43.6580442 long: -79.3927404 Number of free bikes are: 11

                   name     distance              location        POI_category
0         Café La Gaffe   208.613386     24 Baldwin Street  Breakfast & Brunch
1         Eggspectation  1066.186076        483 Bay Street  Breakfast & Brunch
2        Jimmy's Coffee   260.635094     166 McCaul Street               Cafes
3  Yueh Tung Restaurant   691.407469  126 Elizabeth Street               Hakka
4         The Arch Café   816.499783      293 Augusta Ave.  Breakfast & Brunch

Station Name: Ross St / Cecil St - SMART lat: 43.6568254 long: -79.3966159 Number of free bikes are: 0

,name,distance,location,POI_category
0,Café La Gaffe,272.338043,24 Baldwin Street,Breakfast & Brunch
1,Cafe Landwer - Adelaide & University,1293.925933,165 University Avenue,Cafes
2,Voodoo Child,716.362281,388 College Street,Coffee & Tea
3,The Arch Café,485.512140,293 Augusta Ave.,Breakfast & Brunch
4,Krispy Kreme,252.575781,400 Spadina Avenue,Donuts

Station Name: Lake Shore Blvd W / Thirty Ninth Street lat: 43.5927419 long: -79.54033009999999 Number of free bikes are: 13

,name,distance,location,POI_category
0,Lale Bakery & Caffe,246.979831,3665 Lakeshore Boulevard W,Coffee & Tea
1,"Jeff, Rose & Herb's No Frills",144.784328,3730 Lakeshore Boulevard West,Grocery
2,The Happy Bakers,885.448741,3469 Lake Shore Boulevard W,Bakeries
3,Shoppers Drug Mart,122.316755,3730 Lake Shore Blvd W,Drugstores
4,Starbucks,590.305418,3559 Lake Shore Boulevard W,Coffee & Tea

Station Name: Lake Shore Blvd W / Twenty Fourth St lat: 43.597082 long: -79.522768 Number of free bikes are: 13

,name,distance,location,POI_category
0,DeCourses Café,88.942686,3232 Lake Shore Blvd W,Cafes
1,7-Eleven,30.336391,3260 Lakeshore Blvd W,Convenience Stores
2,Tatsu's Bread,348.746587,3180 Lake Shore Blvd W,Bakeries
3,The Happy Bakers,610.279053,3469 Lake Shore Boulevard W,Bakeries
4,CoCo Fresh Tea & Juice,348.746587,3180 Lake Shore Boulevard W,Bubble Tea

Station Name: Windsor St / Newcastle St lat: 43.6171635 long: -79.4971065 Number of free bikes are: 23

,name,distance,location,POI_category
0,Sanremo Bakery,259.115530,374 Royal York Road,Bakeries
1,Breakfast Room,279.349318,384 Royal York Road,Breakfast & Brunch
2,Birds And Beans Cafe,753.630176,2413 Lake Shore Boulevard W,Coffee & Tea
3,Royal Bistro,279.210013,384 Royal York Road,Italian
4,Starbucks,1231.274421,829 The Queensway,Coffee & Tea

Station Name: Royal York Rd / Mimico Ave lat: 43.612063 long: -79.496573 Number of free bikes are: 18

,name,distance,location,POI_category
0,Sanremo Bakery,763.690374,374 Royal York Road,Bakeries
1,Birds And Beans Cafe,659.321671,2413 Lake Shore Boulevard W,Coffee & Tea
2,Mario & Selina's No Frills,101.960421,220 Royal York Road,Grocery
3,Breakfast Room,790.816741,384 Royal York Road,Breakfast & Brunch
4,Royal Bistro,790.809808,384 Royal York Road,Italian

Station Name: Berry Rd / Bell Manor Dr lat: 43.63732 long: -79.489083 Number of free bikes are: 11

           name    distance           location POI_category
0        Sobeys  995.740864  125 The Queensway      Grocery
1     Valu-Mart   81.300110     150 Berry Road      Grocery
2  Tim Horton's  824.731784  250 The Queensway        Delis

Station Name: Humber College lat: 43.5961692 long: -79.5160575 Number of free bikes are: 22

,name,distance,location,POI_category
0,Kitchen On Sixth,889.763788,2976 Lake Shore Boulevard W,Breakfast & Brunch
1,DeCourses Café,474.631160,3232 Lake Shore Blvd W,Cafes
2,Tatsu's Bread,306.738962,3180 Lake Shore Blvd W,Bakeries
3,CoCo Fresh Tea & Juice,306.738962,3180 Lake Shore Boulevard W,Bubble Tea
4,Starbucks,213.866007,3155 Lake Shore Boulevard W,Coffee & Tea

Station Name: Amos Waites Park lat: 43.613606 long: -79.4883535 Number of free bikes are: 16

,name,distance,location,POI_category
0,Sanremo Bakery,1065.674539,374 Royal York Road,Bakeries
1,Birds And Beans Cafe,57.894940,2413 Lake Shore Boulevard W,Coffee & Tea
2,Your Independent Grocer,112.764070,2399 Lake Shore Boulevard W,Grocery
3,Sunset Grill,1102.204974,2214 Lake Shore Blvd W,Breakfast & Brunch
4,Breakfast Room,1083.514773,384 Royal York Road,Breakfast & Brunch

Station Name: Priscilla  Ave / Dundas St W lat: 43.664665 long: -79.489385 Number of free bikes are: 7

,name,distance,location,POI_category
0,Golden Gecko Coffee,980.412862,282 Jane Street,Coffee & Tea
1,Starving Artist,769.655218,833 Runnymede Road,Breakfast & Brunch
2,Starbucks,305.432033,108-2575 St Clair Avenue W,Coffee & Tea
3,Denny's,343.876515,2575 St Clair Ave W,American (Traditional)
4,St John's Pantry,309.766661,431 St Johns Road,Coffee & Tea

Station Name: Durie St / Dundas St W lat: 43.665523 long: -79.484892 Number of free bikes are: 3

,name,distance,location,POI_category
0,Starving Artist,502.014787,833 Runnymede Road,Breakfast & Brunch
1,7-Eleven,203.789496,3355 Dundas St W,Convenience Stores
2,Burattino Brick Oven Pizza,950.276147,3109 Dundas Street West,Pizza
3,FreshCo,79.392291,3400 Dundas Street W,Grocery
4,Denny's,373.463837,2575 St Clair Ave W,American (Traditional)

Station Name: St Clair Ave W / Castleton Ave lat: 43.668496 long: -79.485426 Number of free bikes are: 7

,name,distance,location,POI_category
0,Starving Artist,244.215036,833 Runnymede Road,Breakfast & Brunch
1,Denny's,259.373381,2575 St Clair Ave W,American (Traditional)
2,McDonald's,86.297872,2525 St. Clair Ave. West,Fast Food
3,Starbucks,256.731490,108-2575 St Clair Avenue W,Coffee & Tea
4,Tim Hortons,224.457908,2571 St Clair Ave West,Coffee & Tea

Station Name: Weston Lions Park lat: 43.698841 long: -79.519472 Number of free bikes are: 0

                 name     distance                location        POI_category
0   Bakery El Quetzal   686.380309  2011 Lawrence Avenue W      Latin American
1            Eggsmart   483.404916          2097 Weston Rd  Breakfast & Brunch
2  Starfish Caribbean   670.439455        1746 Weston Road     Seafood Markets
3               Metro  1261.068758    1500 Royal York Road             Grocery

Station Name: Annette St / Jane St lat: 43.658574 long: -79.487246 Number of free bikes are: 14

,name,distance,location,POI_category
0,Golden Gecko Coffee,289.366748,282 Jane Street,Coffee & Tea
1,Fiddler's Dell Bar & Grill,49.539545,781 Annette Street,Bars
2,The Coffee Boutique,1131.973087,2285 Booor Street W,Cafes
3,Gigli Caffe,62.180402,399 Jane Street,Cafes
4,Coffee Culture Café & Eatery,62.305418,399 Jane St.,Coffee & Tea

Station Name: Jameson Ave / Queen St W lat: 43.63985 long: -79.43703 Number of free bikes are: 16

,name,distance,location,POI_category
0,Garleek Kitchen,114.538226,1500 Queen Street W,Asian Fusion
1,The Ace,1177.657834,231A Roncesvalles Avenue,Comfort Food
2,Capital Espresso,223.066114,1349 Queen Street W,Coffee & Tea
3,Gold Standard Queen,281.731400,1574 Queen W,Sandwiches
4,Drake's Corner Café + Bistro,1062.801056,1150 Queen Street W,Breakfast & Brunch

Station Name: Carlaw Ave / Dundas St E lat: 43.665076 long: -79.341509 Number of free bikes are: 1

,name,distance,location,POI_category
0,Maple Leaf Tavern,364.353789,955 Gerrard Street E,American (Traditional)
1,White Lily Diner,1044.033443,678 Queen Street E,Breakfast & Brunch
2,Chula Taberna Mexicana,647.638771,1058 Gerrard Street E,Mexican
3,Hailed Coffee,363.189540,801 Gerrard Street E,Coffee & Tea
4,Yaya Greek Bistro,812.806454,1186 Queen Street E,Breakfast & Brunch

Station Name: Toronto Inukshuk Park lat: 43.6323994 long: -79.40978179999999 Number of free bikes are: 23

,name,distance,location,POI_category
0,LOCAL Public Eatery - Liberty Village,1015.626016,171 E Liberty Street,Sports Bars
1,Mildred's Temple Kitchen,1196.261103,85 Hanna Avenue,Breakfast & Brunch
2,OEB Breakfast Co.,848.273122,125 E Liberty Street,Breakfast & Brunch
3,Roses Cocina,170.691189,111 Princes Boulevard,Salad
4,Arvo Coffee,1143.437986,80 Atlantic Avenue,Coffee & Tea

Station Name: Cosburn Ave / Durant Ave lat: 43.6935477 long: -79.3301658 Number of free bikes are: 7

                  name     distance              location  POI_category
0     Mon K Patisserie   384.376387   1040 Coxwell Avenue  Coffee & Tea
1            Starbucks   286.987761    978 Coxwell Avenue  Coffee & Tea
2  The Maker Bean Cafe  9006.223799   1052 Bloor Street W   3D Printing
3       East York Deli   204.975326       903 Coxwell Ave         Delis
4  Gelato On The Danny  1329.440250  1772 Danforth Avenue      Desserts

Station Name: Swansea Community Centre lat: 43.6438036 long: -79.4770327 Number of free bikes are: 14

,name,distance,location,POI_category
0,The Coffee Boutique,748.208160,2285 Booor Street W,Cafes
1,Zaza Espresso Bar,820.980101,256 Beresford Avenue,Coffee & Tea
2,Grenadier Cafe,954.334684,200 Parkside Dr,Breakfast & Brunch
3,HotBlack Coffee,863.611949,2196 Bloor St W,Coffee & Tea
4,Bread & Roses Bakery Cafe,824.365577,2232 Bloor Street W,Bakeries

Station Name: Bellwoods Ave / Treford Pl - SMART lat: 43.65246 long: -79.413528 Number of free bikes are: 10

,name,distance,location,POI_category
0,Sisters & Co,220.648312,887 Dundas Street West,Breakfast & Brunch
1,Cafe Diplomatico Restaurant & Pizzeria,311.222523,594 College St,Italian
2,Lambo's Deli,191.257440,176 Bellwoods Avenue,Delis
3,Northern Belle,199.425580,913 Dundas Street W,Coffee & Tea
4,Voodoo Child,823.466597,388 College Street,Coffee & Tea

Station Name: Bayview Ave / Lawren Harris Square lat: 43.6548521 long: -79.35397680000001 Number of free bikes are: 0

                      name    distance            location        POI_category
0         White Lily Diner  494.558967  678 Queen Street E  Breakfast & Brunch
1                 Cacao 70  745.956038   28 Gristmill Lane  Breakfast & Brunch
2     Rooster Coffee House  986.694842   343 King Street E        Coffee & Tea
3              Arvo Coffee  799.862039   17 Gristmill Lane        Coffee & Tea
4  Dark Horse Espresso Bar  412.710751  630 Queen Street E        Coffee & Tea

Station Name: The Queensway / High St lat: 43.630874 long: -79.482407 Number of free bikes are: 22

,name,distance,location,POI_category
0,Lola's Gelato,549.252206,14B Brookers Lane,Coffee & Tea
1,Sobeys,104.726110,125 The Queensway,Grocery
2,Sunset Grill,918.608805,2214 Lake Shore Blvd W,Breakfast & Brunch
3,Lume Kitchen and Lounge,756.319407,72 Park Lawn Road,Lounges
4,Starbucks,647.296960,150 Parklawn Road,Coffee & Tea

Station Name: Symington Ave / Davenport Rd lat: 43.6704403 long: -79.45328549999999 Number of free bikes are: 2

,name,distance,location,POI_category
0,Balzac's Coffee Roasters,356.445497,29 Powerhouse Street,Coffee Roasteries
1,Lourdes,15.557813,1867 Davenport Road,Coffee & Tea
2,Cool Hand of a Girl,946.711380,2804 Dundas Street W,Breakfast & Brunch
3,Wallace Espresso,1151.209034,188 Wallace Avenue,Coffee & Tea
4,Dairy Freeze,535.731706,1601 St Clair Avenue W,Burgers

Station Name: Front St E / Bayview Avenue lat: 43.6535 long: -79.354068 Number of free bikes are: 5

,name,distance,location,POI_category
0,White Lily Diner,634.778771,678 Queen Street E,Breakfast & Brunch
1,Cacao 70,644.405535,28 Gristmill Lane,Breakfast & Brunch
2,Rooster Coffee House,938.189016,343 King Street E,Coffee & Tea
3,Arvo Coffee,698.958733,17 Gristmill Lane,Coffee & Tea
4,Balzac's Coffee Roasters,577.335623,1 Trinity Street,Coffee & Tea

Station Name: Oak St / Sumach St lat: 43.6617908 long: -79.361515 Number of free bikes are: 8

                   name     distance              location        POI_category
0      White Lily Diner   895.178805    678 Queen Street E  Breakfast & Brunch
1  Rooster Coffee House  1080.592417  479 Broadview Avenue        Coffee & Tea
2        Lady Marmalade   820.314898  265 Broadview Avenue  Breakfast & Brunch
3               O’SOMAE   839.847973     357 Broadview Ave  Breakfast & Brunch
4     Chew Chew's Diner   886.849443    186 Carlton Street              Diners

Station Name: The Esplanade / Hahn Pl lat: 43.649709 long: -79.364184 Number of free bikes are: 5

                   name    distance               location        POI_category
0              Cacao 70  290.093379      28 Gristmill Lane  Breakfast & Brunch
1           Pearl Diver  798.575631  100 Adelaide Street E             Seafood
2  Rooster Coffee House  253.800403      343 King Street E        Coffee & Tea
3           Arvo Coffee  241.449872      17 Gristmill Lane        Coffee & Tea
4         Tandem Coffee  476.102024      368 King Street E        Coffee & Tea

Station Name: 439 Sherbourne St lat: 43.666051 long: -79.374161 Number of free bikes are: 1

,name,distance,location,POI_category
0,Hair of the Dog,556.818475,425 Church Street,Pubs
1,Chew Chew's Diner,322.290137,186 Carlton Street,Diners
2,7 West Cafe,1033.122211,7 Charles Street W,Italian
3,Cafe Landwer - Yonge & Bloor,1016.759738,33 Bloor St E,Breakfast & Brunch
4,Staij & Co Cafe & Pastry Boutique,403.554743,552 Parliament street,Cafes

Station Name: Glebe Rd W / Yonge St lat: 43.7005976 long: -79.397345 Number of free bikes are: 0

,name,distance,location,POI_category
0,Oyster Mine,129.883188,2035 Yonge Street,Seafood
1,Flaming Stove,297.479531,21 Davisville Avenue,Middle Eastern
2,Oretta Midtown,335.242395,2131 Yonge Street,Breakfast & Brunch
3,Rachel's Coffee House,65.845281,2011 Yonge Street,Coffee & Tea
4,Punto Gelato,163.887830,2076 Yonge Street,Ice Cream & Frozen Yogurt

Station Name: Hillsdale Ave W / Yonge St lat: 43.7029672 long: -79.3979073 Number of free bikes are: 0

              name    distance                  location        POI_category
0      Oyster Mine  154.074926         2035 Yonge Street             Seafood
1   Oretta Midtown   79.505958         2131 Yonge Street  Breakfast & Brunch
2    Flaming Stove  559.393258      21 Davisville Avenue      Middle Eastern
3         Farm Boy  132.637997  2149 Yonge St., Unit 201             Grocery
4  Padaria Toronto   86.066704            5 Manor Road E            Bakeries

Station Name: Alvin Ave / St Clair Ave E lat: 43.68871 long: -79.39264 Number of free bikes are: 0

                 name    distance                 location        POI_category
0       Sunny Morning  253.769611        1392 Yonge Street  Breakfast & Brunch
1       Boxcar Social  781.359259        1208 Yonge Street           Wine Bars
2      Rosedale Diner  935.528839        1164 Yonge Street              Diners
3    Kiva's Bagel Bar  202.141944  15 Saint Clair Avenue W              Bagels
4  Aroma Espresso Bar  175.786423        1407 Yonge Street        Coffee & Tea

Station Name: Eglinton Ave W / Scarlett Rd lat: 43.6834703 long: -79.5108942 Number of free bikes are: 1

       name     distance        location        POI_category
0  7-Eleven  1142.831595  1390 Weston Rd  Convenience Stores

Station Name: The Pond Rd / Sentinel Rd lat: 43.7696262 long: -79.5025943 Number of free bikes are: 5

                     name    distance             location        POI_category
0                Gong Cha  181.078524  30-95 The Pond Road          Bubble Tea
1              Tim Horton  270.720793     70 The Pond Road        Coffee & Tea
2  Treats York University  478.935480    4700 Keele Street        Coffee & Tea
3                 La Prep  529.791366    4700 Keele Street  Breakfast & Brunch
4             Tim Hortons  915.281678        4211 Keele St        Coffee & Tea

Station Name: Sentinel Rd / Finch Corridor Trail lat: 43.7641485 long: -79.5012809 Number of free bikes are: 13

           name    distance             location  POI_category
0   Tim Hortons  375.077521       1493 Finch Ave  Coffee & Tea
1      Gong Cha  676.380971  30-95 The Pond Road    Bubble Tea
2    McDonald's  907.164015    3929 Keele Street     Fast Food
3  Mix & Matcha  920.061279  1325 Finch Avenue W  Coffee & Tea
4    Tim Horton  838.091134     70 The Pond Road  Coffee & Tea

Station Name: Finch West Subway Station lat: 43.76521 long: -79.491281 Number of free bikes are: 0

           name    distance             location  POI_category
0  Mix & Matcha  229.807356  1325 Finch Avenue W  Coffee & Tea
1    McDonald's  321.973689    3929 Keele Street     Fast Food
2      Gong Cha  924.522195  30-95 The Pond Road    Bubble Tea
3   Tim Hortons  347.287245  1275 Finch Avenue W  Coffee & Tea
4   Tim Hortons  789.324282       1493 Finch Ave  Coffee & Tea

Station Name: Dufferin St / Finch Corridor Trail lat: 43.7724019 long: -79.4675395 Number of free bikes are: 6

                   name    distance              location  POI_category
0             Starbucks  977.008420   1115 Finch Avenue W  Coffee & Tea
1  Coppa's Fresh Market  483.364996  4750 Dufferin Street       Grocery
2           Tim Hortons  624.987668   1060 Finch Ave West  Coffee & Tea
3           Tim Hortons  863.664291  4400 Dufferin Street         Cafes
4         George's Cafe  672.843824      4800 Dufferin St       Chinese

Station Name: G Ross Lord Park lat: 43.7781116 long: -79.467963 Number of free bikes are: 5

,name,distance,location,POI_category
0,Good Morning Friends,593.969910,5050 Dufferin Street,Breakfast & Brunch
1,Coppa's Fresh Market,263.878240,4750 Dufferin Street,Grocery
2,Cora,955.955767,1881 Steeles Ave W,Breakfast & Brunch
3,George's Cafe,159.084774,4800 Dufferin St,Chinese
4,Real Canadian Superstore,790.046884,51 Gerry Fitzgerald Drive,Grocery

Station Name: Elwood Blvd / Avenue Rd lat: 43.707049 long: -79.40966 Number of free bikes are: 1

,name,distance,location,POI_category
0,Isle of Coffee,277.995569,380A Eglinton Avenue W,Coffee & Tea
1,Crosstown Coffee Bar,352.467849,187 Highbourne Road,Coffee & Tea
2,De Mello Coffee,998.719396,2489 Yonge Street,Coffee & Tea
3,Oretta Midtown,1051.277958,2131 Yonge Street,Breakfast & Brunch
4,The Mad Bean,521.080349,519 Eglinton Avenue W,Coffee & Tea

Station Name: Roehampton Ave / Bayview Ave lat: 43.711751 long: -79.378615 Number of free bikes are: 5

                 name     distance              location        POI_category
0           Eggstatic   755.449715   1568 Bayview Avenue  Breakfast & Brunch
1            Sophie's   648.738636   1614 Bayview Avenue  Breakfast & Brunch
2               Metro    64.237310    656 Eglinton Ave E             Grocery
3  Whole Foods Market   270.355383      1860 Bayview Ave             Grocery
4    At Origin Coffee  1057.904859  687 Mt Pleasant Road        Coffee & Tea

Station Name: Teddington Park Ave lat: 43.732975 long: -79.40401 Number of free bikes are: 5

                 name    distance           location  POI_category
0  Aroma Espresso Bar  214.216583  3343 Yonge Street  Coffee & Tea
1          McDonald's   58.298076      3400 Yonge St  Coffee & Tea
2        Dak Lak Cafe   84.000910  3379 Yonge Street    Vietnamese
3     Brewing Brokers  696.441777  3153 Yonge Street  Coffee & Tea
4             Loblaws  349.716313  3501 Yonge Street       Grocery

Station Name: Ursula Franklin St / Huron St - SMART lat: 43.660274 long: -79.398049 Number of free bikes are: 5

,name,distance,location,POI_category
0,Voodoo Child,698.433773,388 College Street,Coffee & Tea
1,The Arch Café,570.765877,293 Augusta Ave.,Breakfast & Brunch
2,Free Times Cafe,492.824375,320 College Street,Breakfast & Brunch
3,Almond Butterfly Harbord Bakeshop & Cafe,521.969879,100 Harbord Street,Bakeries
4,Sneaky Dee's,878.153796,431 College Street,Tex-Mex

Station Name: Woodbine Ave / O'Connor Dr lat: 43.699281 long: -79.318802 Number of free bikes are: 8

,name,distance,location,POI_category
0,Rise & Dine Eatery,922.013196,2714 St. Clair Avenue E,Breakfast & Brunch
1,Mon K Patisserie,888.009213,1040 Coxwell Avenue,Coffee & Tea
2,The Maker Bean Cafe,10102.195109,1052 Bloor Street W,3D Printing
3,Tienda Movil,724.061500,1237 Woodbine Avenue,Grocery
4,Nostalgia Coffee Company,1017.265430,855 O'Connor Drive,Coffee & Tea

Station Name: Dawes Rd / Taylor Creek Trl lat: 43.696631 long: -79.297436 Number of free bikes are: 14

,name,distance,location,POI_category
0,Halibut House Fish and Chips,946.472299,3003 Danforth Avenue,Fish & Chips
1,"Press Books, Coffee and Vinyl",1148.396807,2442 Danforth Avenue,Bookstores
2,Bulk Barn,870.587457,Shoppers World Danforth,Discount Store
3,Pavillion Pastries Cafe,1001.479578,2554 Danforth Avenue,Greek
4,Mr Tasty's,878.017201,2743 Danforth Avenue,Greek

Station Name: Queen St W / John St lat: 43.650077 long: -79.391291 Number of free bikes are: 21

,name,distance,location,POI_category
0,Cafe Landwer - Adelaide & University,525.990756,165 University Avenue,Cafes
1,Le Sélect Bistro,819.232017,432 Wellington Street W,French
2,Hey Lucy,426.137585,295 King St. W.,Pizza
3,O&B Canteen,386.204585,330 King Street W,Comfort Food
4,Kost,538.861389,80 Blue Jays Way,American (Traditional)

Station Name: Fairmount Park lat: 43.6765897 long: -79.3163022 Number of free bikes are: 6

,name,distance,location,POI_category
0,Lazy Daisy's Cafe,498.686750,1515 Gerrard Street E,Cafes
1,Cafe Cocoro,944.571686,1989 Danforth Avenue,Korean
2,Red Rocket Coffee,1184.711030,1364 Danforth Avenue,Desserts
3,Patisserie La Cigogne,1070.809739,1419 Danforth Avenue,Desserts
4,Classic Juice,388.496242,287 Coxwell Avenue,Juice Bars & Smoothies

Station Name: Richmond St W / York St lat: 43.650745 long: -79.383633 Number of free bikes are: 0

,name,distance,location,POI_category
0,Cafe Landwer - Adelaide & University,245.720254,165 University Avenue,Cafes
1,Eggspectation,340.379081,483 Bay Street,Breakfast & Brunch
2,Pearl Diver,798.792109,100 Adelaide Street E,Seafood
3,Sud Forno,390.497632,132 Yonge Street,Bakeries
4,The Senator,670.081893,249 Victoria Street,Breakfast & Brunch

Station Name: Sunnybrook Park lat: 43.720233 long: -79.362092 Number of free bikes are: 9

          name    distance               location        POI_category
0     Eggsmart  826.315643    20 Brentcliffe Road  Breakfast & Brunch
1  Tim Hortons  768.590500  939 Eglinton Avenue E        Coffee & Tea

Station Name: Vaughan Rd / Oakwood Ave lat: 43.6926825 long: -79.441042 Number of free bikes are: 2

                     name     distance                location  POI_category
0     The Maker Bean Cafe  3632.562589     1052 Bloor Street W   3D Printing
1        Oakwood Espresso   723.960538    342-B Oakwood Avenue  Coffee & Tea
2             Best Choice    69.793791         526 Oakwood Ave       Grocery
3  Sunlong Natural Market   917.033656  1895 Eglinton Avenue W       Grocery
4      Hunter Coffee Shop   811.650941        423 Vaughan Road  Coffee & Tea

Station Name: Braemar Ave / Eglinton Ave W lat: 43.7041957 long: -79.4094472 Number of free bikes are: 4

,name,distance,location,POI_category
0,Isle of Coffee,51.091552,380A Eglinton Avenue W,Coffee & Tea
1,Crosstown Coffee Bar,194.144248,187 Highbourne Road,Coffee & Tea
2,The Mad Bean,352.847220,519 Eglinton Avenue W,Coffee & Tea
3,De Mello Coffee,1186.897214,2489 Yonge Street,Coffee & Tea
4,Oretta Midtown,964.417984,2131 Yonge Street,Breakfast & Brunch

Station Name: Eglinton Ave E / Redpath Ave lat: 43.7078691 long: -79.39248 Number of free bikes are: 1

,name,distance,location,POI_category
0,Istanbul Cafe & Espresso Bar,50.375228,174 Eglinton Avenue E,Coffee & Tea
1,The Social Blend,171.942052,130 Eglinton Avenue E,Coffee & Tea
2,Oyster Mine,772.784282,2035 Yonge Street,Seafood
3,Oretta Midtown,620.904037,2131 Yonge Street,Breakfast & Brunch
4,Function Bar,465.526276,2291 Yonge Street,Burgers

Station Name: Marie Curtis Park lat: 43.5880774 long: -79.5432067 Number of free bikes are: 20

,name,distance,location,POI_category
0,Lale Bakery & Caffe,749.845253,3665 Lakeshore Boulevard W,Coffee & Tea
1,Starbucks,1057.413765,3559 Lake Shore Boulevard W,Coffee & Tea
2,"Jeff, Rose & Herb's No Frills",688.663083,3730 Lakeshore Boulevard West,Grocery
3,Shoppers Drug Mart,667.733668,3730 Lake Shore Blvd W,Drugstores
4,Tim Hortons,629.077337,3719 Lakeshore Blvd West,Coffee & Tea

Station Name: Guildwood GO Station (South) lat: 43.754978 long: -79.1971289 Number of free bikes are: 0

                name    distance               location  POI_category
0  Moore's Valu-Mart  977.838799  123 Guildwood Parkway       Grocery
1        Tim Hortons  965.587744       91 Guildwood Pky  Coffee & Tea

Station Name: Chorley Park - SMART lat: 43.6856 long: -79.3718 Number of free bikes are: 9

                name    distance               location POI_category
0  Summerhill Market  304.711839  446 Summerhill Avenue      Grocery
1  Rosedale's Finest  385.628548  408 Summerhill Avenue      Grocery

Station Name: Cherry Beach lat: 43.637764 long: -79.345359 Number of free bikes are: 45

KeyError: 'location'

In [ ]:
#yelp function to extract the data
def extract_json(json):
    POI_data = json['businesses']
    return POI_data

In [ ]:
#calling the yelp function
extract_json(data)

In [16]:
#Saving the YELP API DataFrame into a CSV file so I can work on it and not have to waste my API calls
# Save the YELP DataFrame to a CSV file
# Define the file path for the CSV file
csv_file_yelp = "yelp.csv"

# Save the DataFrame to a CSV file
yelp_dataframe.to_csv(csv_file_yelp, index=False)

print("DataFrame saved to yelp.csv successfully!")

DataFrame saved to yelp.csv successfully!

# Comparing Results

Which API provided you with more complete data? Provide an explanation.

Get the top 10 restaurants according to their rating

In [ ]:
'''Yelp gives you more information about the POI since the website allows users to rate the POI. It provides the ratings and the number 
of ratings. This is much more convenient since it can show you the most top rated POI categories we have chosen next to a bike station in toronto'''

In [ ]:
#For data audits, I checked for null values and outliers for the Foursqaure Dataframe.
# Check for null values in the DataFrame
null_values = Foursquare_df.isnull()

# Count the number of null values in each column
null_counts = Foursquare_df.isnull().sum()

# Display the DataFrame containing boolean values for null check
print("Null Values Check:")
print(null_values)

# Display the count of null values in each column
print("\nNull Value Counts:")
print(null_counts)


# Get summary statistics of numerical columns will show any outliers we need to be aware of
summary_stats_foursquare = Foursquare_df.describe()
print(summary_stats_foursquare)

In [ ]:
#For data audits, I checked for null values and outliers for the Yelp Dataframe.
# Check for null values in the DataFrame
null_values = yelp_dataframe.isnull()

# Count the number of null values in each column
null_counts = yelp_dataframe.isnull().sum()

# Display the DataFrame containing boolean values for null check
print("Null Values Check:")
print(null_values)

# Display the count of null values in each column
print("\nNull Value Counts:")
print(null_counts)

# Get summary statistics of numerical columns will show any outliers we need to be aware of
summary_stats_yelp = yelp_dataframe.describe()
print(summary_stats_yelp)